CenterofExcellenceCoreComponents/SolutionPackage/CanvasApps/src/admin_setnewappowner_2ac35/pkgs/Wadl/PowerplatformforAdmins.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://europe-001.azure-apim.net/apim/powerplatformforadmins" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="PowerplatformforAdmins" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Power platform for Admins">Power platform for Admins is a service that enables environment administrators to manage environments and data loss prevention policies.</doc>
  <grammars>
    <jsonTypes targetNamespace="https://europe-001.azure-apim.net/apim/powerplatformforadmins" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <array typeRef="Policy" name="ResourceArray_ux5B_Policy_ux5D__value_def" />
      <object name="ResourceArray_ux5B_Policy_ux5D_">
        <property name="value" typeRef="ResourceArray_ux5B_Policy_ux5D__value_def" />
      </object>
      <string name="Policy_id_def" />
      <string name="Policy_type_def" />
      <string name="Policy_name_def" />
      <string name="Policy_properties_def_displayName_def" />
      <dateTimeString name="Policy_properties_def_createdTime_def" />
      <dateTimeString name="Policy_properties_def_lastModifiedTime_def" />
      <string name="Policy_properties_def_definition_def_constraints_def_environmentFilter1_def_type_def" />
      <string name="Policy_properties_def_definition_def_constraints_def_environmentFilter1_def_parameters_def_filterType_def" />
      <object name="Policy_properties_def_definition_def_constraints_def_environmentFilter1_def_parameters_def">
        <property name="environments" typeRef="PolicyEnvironments" />
        <property name="filterType" type="string" />
      </object>
      <object name="Policy_properties_def_definition_def_constraints_def_environmentFilter1_def">
        <property name="type" type="string" />
        <property name="parameters" typeRef="Policy_properties_def_definition_def_constraints_def_environmentFilter1_def_parameters_def" />
      </object>
      <object name="Policy_properties_def_definition_def_constraints_def">
        <property name="environmentFilter1" typeRef="Policy_properties_def_definition_def_constraints_def_environmentFilter1_def" />
      </object>
      <object name="Policy_properties_def_definition_def">
        <property name="$schema" type="string" />
        <property name="constraints" typeRef="Policy_properties_def_definition_def_constraints_def" />
        <property name="apiGroups" typeRef="PolicyApiGroups" />
        <property name="defaultApiGroup" type="string" />
        <property name="rules" typeRef="PolicyRules" />
      </object>
      <object name="Policy_properties_def">
        <property name="displayName" type="string" />
        <property name="createdTime" typeRef="Policy_properties_def_createdTime_def" />
        <property name="createdBy" typeRef="Principal_ux5B_CreatedBy_ux5D_" />
        <property name="lastModifiedTime" typeRef="Policy_properties_def_lastModifiedTime_def" />
        <property name="lastModifiedBy" typeRef="Principal_ux5B_ModifiedBy_ux5D_" />
        <property name="definition" typeRef="Policy_properties_def_definition_def" />
      </object>
      <object name="Policy">
        <property name="id" type="string" />
        <property name="type" type="string" />
        <property name="name" type="string" />
        <property name="properties" typeRef="Policy_properties_def" />
      </object>
      <array typeRef="Environment" name="ResourceArray_ux5B_Environment_ux5D__value_def" />
      <string name="ResourceArray_ux5B_Environment_ux5D__nextLink_def" />
      <object name="ResourceArray_ux5B_Environment_ux5D_">
        <property name="value" typeRef="ResourceArray_ux5B_Environment_ux5D__value_def" />
        <property name="nextLink" type="string" />
      </object>
      <string name="Environment_id_def" />
      <string name="Environment_type_def" />
      <string name="Environment_name_def" />
      <string name="Environment_location_def" />
      <string name="Environment_properties_def_azureRegionHint_def" />
      <string name="Environment_properties_def_displayName_def" />
      <dateTimeString name="Environment_properties_def_createdTime_def" />
      <dateTimeString name="Environment_properties_def_lastModifiedTime_def" />
      <string name="Environment_properties_def_provisioningState_def" />
      <string name="Environment_properties_def_creationType_def" />
      <string name="Environment_properties_def_environmentSku_def" />
      <string name="Environment_properties_def_environmentType_def" />
      <boolean name="Environment_properties_def_isDefault_def" />
      <string name="Environment_properties_def_runtimeEndpoints_def_microsoft_BusinessAppPlatform_def" />
      <string name="Environment_properties_def_runtimeEndpoints_def_microsoft_CommonDataModel_def" />
      <string name="Environment_properties_def_runtimeEndpoints_def_microsoft_PowerApps_def" />
      <string name="Environment_properties_def_runtimeEndpoints_def_microsoft_Flow_def" />
      <object name="Environment_properties_def_runtimeEndpoints_def">
        <property name="microsoft.BusinessAppPlatform" type="string" />
        <property name="microsoft.CommonDataModel" type="string" />
        <property name="microsoft.PowerApps" type="string" />
        <property name="microsoft.Flow" type="string" />
      </object>
      <dateTimeString name="Environment_properties_def_softDeletedTime_def" />
      <string name="Environment_properties_def_linkedEnvironmentMetadata_def_type_def" />
      <string name="Environment_properties_def_linkedEnvironmentMetadata_def_resourceId_def" />
      <string name="Environment_properties_def_linkedEnvironmentMetadata_def_friendlyName_def" />
      <string name="Environment_properties_def_linkedEnvironmentMetadata_def_uniqueName_def" />
      <string name="Environment_properties_def_linkedEnvironmentMetadata_def_domainName_def" />
      <string name="Environment_properties_def_linkedEnvironmentMetadata_def_version_def" />
      <string name="Environment_properties_def_linkedEnvironmentMetadata_def_instanceUrl_def" />
      <string name="Environment_properties_def_linkedEnvironmentMetadata_def_instanceApiUrl_def" />
      <integer name="Environment_properties_def_linkedEnvironmentMetadata_def_baseLanguage_def" />
      <string name="Environment_properties_def_linkedEnvironmentMetadata_def_instanceState_def" />
      <dateTimeString name="Environment_properties_def_linkedEnvironmentMetadata_def_createdTime_def" />
      <dateTimeString name="Environment_properties_def_linkedEnvironmentMetadata_def_modifiedTime_def" />
      <string name="Environment_properties_def_linkedEnvironmentMetadata_def_hostNameSuffix_def" />
      <string name="Environment_properties_def_linkedEnvironmentMetadata_def_bapSolutionId_def" />
      <string name="Environment_properties_def_linkedEnvironmentMetadata_def_creationTemplates_def_items_def" />
      <array type="string" name="Environment_properties_def_linkedEnvironmentMetadata_def_creationTemplates_def" />
      <string name="Environment_properties_def_linkedEnvironmentMetadata_def_managementPackageVersion_def" />
      <object name="Environment_properties_def_linkedEnvironmentMetadata_def">
        <property name="type" type="string" />
        <property name="resourceId" type="string" />
        <property name="friendlyName" type="string" />
        <property name="uniqueName" type="string" />
        <property name="domainName" type="string" />
        <property name="version" type="string" />
        <property name="instanceUrl" type="string" />
        <property name="instanceApiUrl" type="string" />
        <property name="baseLanguage" type="integer" />
        <property name="instanceState" type="string" />
        <property name="createdTime" typeRef="Environment_properties_def_linkedEnvironmentMetadata_def_createdTime_def" />
        <property name="modifiedTime" typeRef="Environment_properties_def_linkedEnvironmentMetadata_def_modifiedTime_def" />
        <property name="hostNameSuffix" type="string" />
        <property name="bapSolutionId" type="string" />
        <property name="creationTemplates" typeRef="Environment_properties_def_linkedEnvironmentMetadata_def_creationTemplates_def" />
        <property name="managementPackageVersion" type="string" />
      </object>
      <object name="Environment_properties_def">
        <property name="azureRegionHint" type="string" />
        <property name="displayName" type="string" />
        <property name="createdTime" typeRef="Environment_properties_def_createdTime_def" />
        <property name="createdBy" typeRef="Principal_ux5B_CreatedBy_ux5D_" />
        <property name="lastModifiedTime" typeRef="Environment_properties_def_lastModifiedTime_def" />
        <property name="lastModifiedBy" typeRef="Principal_ux5B_ModifiedBy_ux5D_" />
        <property name="provisioningState" type="string" />
        <property name="creationType" type="string" />
        <property name="environmentSku" type="string" />
        <property name="environmentType" type="string" />
        <property name="isDefault" type="boolean" />
        <property name="runtimeEndpoints" typeRef="Environment_properties_def_runtimeEndpoints_def" />
        <property name="softDeletedTime" typeRef="Environment_properties_def_softDeletedTime_def" />
        <property name="linkedEnvironmentMetadata" typeRef="Environment_properties_def_linkedEnvironmentMetadata_def" />
      </object>
      <object name="Environment">
        <property name="id" type="string" />
        <property name="type" type="string" />
        <property name="name" type="string" />
        <property name="location" type="string" />
        <property name="properties" typeRef="Environment_properties_def" />
      </object>
      <string name="ManagedEnvironmentPolicy_type_def" />
      <string name="ManagedEnvironmentPolicy_properties_def_displayName_def" />
      <string name="ManagedEnvironmentPolicy_properties_def_definition_def_constraints_def_environmentFilter1_def_type_def" />
      <string name="ManagedEnvironmentPolicy_properties_def_definition_def_constraints_def_environmentFilter1_def_parameters_def_filterType_def" />
      <object name="ManagedEnvironmentPolicy_properties_def_definition_def_constraints_def_environmentFilter1_def_parameters_def">
        <property name="environments" typeRef="PolicyEnvironments" />
        <property name="filterType" type="string" />
      </object>
      <object name="ManagedEnvironmentPolicy_properties_def_definition_def_constraints_def_environmentFilter1_def">
        <property name="type" type="string" />
        <property name="parameters" typeRef="ManagedEnvironmentPolicy_properties_def_definition_def_constraints_def_environmentFilter1_def_parameters_def" />
      </object>
      <object name="ManagedEnvironmentPolicy_properties_def_definition_def_constraints_def">
        <property name="environmentFilter1" typeRef="ManagedEnvironmentPolicy_properties_def_definition_def_constraints_def_environmentFilter1_def" />
      </object>
      <object name="ManagedEnvironmentPolicy_properties_def_definition_def">
        <property name="$schema" type="string" />
        <property name="constraints" typeRef="ManagedEnvironmentPolicy_properties_def_definition_def_constraints_def" />
        <property name="apiGroups" typeRef="PolicyApiGroups" />
        <property name="defaultApiGroup" type="string" />
        <property name="rules" typeRef="PolicyRules" />
      </object>
      <object name="ManagedEnvironmentPolicy_properties_def">
        <property name="displayName" type="string" />
        <property name="definition" typeRef="ManagedEnvironmentPolicy_properties_def_definition_def" />
      </object>
      <object name="ManagedEnvironmentPolicy">
        <property name="type" type="string" />
        <property name="properties" typeRef="ManagedEnvironmentPolicy_properties_def" />
      </object>
      <string name="ManagedTenantPolicy_type_def" />
      <string name="ManagedTenantPolicy_name_def" />
      <string name="ManagedTenantPolicy_id_def" />
      <string name="ManagedTenantPolicy_properties_def_displayName_def" />
      <string name="ManagedTenantPolicy_properties_def_definition_def_constraints_def_environmentFilter1_def_type_def" />
      <string name="ManagedTenantPolicy_properties_def_definition_def_constraints_def_environmentFilter1_def_parameters_def_filterType_def" />
      <object name="ManagedTenantPolicy_properties_def_definition_def_constraints_def_environmentFilter1_def_parameters_def">
        <property name="environments" typeRef="PolicyEnvironments" />
        <property name="filterType" type="string" />
      </object>
      <object name="ManagedTenantPolicy_properties_def_definition_def_constraints_def_environmentFilter1_def">
        <property name="type" type="string" />
        <property name="parameters" typeRef="ManagedTenantPolicy_properties_def_definition_def_constraints_def_environmentFilter1_def_parameters_def" />
      </object>
      <object name="ManagedTenantPolicy_properties_def_definition_def_constraints_def">
        <property name="environmentFilter1" typeRef="ManagedTenantPolicy_properties_def_definition_def_constraints_def_environmentFilter1_def" />
      </object>
      <object name="ManagedTenantPolicy_properties_def_definition_def">
        <property name="$schema" type="string" />
        <property name="constraints" typeRef="ManagedTenantPolicy_properties_def_definition_def_constraints_def" />
        <property name="apiGroups" typeRef="PolicyApiGroups" />
        <property name="defaultApiGroup" type="string" />
        <property name="rules" typeRef="PolicyRules" />
      </object>
      <object name="ManagedTenantPolicy_properties_def">
        <property name="displayName" type="string" />
        <property name="definition" typeRef="ManagedTenantPolicy_properties_def_definition_def" />
      </object>
      <object name="ManagedTenantPolicy">
        <property name="type" type="string" />
        <property name="name" type="string" />
        <property name="id" type="string" />
        <property name="properties" typeRef="ManagedTenantPolicy_properties_def" />
      </object>
      <string name="PolicyEnvironments_items_def_name_def" />
      <string name="PolicyEnvironments_items_def_id_def" />
      <string name="PolicyEnvironments_items_def_type_def" />
      <object name="PolicyEnvironments_items_def">
        <property name="name" type="string" />
        <property name="id" type="string" />
        <property name="type" type="string" />
      </object>
      <array typeRef="PolicyEnvironments_items_def" name="PolicyEnvironments" />
      <string name="PolicyRules_dataFlowRule_def_type_def" />
      <string name="PolicyRules_dataFlowRule_def_parameters_def_sourceApiGroup_def" />
      <string name="PolicyRules_dataFlowRule_def_parameters_def_destinationApiGroup_def" />
      <object name="PolicyRules_dataFlowRule_def_parameters_def">
        <property name="sourceApiGroup" type="string" />
        <property name="destinationApiGroup" type="string" />
      </object>
      <string name="PolicyRules_dataFlowRule_def_actions_def_blockAction_def_type_def" />
      <object name="PolicyRules_dataFlowRule_def_actions_def_blockAction_def">
        <property name="type" type="string" />
      </object>
      <object name="PolicyRules_dataFlowRule_def_actions_def">
        <property name="blockAction" typeRef="PolicyRules_dataFlowRule_def_actions_def_blockAction_def" />
      </object>
      <object name="PolicyRules_dataFlowRule_def">
        <property name="type" type="string" />
        <property name="parameters" typeRef="PolicyRules_dataFlowRule_def_parameters_def" />
        <property name="actions" typeRef="PolicyRules_dataFlowRule_def_actions_def" />
      </object>
      <object name="PolicyRules">
        <property name="dataFlowRule" typeRef="PolicyRules_dataFlowRule_def" />
      </object>
      <string name="PolicySchema" />
      <string name="PolicyConnector_id_def" />
      <string name="PolicyConnector_name_def" />
      <string name="PolicyConnector_type_def" />
      <object name="PolicyConnector">
        <property name="id" type="string" />
        <property name="name" type="string" />
        <property name="type" type="string" />
      </object>
      <object name="PolicyApiGroups">
        <property name="hbi" typeRef="PolicyHbi" />
        <property name="lbi" typeRef="PolicyLbi" />
      </object>
      <string name="PolicyHbi_description_def" />
      <string name="PolicyHbi_apis_def_items_def_id_def" />
      <string name="PolicyHbi_apis_def_items_def_name_def" />
      <string name="PolicyHbi_apis_def_items_def_type_def" />
      <object name="PolicyHbi_apis_def_items_def">
        <property name="id" type="string" />
        <property name="name" type="string" />
        <property name="type" type="string" />
      </object>
      <array typeRef="PolicyHbi_apis_def_items_def" name="PolicyHbi_apis_def" />
      <object name="PolicyHbi">
        <property name="description" type="string" />
        <property name="apis" typeRef="PolicyHbi_apis_def" />
      </object>
      <string name="PolicyLbi_description_def" />
      <string name="PolicyLbi_apis_def_items_def_id_def" />
      <string name="PolicyLbi_apis_def_items_def_name_def" />
      <string name="PolicyLbi_apis_def_items_def_type_def" />
      <object name="PolicyLbi_apis_def_items_def">
        <property name="id" type="string" />
        <property name="name" type="string" />
        <property name="type" type="string" />
      </object>
      <array typeRef="PolicyLbi_apis_def_items_def" name="PolicyLbi_apis_def" />
      <object name="PolicyLbi">
        <property name="description" type="string" />
        <property name="apis" typeRef="PolicyLbi_apis_def" />
      </object>
      <string name="PolicyDefaultApiGroup" />
      <boolean name="ValidateDeleteResponse_canInitiateDelete_def" />
      <string name="ValidateDeleteResponse_errors_def_items_def_error_def_code_def" />
      <string name="ValidateDeleteResponse_errors_def_items_def_error_def_message_def" />
      <object name="ValidateDeleteResponse_errors_def_items_def_error_def">
        <property name="code" type="string" />
        <property name="message" type="string" />
      </object>
      <object name="ValidateDeleteResponse_errors_def_items_def">
        <property name="error" typeRef="ValidateDeleteResponse_errors_def_items_def_error_def" />
      </object>
      <array typeRef="ValidateDeleteResponse_errors_def_items_def" name="ValidateDeleteResponse_errors_def" />
      <string name="ValidateDeleteResponse_resourcesToBeDeleted_def_items_def_id_def" />
      <string name="ValidateDeleteResponse_resourcesToBeDeleted_def_items_def_name_def" />
      <string name="ValidateDeleteResponse_resourcesToBeDeleted_def_items_def_type_def" />
      <object name="ValidateDeleteResponse_resourcesToBeDeleted_def_items_def">
        <property name="id" type="string" />
        <property name="name" type="string" />
        <property name="type" type="string" />
      </object>
      <array typeRef="ValidateDeleteResponse_resourcesToBeDeleted_def_items_def" name="ValidateDeleteResponse_resourcesToBeDeleted_def" />
      <object name="ValidateDeleteResponse">
        <property name="canInitiateDelete" type="boolean" />
        <property name="errors" typeRef="ValidateDeleteResponse_errors_def" />
        <property name="resourcesToBeDeleted" typeRef="ValidateDeleteResponse_resourcesToBeDeleted_def" />
      </object>
      <string name="ResourceArray_ux5B_RoleAssignment_ux5D__value_def_items_def_id_def" />
      <string name="ResourceArray_ux5B_RoleAssignment_ux5D__value_def_items_def_type_def" />
      <string name="ResourceArray_ux5B_RoleAssignment_ux5D__value_def_items_def_name_def" />
      <string name="ResourceArray_ux5B_RoleAssignment_ux5D__value_def_items_def_properties_def_scope_def" />
      <string name="ResourceArray_ux5B_RoleAssignment_ux5D__value_def_items_def_properties_def_roleDefinition_def_id_def" />
      <string name="ResourceArray_ux5B_RoleAssignment_ux5D__value_def_items_def_properties_def_roleDefinition_def_type_def" />
      <string name="ResourceArray_ux5B_RoleAssignment_ux5D__value_def_items_def_properties_def_roleDefinition_def_name_def" />
      <object name="ResourceArray_ux5B_RoleAssignment_ux5D__value_def_items_def_properties_def_roleDefinition_def">
        <property name="id" type="string" />
        <property name="type" type="string" />
        <property name="name" type="string" />
      </object>
      <string name="ResourceArray_ux5B_RoleAssignment_ux5D__value_def_items_def_properties_def_principal_def_id_def" />
      <string name="ResourceArray_ux5B_RoleAssignment_ux5D__value_def_items_def_properties_def_principal_def_displayName_def" />
      <string name="ResourceArray_ux5B_RoleAssignment_ux5D__value_def_items_def_properties_def_principal_def_email_def" />
      <string name="ResourceArray_ux5B_RoleAssignment_ux5D__value_def_items_def_properties_def_principal_def_type_def" />
      <object name="ResourceArray_ux5B_RoleAssignment_ux5D__value_def_items_def_properties_def_principal_def">
        <property name="id" type="string" />
        <property name="displayName" type="string" />
        <property name="email" type="string" />
        <property name="type" type="string" />
      </object>
      <object name="ResourceArray_ux5B_RoleAssignment_ux5D__value_def_items_def_properties_def">
        <property name="scope" type="string" />
        <property name="roleDefinition" typeRef="ResourceArray_ux5B_RoleAssignment_ux5D__value_def_items_def_properties_def_roleDefinition_def" />
        <property name="principal" typeRef="ResourceArray_ux5B_RoleAssignment_ux5D__value_def_items_def_properties_def_principal_def" />
      </object>
      <object name="ResourceArray_ux5B_RoleAssignment_ux5D__value_def_items_def">
        <property name="id" type="string" />
        <property name="type" type="string" />
        <property name="name" type="string" />
        <property name="properties" typeRef="ResourceArray_ux5B_RoleAssignment_ux5D__value_def_items_def_properties_def" />
      </object>
      <array typeRef="ResourceArray_ux5B_RoleAssignment_ux5D__value_def_items_def" name="ResourceArray_ux5B_RoleAssignment_ux5D__value_def" />
      <object name="ResourceArray_ux5B_RoleAssignment_ux5D_">
        <property name="value" typeRef="ResourceArray_ux5B_RoleAssignment_ux5D__value_def" />
      </object>
      <string name="RoleAssignment_add_def_items_def_roleAssignment_def_id_def" />
      <string name="RoleAssignment_add_def_items_def_roleAssignment_def_type_def" />
      <string name="RoleAssignment_add_def_items_def_roleAssignment_def_name_def" />
      <string name="RoleAssignment_add_def_items_def_roleAssignment_def_properties_def_scope_def" />
      <string name="RoleAssignment_add_def_items_def_roleAssignment_def_properties_def_roleDefinition_def_id_def" />
      <string name="RoleAssignment_add_def_items_def_roleAssignment_def_properties_def_roleDefinition_def_type_def" />
      <string name="RoleAssignment_add_def_items_def_roleAssignment_def_properties_def_roleDefinition_def_name_def" />
      <object name="RoleAssignment_add_def_items_def_roleAssignment_def_properties_def_roleDefinition_def">
        <property name="id" type="string" />
        <property name="type" type="string" />
        <property name="name" type="string" />
      </object>
      <string name="RoleAssignment_add_def_items_def_roleAssignment_def_properties_def_principal_def_id_def" />
      <string name="RoleAssignment_add_def_items_def_roleAssignment_def_properties_def_principal_def_displayName_def" />
      <string name="RoleAssignment_add_def_items_def_roleAssignment_def_properties_def_principal_def_email_def" />
      <string name="RoleAssignment_add_def_items_def_roleAssignment_def_properties_def_principal_def_type_def" />
      <object name="RoleAssignment_add_def_items_def_roleAssignment_def_properties_def_principal_def">
        <property name="id" type="string" />
        <property name="displayName" type="string" />
        <property name="email" type="string" />
        <property name="type" type="string" />
      </object>
      <object name="RoleAssignment_add_def_items_def_roleAssignment_def_properties_def">
        <property name="scope" type="string" />
        <property name="roleDefinition" typeRef="RoleAssignment_add_def_items_def_roleAssignment_def_properties_def_roleDefinition_def" />
        <property name="principal" typeRef="RoleAssignment_add_def_items_def_roleAssignment_def_properties_def_principal_def" />
      </object>
      <object name="RoleAssignment_add_def_items_def_roleAssignment_def">
        <property name="id" type="string" />
        <property name="type" type="string" />
        <property name="name" type="string" />
        <property name="properties" typeRef="RoleAssignment_add_def_items_def_roleAssignment_def_properties_def" />
      </object>
      <string name="RoleAssignment_add_def_items_def_httpStatus_def" />
      <object name="RoleAssignment_add_def_items_def">
        <property name="roleAssignment" typeRef="RoleAssignment_add_def_items_def_roleAssignment_def" />
        <property name="httpStatus" type="string" />
      </object>
      <array typeRef="RoleAssignment_add_def_items_def" name="RoleAssignment_add_def" />
      <object name="RoleAssignment">
        <property name="add" typeRef="RoleAssignment_add_def" />
      </object>
      <string name="ManageRoleAssignment_add_def_items_def_properties_def_principal_def_email_def" />
      <string name="ManageRoleAssignment_add_def_items_def_properties_def_principal_def_tenantId_def" />
      <string name="ManageRoleAssignment_add_def_items_def_properties_def_principal_def_id_def" />
      <string name="ManageRoleAssignment_add_def_items_def_properties_def_principal_def_type_def" />
      <object name="ManageRoleAssignment_add_def_items_def_properties_def_principal_def">
        <property name="email" type="string" />
        <property name="tenantId" type="string" />
        <property name="id" type="string" />
        <property name="type" type="string" />
      </object>
      <string name="ManageRoleAssignment_add_def_items_def_properties_def_roleDefinition_def_id_def" />
      <object name="ManageRoleAssignment_add_def_items_def_properties_def_roleDefinition_def">
        <property name="id" type="string" />
      </object>
      <object name="ManageRoleAssignment_add_def_items_def_properties_def">
        <property name="principal" typeRef="ManageRoleAssignment_add_def_items_def_properties_def_principal_def" />
        <property name="roleDefinition" typeRef="ManageRoleAssignment_add_def_items_def_properties_def_roleDefinition_def" />
      </object>
      <object name="ManageRoleAssignment_add_def_items_def">
        <property name="properties" typeRef="ManageRoleAssignment_add_def_items_def_properties_def" />
      </object>
      <array typeRef="ManageRoleAssignment_add_def_items_def" name="ManageRoleAssignment_add_def" />
      <string name="ManageRoleAssignment_remove_def_items_def_id_def" />
      <object name="ManageRoleAssignment_remove_def_items_def">
        <property name="id" type="string" />
      </object>
      <array typeRef="ManageRoleAssignment_remove_def_items_def" name="ManageRoleAssignment_remove_def" />
      <object name="ManageRoleAssignment">
        <property name="add" typeRef="ManageRoleAssignment_add_def" />
        <property name="remove" typeRef="ManageRoleAssignment_remove_def" />
      </object>
      <string name="Principal_ux5B_ModifiedBy_ux5D__id_def" />
      <string name="Principal_ux5B_ModifiedBy_ux5D__displayName_def" />
      <string name="Principal_ux5B_ModifiedBy_ux5D__email_def" />
      <string name="Principal_ux5B_ModifiedBy_ux5D__type_def" />
      <string name="Principal_ux5B_ModifiedBy_ux5D__tenantId_def" />
      <string name="Principal_ux5B_ModifiedBy_ux5D__userPrincipalName_def" />
      <object name="Principal_ux5B_ModifiedBy_ux5D_">
        <property name="id" type="string" />
        <property name="displayName" type="string" />
        <property name="email" type="string" />
        <property name="type" type="string" />
        <property name="tenantId" type="string" />
        <property name="userPrincipalName" type="string" />
      </object>
      <string name="Principal_ux5B_CreatedBy_ux5D__id_def" />
      <string name="Principal_ux5B_CreatedBy_ux5D__displayName_def" />
      <string name="Principal_ux5B_CreatedBy_ux5D__email_def" />
      <string name="Principal_ux5B_CreatedBy_ux5D__type_def" />
      <string name="Principal_ux5B_CreatedBy_ux5D__tenantId_def" />
      <string name="Principal_ux5B_CreatedBy_ux5D__userPrincipalName_def" />
      <object name="Principal_ux5B_CreatedBy_ux5D_">
        <property name="id" type="string" />
        <property name="displayName" type="string" />
        <property name="email" type="string" />
        <property name="type" type="string" />
        <property name="tenantId" type="string" />
        <property name="userPrincipalName" type="string" />
      </object>
      <string name="Locations_value_def_items_def_id_def" />
      <string name="Locations_value_def_items_def_name_def" />
      <string name="Locations_value_def_items_def_properties_def_displayName_def" />
      <boolean name="Locations_value_def_items_def_properties_def_isDefault_def" />
      <boolean name="Locations_value_def_items_def_properties_def_isDisabled_def" />
      <object name="Locations_value_def_items_def_properties_def">
        <property name="displayName" type="string" />
        <property name="isDefault" type="boolean" />
        <property name="isDisabled" type="boolean" />
      </object>
      <object name="Locations_value_def_items_def">
        <property name="id" type="string" />
        <property name="name" type="string" />
        <property name="properties" typeRef="Locations_value_def_items_def_properties_def" />
      </object>
      <array typeRef="Locations_value_def_items_def" name="Locations_value_def" />
      <object name="Locations">
        <property name="value" typeRef="Locations_value_def" />
      </object>
      <string name="Currencies_value_def_items_def_id_def" />
      <string name="Currencies_value_def_items_def_name_def" />
      <integer name="Currencies_value_def_items_def_properties_def_localeId_def" />
      <string name="Currencies_value_def_items_def_properties_def_localizedName_def" />
      <string name="Currencies_value_def_items_def_properties_def_displayName_def" />
      <object name="Currencies_value_def_items_def_properties_def">
        <property name="localeId" type="integer" />
        <property name="localizedName" type="string" />
        <property name="displayName" type="string" />
      </object>
      <object name="Currencies_value_def_items_def">
        <property name="id" type="string" />
        <property name="name" type="string" />
        <property name="properties" typeRef="Currencies_value_def_items_def_properties_def" />
      </object>
      <array typeRef="Currencies_value_def_items_def" name="Currencies_value_def" />
      <object name="Currencies">
        <property name="value" typeRef="Currencies_value_def" />
      </object>
      <string name="Languages_value_def_items_def_name_def" />
      <string name="Languages_value_def_items_def_id_def" />
      <string name="Languages_value_def_items_def_type_def" />
      <integer name="Languages_value_def_items_def_properties_def_localeId_def" />
      <string name="Languages_value_def_items_def_properties_def_localizedName_def" />
      <string name="Languages_value_def_items_def_properties_def_displayName_def" />
      <boolean name="Languages_value_def_items_def_properties_def_isTenantDefault_def" />
      <object name="Languages_value_def_items_def_properties_def">
        <property name="localeId" type="integer" />
        <property name="localizedName" type="string" />
        <property name="displayName" type="string" />
        <property name="isTenantDefault" type="boolean" />
      </object>
      <object name="Languages_value_def_items_def">
        <property name="name" type="string" />
        <property name="id" type="string" />
        <property name="type" type="string" />
        <property name="properties" typeRef="Languages_value_def_items_def_properties_def" />
      </object>
      <array typeRef="Languages_value_def_items_def" name="Languages_value_def" />
      <object name="Languages">
        <property name="value" typeRef="Languages_value_def" />
      </object>
      <string name="NewAdminEnvironment_param_body_def_location_def" />
      <string name="NewAdminEnvironment_param_body_def_properties_def_displayName_def" />
      <string name="NewAdminEnvironment_param_body_def_properties_def_environmentSku_def" />
      <object name="NewAdminEnvironment_param_body_def_properties_def">
        <property name="displayName" type="string" />
        <property name="environmentSku" type="string" />
      </object>
      <object name="NewAdminEnvironment_param_body_def">
        <property name="location" type="string" />
        <property name="properties" typeRef="NewAdminEnvironment_param_body_def_properties_def" />
      </object>
      <object name="Remove-AdminEnvironment_responses_200_def" />
      <object name="RemoveTenantPolicy_responses_200_def" />
      <integer name="ProvisionInstance_param_body_def_baseLanguage_def" />
      <string name="ProvisionInstance_param_body_def_currency_def_code_def" />
      <object name="ProvisionInstance_param_body_def_currency_def">
        <property name="code" type="string" />
      </object>
      <string name="ProvisionInstance_param_body_def_templates_def_items_def" />
      <array type="string" name="ProvisionInstance_param_body_def_templates_def" />
      <object name="ProvisionInstance_param_body_def">
        <property name="baseLanguage" type="integer" />
        <property name="currency" typeRef="ProvisionInstance_param_body_def_currency_def" />
        <property name="templates" typeRef="ProvisionInstance_param_body_def_templates_def" />
      </object>
      <object name="RemoveEnvironmentPolicy_responses_200_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://europe-001.azure-apim.net/apim/powerplatformforadmins">
    <resource path="/{connectionId}/environments">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="GetAdminEnvironment" siena:isDeprecated="false">
        <doc title="List Environments as Admin&#xA;Returns a list of Environments." />
        <request>
          <param style="query" name="api-version" type="xs:string" default="2018-10-01">
            <doc title="The date value of the API." />
          </param>
          <param style="query" name="$skiptoken" type="xs:string">
            <doc title="The input used to get the next page of the response." />
          </param>
          <param style="query" name="$top" type="xs:long">
            <doc title="Number of Environments in the response." />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResourceArray_ux5B_Environment_ux5D_" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/environments">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="NewAdminEnvironment" siena:isDeprecated="false">
        <doc title="Create Environment&#xA;Creates a new Environment." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2018-01-01">
            <doc title="The date value of the API." />
          </param>
          <param style="query" name="id" type="xs:string" required="true" fixed="/providers/Microsoft.BusinessAppPlatform/scopes/admin/environments">
            <doc title="Environment Id to create a new environment." />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="location" path="/location" type="xs:string" required="true" />
            <param style="plain" name="properties" path="/properties" type="service:NewAdminEnvironment_param_body_def_properties_def" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:Environment" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/environments/{environment}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="environment" type="xs:string" required="true">
        <doc title="Name of the Environment." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="GetSingleEnvironment" siena:isDeprecated="false">
        <doc title="Get Environment as Admin&#xA;Returns a single Environment as Admin." />
        <request>
          <param style="query" name="api-version" type="xs:string" default="2018-10-01">
            <doc title="The date value of the API." />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:Environment" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/environments/{environment}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="environment" type="xs:string" required="true">
        <doc title="Name of the Environment." />
      </param>
      <method siena:requiresAuthentication="true" name="DELETE" id="RemoveAdminEnvironment" siena:isDeprecated="false">
        <doc title="Delete Environment&#xA;Deletes an Environment." />
        <request>
          <param style="query" name="api-version" type="xs:string" default="2018-10-01">
            <doc title="The date value of the API." />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:Remove-AdminEnvironment_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/environments/{environment}/roleAssignments">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="environment" type="xs:string" required="true">
        <doc title="Name of the Environment." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="GetAdminEnvironmentRoleAssignment" siena:isDeprecated="false">
        <doc title="List Environment Role Assignments&#xA;Returns a list of permissions for an Environment without CDS for Apps." />
        <request>
          <param style="query" name="api-version" type="xs:string" default="2018-10-01">
            <doc title="The date value of the API." />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResourceArray_ux5B_RoleAssignment_ux5D_" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/environments/{environment}/modifyRoleAssignments">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="environment" type="xs:string" required="true">
        <doc title="Name of the Environment." />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="EditAdminEnvironmentRoleAssignment" siena:isDeprecated="false">
        <doc title="Edit Environment Role Assignment&#xA;Sets permissions for an Environment." />
        <request>
          <param style="query" name="api-version" type="xs:string" default="2018-10-01">
            <doc title="The date value of the API." />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="add" path="/add" type="service:ManageRoleAssignment_add_def" />
            <param style="plain" name="remove" path="/remove" type="service:ManageRoleAssignment_remove_def" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:RoleAssignment" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/apiPolicies">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="GetAdminDlpPolicies" siena:isDeprecated="false">
        <doc title="List DLP Policies&#xA;Returns a list of all Tenant and Environment DLP Policies." />
        <request>
          <param style="query" name="api-version" type="xs:string" default="2018-10-01">
            <doc title="The date value of the API." />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResourceArray_ux5B_Policy_ux5D_" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/apiPolicies">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="NewTenantPolicy" siena:isDeprecated="false">
        <doc title="Create Tenant DLP Policy&#xA;Creates a new Tenant DLP Policy." />
        <request>
          <param style="query" name="api-version" type="xs:string" default="2018-10-01">
            <doc title="The date value of the API." />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="type" path="/type" type="xs:string" required="true" default="Microsoft.BusinessAppPlatform/scopes/apiPolicies" />
            <param style="plain" name="name" path="/name" type="xs:string" />
            <param style="plain" name="id" path="/id" type="xs:string" />
            <param style="plain" name="properties" path="/properties" type="service:ManagedTenantPolicy_properties_def" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:Policy" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/apiPolicies/{policy}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="policy" type="xs:string" required="true">
        <doc title="The name field of the Policy." />
      </param>
      <method siena:requiresAuthentication="true" name="PUT" id="EditAdminDlpPolicy" siena:isDeprecated="false">
        <doc title="Update Tenant DLP Policy&#xA;Updates the fields in a DLP Policy." />
        <request>
          <param style="query" name="api-version" type="xs:string" default="2018-10-01">
            <doc title="The date value of the API." />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="type" path="/type" type="xs:string" required="true" default="Microsoft.BusinessAppPlatform/scopes/apiPolicies" />
            <param style="plain" name="name" path="/name" type="xs:string" />
            <param style="plain" name="id" path="/id" type="xs:string" />
            <param style="plain" name="properties" path="/properties" type="service:ManagedTenantPolicy_properties_def" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:Policy" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/apiPolicies/{policy}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="policy" type="xs:string" required="true">
        <doc title="The name field of the Policy." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="GetTenantPolicy" siena:isDeprecated="false">
        <doc title="Get Tenant DLP Policy&#xA;Returns a Tenant DLP Policy." />
        <request>
          <param style="query" name="api-version" type="xs:string" default="2018-10-01">
            <doc title="The date value of the API." />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:Policy" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/apiPolicies/{policy}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="policy" type="xs:string" required="true">
        <doc title="The name field of the Policy." />
      </param>
      <method siena:requiresAuthentication="true" name="DELETE" id="RemoveTenantPolicy" siena:isDeprecated="false">
        <doc title="Delete Tenant DLP Policy&#xA;Deletes a Tenant DLP Policy." />
        <request>
          <param style="query" name="api-version" type="xs:string" default="2018-10-01">
            <doc title="The date value of the API." />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:RemoveTenantPolicy_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/locations">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="ListSupportedLocations" siena:isDeprecated="false">
        <doc title="List Supported Locations&#xA;Returns a list of Locations where BAP service is supported." />
        <request>
          <param style="query" name="api-version" type="xs:string" default="2018-10-01">
            <doc title="The date value of the API." />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:Locations" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/locations/{environmentLocation}/environmentLanguages">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="environmentLocation" type="xs:string" required="true">
        <doc title="The location of the Environment." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="ListEnvironmentLanguages" siena:isDeprecated="false">
        <doc title="List Supported Environment Languages&#xA;Returns a list of supported Languages based on the location." />
        <request>
          <param style="query" name="api-version" type="xs:string" default="2018-10-01">
            <doc title="The date value of the API." />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:Languages" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/locations/{environmentLocation}/environmentCurrencies">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="environmentLocation" type="xs:string" required="true">
        <doc title="The location of the Environment." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="ListEnvironmentCurrencies" siena:isDeprecated="false">
        <doc title="List Supported Environment Currencies&#xA;Returns a list of supported Currencies based on the location." />
        <request>
          <param style="query" name="api-version" type="xs:string" default="2018-10-01">
            <doc title="The date value of the API." />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:Currencies" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/environments/{environment}/provisionInstance">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="environment" type="xs:string" required="true">
        <doc title="Name of the Environment." />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="ProvisionInstance" siena:isDeprecated="false">
        <doc title="Create CDS Database&#xA;Creates a new CDS instance in the specified Environment." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2018-01-01">
            <doc title="The date value of the API." />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="baseLanguage" path="/baseLanguage" type="xs:long" />
            <param style="plain" name="currency" path="/currency" type="service:ProvisionInstance_param_body_def_currency_def" />
            <param style="plain" name="templates" path="/templates" type="service:ProvisionInstance_param_body_def_templates_def" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:Environment" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/environments/{environment}/provisionOperations/{operationName}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="environment" type="xs:string" required="true">
        <doc title="Name of the Environment." />
      </param>
      <param style="template" name="operationName" type="xs:string" required="true">
        <doc title="Name of the Operation." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="GetProvisionOperation" siena:isDeprecated="false">
        <doc title="Get CDS Provisioning Status&#xA;Used to check the status of a provisioning operation." />
        <request>
          <param style="query" name="api-version" type="xs:string" default="2018-10-01">
            <doc title="The date value of the API." />
          </param>
        </request>
      </method>
    </resource>
    <resource path="/{connectionId}/environments/{environment}/operations/{operationName}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="environment" type="xs:string" required="true">
        <doc title="Name of the Environment." />
      </param>
      <param style="template" name="operationName" type="xs:string" required="true">
        <doc title="Name of the Operation." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="GetEnvironmentOperation" siena:isDeprecated="false">
        <doc title="Get Environment Operation Status&#xA;Used to check the status of an environment operation, sucn as deletion." />
        <request>
          <param style="query" name="api-version" type="xs:string" default="2018-10-01">
            <doc title="The date value of the API." />
          </param>
        </request>
      </method>
    </resource>
    <resource path="/{connectionId}/environments/{environment}/validateDelete">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="environment" type="xs:string" required="true">
        <doc title="Name of the Environment." />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="ValidateDelete" siena:isDeprecated="false">
        <doc title="Validate Environment Delete&#xA;Used to check if an Environment can be deleted." />
        <request>
          <param style="query" name="api-version" type="xs:string" default="2018-10-01">
            <doc title="The date value of the API." />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ValidateDeleteResponse" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/environments/{environment}/apiPolicies">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="environment" type="xs:string" required="true">
        <doc title="Name of the Environment." />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="NewEnvironmentPolicy" siena:isDeprecated="false">
        <doc title="Create Environment DLP Policy&#xA;Creates an Environment DLP Policy." />
        <request>
          <param style="query" name="api-version" type="xs:string" default="2018-10-01">
            <doc title="The date value of the API." />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="type" path="/type" type="xs:string" required="true" default="Microsoft.BusinessAppPlatform/scopes/environments/apiPolicies" />
            <param style="plain" name="properties" path="/properties" type="service:ManagedEnvironmentPolicy_properties_def" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:Policy" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/environments/{environment}/apiPolicies/{policy}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="environment" type="xs:string" required="true">
        <doc title="Name of the Environment." />
      </param>
      <param style="template" name="policy" type="xs:string" required="true">
        <doc title="The name field of the Policy." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="GetEnvironmentPolicy" siena:isDeprecated="false">
        <doc title="Get Environment DLP Policy&#xA;Returns an Environment DLP Policy." />
        <request>
          <param style="query" name="api-version" type="xs:string" default="2018-10-01">
            <doc title="The date value of the API." />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:Policy" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/environments/{environment}/apiPolicies/{policy}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="environment" type="xs:string" required="true">
        <doc title="Name of the Environment." />
      </param>
      <param style="template" name="policy" type="xs:string" required="true">
        <doc title="The name field of the Policy." />
      </param>
      <method siena:requiresAuthentication="true" name="PUT" id="EditEnvironmentPolicy" siena:isDeprecated="false">
        <doc title="Update Environment DLP Policy&#xA;Updates an Environment DLP Policy." />
        <request>
          <param style="query" name="api-version" type="xs:string" default="2018-10-01">
            <doc title="The date value of the API." />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="type" path="/type" type="xs:string" required="true" default="Microsoft.BusinessAppPlatform/scopes/environments/apiPolicies" />
            <param style="plain" name="properties" path="/properties" type="service:ManagedEnvironmentPolicy_properties_def" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:Policy" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/environments/{environment}/apiPolicies/{policy}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="environment" type="xs:string" required="true">
        <doc title="Name of the Environment." />
      </param>
      <param style="template" name="policy" type="xs:string" required="true">
        <doc title="The name field of the Policy." />
      </param>
      <method siena:requiresAuthentication="true" name="DELETE" id="RemoveEnvironmentPolicy" siena:isDeprecated="false">
        <doc title="Delete Environment DLP Policy&#xA;Deletes an Environment DLP Policy." />
        <request>
          <param style="query" name="api-version" type="xs:string" default="2018-10-01">
            <doc title="The date value of the API." />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:RemoveEnvironmentPolicy_responses_200_def" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="shared_powerplatformforadmins" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>