CenterofExcellenceCoreComponents/SolutionPackage/CanvasApps/src/admin_setnewappowner_2ac35/pkgs/Wadl/PowerAppsforAdmins.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://europe-001.azure-apim.net/apim/powerappsforadmins" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="PowerAppsforAdmins" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="PowerApps for Admins">PowerApps Management Connector For Administrators</doc>
  <grammars>
    <jsonTypes targetNamespace="https://europe-001.azure-apim.net/apim/powerappsforadmins" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <array typeRef="PowerApp" name="ResourceArray_ux5B_PowerApp_ux5D__value_def" />
      <string name="ResourceArray_ux5B_PowerApp_ux5D__nextLink_def" />
      <object name="ResourceArray_ux5B_PowerApp_ux5D_">
        <property name="value" typeRef="ResourceArray_ux5B_PowerApp_ux5D__value_def" />
        <property name="nextLink" type="string" />
      </object>
      <string name="PowerApp_id_def" />
      <string name="PowerApp_name_def" />
      <dateTimeString name="PowerApp_properties_def_appVersion_def" />
      <integer name="PowerApp_properties_def_createdByClientVersion_def_major_def" />
      <integer name="PowerApp_properties_def_createdByClientVersion_def_minor_def" />
      <integer name="PowerApp_properties_def_createdByClientVersion_def_build_def" />
      <integer name="PowerApp_properties_def_createdByClientVersion_def_revision_def" />
      <integer name="PowerApp_properties_def_createdByClientVersion_def_majorRevision_def" />
      <integer name="PowerApp_properties_def_createdByClientVersion_def_minorRevision_def" />
      <object name="PowerApp_properties_def_createdByClientVersion_def">
        <property name="major" type="integer" />
        <property name="minor" type="integer" />
        <property name="build" type="integer" />
        <property name="revision" type="integer" />
        <property name="majorRevision" type="integer" />
        <property name="minorRevision" type="integer" />
      </object>
      <integer name="PowerApp_properties_def_minClientVersion_def_major_def" />
      <integer name="PowerApp_properties_def_minClientVersion_def_minor_def" />
      <integer name="PowerApp_properties_def_minClientVersion_def_build_def" />
      <integer name="PowerApp_properties_def_minClientVersion_def_revision_def" />
      <integer name="PowerApp_properties_def_minClientVersion_def_majorRevision_def" />
      <integer name="PowerApp_properties_def_minClientVersion_def_minorRevision_def" />
      <object name="PowerApp_properties_def_minClientVersion_def">
        <property name="major" type="integer" />
        <property name="minor" type="integer" />
        <property name="build" type="integer" />
        <property name="revision" type="integer" />
        <property name="majorRevision" type="integer" />
        <property name="minorRevision" type="integer" />
      </object>
      <string name="PowerApp_properties_def_owner_def_id_def" />
      <string name="PowerApp_properties_def_owner_def_displayName_def" />
      <string name="PowerApp_properties_def_owner_def_email_def" />
      <string name="PowerApp_properties_def_owner_def_type_def" />
      <string name="PowerApp_properties_def_owner_def_tenantId_def" />
      <string name="PowerApp_properties_def_owner_def_userPrincipalName_def" />
      <object name="PowerApp_properties_def_owner_def">
        <property name="id" type="string" />
        <property name="displayName" type="string" />
        <property name="email" type="string" />
        <property name="type" type="string" />
        <property name="tenantId" type="string" />
        <property name="userPrincipalName" type="string" />
      </object>
      <string name="PowerApp_properties_def_createdBy_def_id_def" />
      <string name="PowerApp_properties_def_createdBy_def_displayName_def" />
      <string name="PowerApp_properties_def_createdBy_def_email_def" />
      <string name="PowerApp_properties_def_createdBy_def_type_def" />
      <string name="PowerApp_properties_def_createdBy_def_tenantId_def" />
      <string name="PowerApp_properties_def_createdBy_def_userPrincipalName_def" />
      <object name="PowerApp_properties_def_createdBy_def">
        <property name="id" type="string" />
        <property name="displayName" type="string" />
        <property name="email" type="string" />
        <property name="type" type="string" />
        <property name="tenantId" type="string" />
        <property name="userPrincipalName" type="string" />
      </object>
      <string name="PowerApp_properties_def_lastModifiedBy_def_id_def" />
      <string name="PowerApp_properties_def_lastModifiedBy_def_displayName_def" />
      <string name="PowerApp_properties_def_lastModifiedBy_def_email_def" />
      <string name="PowerApp_properties_def_lastModifiedBy_def_type_def" />
      <string name="PowerApp_properties_def_lastModifiedBy_def_tenantId_def" />
      <string name="PowerApp_properties_def_lastModifiedBy_def_userPrincipalName_def" />
      <object name="PowerApp_properties_def_lastModifiedBy_def">
        <property name="id" type="string" />
        <property name="displayName" type="string" />
        <property name="email" type="string" />
        <property name="type" type="string" />
        <property name="tenantId" type="string" />
        <property name="userPrincipalName" type="string" />
      </object>
      <string name="PowerApp_properties_def_backgroundColor_def" />
      <string name="PowerApp_properties_def_backgroundImageUri_def" />
      <string name="PowerApp_properties_def_displayName_def" />
      <string name="PowerApp_properties_def_description_def" />
      <string name="PowerApp_properties_def_appUris_def_documentUri_def_value_def" />
      <string name="PowerApp_properties_def_appUris_def_documentUri_def_readonlyValue_def" />
      <object name="PowerApp_properties_def_appUris_def_documentUri_def">
        <property name="value" type="string" />
        <property name="readonlyValue" type="string" />
      </object>
      <string name="PowerApp_properties_def_appUris_def_imageUris_def_items_def" />
      <array type="string" name="PowerApp_properties_def_appUris_def_imageUris_def" />
      <object name="PowerApp_properties_def_appUris_def">
        <property name="documentUri" typeRef="PowerApp_properties_def_appUris_def_documentUri_def" />
        <property name="imageUris" typeRef="PowerApp_properties_def_appUris_def_imageUris_def" />
      </object>
      <dateTimeString name="PowerApp_properties_def_createdTime_def" />
      <dateTimeString name="PowerApp_properties_def_lastModifiedTime_def" />
      <integer name="PowerApp_properties_def_sharedGroupsCount_def" />
      <integer name="PowerApp_properties_def_sharedUsersCount_def" />
      <string name="PowerApp_properties_def_appOpenProtocolUri_def" />
      <string name="PowerApp_properties_def_appOpenUri_def" />
      <string name="PowerApp_properties_def_userAppMetadata_def_favorite_def" />
      <boolean name="PowerApp_properties_def_userAppMetadata_def_includeInAppsList_def" />
      <object name="PowerApp_properties_def_userAppMetadata_def">
        <property name="favorite" type="string" />
        <property name="includeInAppsList" type="boolean" />
      </object>
      <boolean name="PowerApp_properties_def_isFeaturedApp_def" />
      <boolean name="PowerApp_properties_def_bypassConsent_def" />
      <boolean name="PowerApp_properties_def_isHeroApp_def" />
      <string name="PowerApp_properties_def_environment_def_id_def" />
      <string name="PowerApp_properties_def_environment_def_name_def" />
      <object name="PowerApp_properties_def_environment_def">
        <property name="id" type="string" />
        <property name="name" type="string" />
      </object>
      <object name="PowerApp_properties_def">
        <property name="appVersion" typeRef="PowerApp_properties_def_appVersion_def" />
        <property name="createdByClientVersion" typeRef="PowerApp_properties_def_createdByClientVersion_def" />
        <property name="minClientVersion" typeRef="PowerApp_properties_def_minClientVersion_def" />
        <property name="owner" typeRef="PowerApp_properties_def_owner_def" />
        <property name="createdBy" typeRef="PowerApp_properties_def_createdBy_def" />
        <property name="lastModifiedBy" typeRef="PowerApp_properties_def_lastModifiedBy_def" />
        <property name="backgroundColor" type="string" />
        <property name="backgroundImageUri" type="string" />
        <property name="displayName" type="string" />
        <property name="description" type="string" />
        <property name="appUris" typeRef="PowerApp_properties_def_appUris_def" />
        <property name="createdTime" typeRef="PowerApp_properties_def_createdTime_def" />
        <property name="lastModifiedTime" typeRef="PowerApp_properties_def_lastModifiedTime_def" />
        <property name="sharedGroupsCount" type="integer" />
        <property name="sharedUsersCount" type="integer" />
        <property name="appOpenProtocolUri" type="string" />
        <property name="appOpenUri" type="string" />
        <property name="userAppMetadata" typeRef="PowerApp_properties_def_userAppMetadata_def" />
        <property name="isFeaturedApp" type="boolean" />
        <property name="bypassConsent" type="boolean" />
        <property name="isHeroApp" type="boolean" />
        <property name="environment" typeRef="PowerApp_properties_def_environment_def" />
        <property name="connectionReferences" typeRef="ConnectionReferences" />
      </object>
      <string name="PowerApp_tags_def_primaryDeviceWidth_def" />
      <string name="PowerApp_tags_def_primaryDeviceHeight_def" />
      <string name="PowerApp_tags_def_sienaVersion_def" />
      <string name="PowerApp_tags_def_deviceCapabilities_def" />
      <string name="PowerApp_tags_def_supportsPortrait_def" />
      <string name="PowerApp_tags_def_supportsLandscape_def" />
      <string name="PowerApp_tags_def_primaryFormFactor_def" />
      <string name="PowerApp_tags_def_publisherVersion_def" />
      <dateTimeString name="PowerApp_tags_def_minimumRequiredApiVersion_def" />
      <object name="PowerApp_tags_def">
        <property name="primaryDeviceWidth" type="string" />
        <property name="primaryDeviceHeight" type="string" />
        <property name="sienaVersion" type="string" />
        <property name="deviceCapabilities" type="string" />
        <property name="supportsPortrait" type="string" />
        <property name="supportsLandscape" type="string" />
        <property name="primaryFormFactor" type="string" />
        <property name="publisherVersion" type="string" />
        <property name="minimumRequiredApiVersion" typeRef="PowerApp_tags_def_minimumRequiredApiVersion_def" />
      </object>
      <string name="PowerApp_type_def" />
      <object name="PowerApp">
        <property name="id" type="string" />
        <property name="name" type="string" />
        <property name="properties" typeRef="PowerApp_properties_def" />
        <property name="tags" typeRef="PowerApp_tags_def" />
        <property name="type" type="string" />
      </object>
      <array typeRef="ConnectionReference" name="ConnectionReferences" />
      <string name="ConnectionReference_id_def" />
      <string name="ConnectionReference_displayName_def" />
      <string name="ConnectionReference_iconUri_def" />
      <string name="ConnectionReference_dataSources_def_items_def" />
      <array type="string" name="ConnectionReference_dataSources_def" />
      <string name="ConnectionReference_dependencies_def_items_def" />
      <array type="string" name="ConnectionReference_dependencies_def" />
      <string name="ConnectionReference_dependents_def_items_def" />
      <array type="string" name="ConnectionReference_dependents_def" />
      <boolean name="ConnectionReference_isOnPremiseConnection_def" />
      <boolean name="ConnectionReference_bypassConsent_def" />
      <string name="ConnectionReference_apiTier_def" />
      <boolean name="ConnectionReference_isCustomApiConnection_def" />
      <object name="ConnectionReference">
        <property name="id" type="string" />
        <property name="displayName" type="string" />
        <property name="iconUri" type="string" />
        <property name="dataSources" typeRef="ConnectionReference_dataSources_def" />
        <property name="dependencies" typeRef="ConnectionReference_dependencies_def" />
        <property name="dependents" typeRef="ConnectionReference_dependents_def" />
        <property name="isOnPremiseConnection" type="boolean" />
        <property name="bypassConsent" type="boolean" />
        <property name="apiTier" type="string" />
        <property name="isCustomApiConnection" type="boolean" />
      </object>
      <string name="Get-AdminAppRoleAssignment_responses_200_def_value_def_items_def_name_def" />
      <string name="Get-AdminAppRoleAssignment_responses_200_def_value_def_items_def_id_def" />
      <string name="Get-AdminAppRoleAssignment_responses_200_def_value_def_items_def_type_def" />
      <string name="Get-AdminAppRoleAssignment_responses_200_def_value_def_items_def_properties_def_roleName_def" />
      <string name="Get-AdminAppRoleAssignment_responses_200_def_value_def_items_def_properties_def_principal_def_id_def" />
      <string name="Get-AdminAppRoleAssignment_responses_200_def_value_def_items_def_properties_def_principal_def_displayName_def" />
      <string name="Get-AdminAppRoleAssignment_responses_200_def_value_def_items_def_properties_def_principal_def_email_def" />
      <string name="Get-AdminAppRoleAssignment_responses_200_def_value_def_items_def_properties_def_principal_def_type_def" />
      <object name="Get-AdminAppRoleAssignment_responses_200_def_value_def_items_def_properties_def_principal_def">
        <property name="id" type="string" />
        <property name="displayName" type="string" />
        <property name="email" type="string" />
        <property name="type" type="string" />
      </object>
      <string name="Get-AdminAppRoleAssignment_responses_200_def_value_def_items_def_properties_def_scope_def" />
      <string name="Get-AdminAppRoleAssignment_responses_200_def_value_def_items_def_properties_def_notifyShareTargetOption_def" />
      <object name="Get-AdminAppRoleAssignment_responses_200_def_value_def_items_def_properties_def">
        <property name="roleName" type="string" />
        <property name="principal" typeRef="Get-AdminAppRoleAssignment_responses_200_def_value_def_items_def_properties_def_principal_def" />
        <property name="scope" type="string" />
        <property name="notifyShareTargetOption" type="string" />
      </object>
      <object name="Get-AdminAppRoleAssignment_responses_200_def_value_def_items_def">
        <property name="name" type="string" />
        <property name="id" type="string" />
        <property name="type" type="string" />
        <property name="properties" typeRef="Get-AdminAppRoleAssignment_responses_200_def_value_def_items_def_properties_def" />
      </object>
      <array typeRef="Get-AdminAppRoleAssignment_responses_200_def_value_def_items_def" name="Get-AdminAppRoleAssignment_responses_200_def_value_def" />
      <object name="Get-AdminAppRoleAssignment_responses_200_def">
        <property name="value" typeRef="Get-AdminAppRoleAssignment_responses_200_def_value_def" />
      </object>
      <string name="Set-AdminAppOwner_param_body_def_roleForOldAppOwner_def" />
      <string name="Set-AdminAppOwner_param_body_def_newAppOwner_def" />
      <object name="Set-AdminAppOwner_param_body_def">
        <property name="roleForOldAppOwner" type="string" />
        <property name="newAppOwner" type="string" />
      </object>
      <string name="Edit-AdminAppRoleAssignment_param_body_def_put_def_items_def_properties_def_roleName_def" />
      <string name="Edit-AdminAppRoleAssignment_param_body_def_put_def_items_def_properties_def_capabilities_def_items_def" />
      <array type="string" name="Edit-AdminAppRoleAssignment_param_body_def_put_def_items_def_properties_def_capabilities_def" />
      <string name="Edit-AdminAppRoleAssignment_param_body_def_put_def_items_def_properties_def_NotifyShareTargetOption_def" />
      <string name="Edit-AdminAppRoleAssignment_param_body_def_put_def_items_def_properties_def_principal_def_email_def" />
      <string name="Edit-AdminAppRoleAssignment_param_body_def_put_def_items_def_properties_def_principal_def_id_def" />
      <string name="Edit-AdminAppRoleAssignment_param_body_def_put_def_items_def_properties_def_principal_def_type_def" />
      <string name="Edit-AdminAppRoleAssignment_param_body_def_put_def_items_def_properties_def_principal_def_tenantId_def" />
      <object name="Edit-AdminAppRoleAssignment_param_body_def_put_def_items_def_properties_def_principal_def">
        <property name="email" type="string" />
        <property name="id" type="string" />
        <property name="type" type="string" />
        <property name="tenantId" type="string" />
      </object>
      <object name="Edit-AdminAppRoleAssignment_param_body_def_put_def_items_def_properties_def">
        <property name="roleName" type="string" />
        <property name="capabilities" typeRef="Edit-AdminAppRoleAssignment_param_body_def_put_def_items_def_properties_def_capabilities_def" />
        <property name="NotifyShareTargetOption" type="string" />
        <property name="principal" typeRef="Edit-AdminAppRoleAssignment_param_body_def_put_def_items_def_properties_def_principal_def" />
      </object>
      <object name="Edit-AdminAppRoleAssignment_param_body_def_put_def_items_def">
        <property name="properties" typeRef="Edit-AdminAppRoleAssignment_param_body_def_put_def_items_def_properties_def" />
      </object>
      <array typeRef="Edit-AdminAppRoleAssignment_param_body_def_put_def_items_def" name="Edit-AdminAppRoleAssignment_param_body_def_put_def" />
      <string name="Edit-AdminAppRoleAssignment_param_body_def_delete_def_items_def_id_def" />
      <object name="Edit-AdminAppRoleAssignment_param_body_def_delete_def_items_def">
        <property name="id" type="string" />
      </object>
      <array typeRef="Edit-AdminAppRoleAssignment_param_body_def_delete_def_items_def" name="Edit-AdminAppRoleAssignment_param_body_def_delete_def" />
      <object name="Edit-AdminAppRoleAssignment_param_body_def">
        <property name="put" typeRef="Edit-AdminAppRoleAssignment_param_body_def_put_def" />
        <property name="delete" typeRef="Edit-AdminAppRoleAssignment_param_body_def_delete_def" />
      </object>
      <string name="Edit-AdminAppRoleAssignment_responses_200_def_put_def_items_def_id_def" />
      <string name="Edit-AdminAppRoleAssignment_responses_200_def_put_def_items_def_properties_def_roleName_def" />
      <string name="Edit-AdminAppRoleAssignment_responses_200_def_put_def_items_def_properties_def_scope_def" />
      <string name="Edit-AdminAppRoleAssignment_responses_200_def_put_def_items_def_properties_def_principal_def_id_def" />
      <string name="Edit-AdminAppRoleAssignment_responses_200_def_put_def_items_def_properties_def_principal_def_email_def" />
      <string name="Edit-AdminAppRoleAssignment_responses_200_def_put_def_items_def_properties_def_principal_def_type_def" />
      <object name="Edit-AdminAppRoleAssignment_responses_200_def_put_def_items_def_properties_def_principal_def">
        <property name="id" type="string" />
        <property name="email" type="string" />
        <property name="type" type="string" />
      </object>
      <string name="Edit-AdminAppRoleAssignment_responses_200_def_put_def_items_def_properties_def_resourceResponses_def_items_def_id_def" />
      <string name="Edit-AdminAppRoleAssignment_responses_200_def_put_def_items_def_properties_def_resourceResponses_def_items_def_statusCode_def" />
      <string name="Edit-AdminAppRoleAssignment_responses_200_def_put_def_items_def_properties_def_resourceResponses_def_items_def_responseCode_def" />
      <string name="Edit-AdminAppRoleAssignment_responses_200_def_put_def_items_def_properties_def_resourceResponses_def_items_def_message_def" />
      <string name="Edit-AdminAppRoleAssignment_responses_200_def_put_def_items_def_properties_def_resourceResponses_def_items_def_type_def" />
      <object name="Edit-AdminAppRoleAssignment_responses_200_def_put_def_items_def_properties_def_resourceResponses_def_items_def">
        <property name="id" type="string" />
        <property name="statusCode" type="string" />
        <property name="responseCode" type="string" />
        <property name="message" type="string" />
        <property name="type" type="string" />
      </object>
      <array typeRef="Edit-AdminAppRoleAssignment_responses_200_def_put_def_items_def_properties_def_resourceResponses_def_items_def" name="Edit-AdminAppRoleAssignment_responses_200_def_put_def_items_def_properties_def_resourceResponses_def" />
      <object name="Edit-AdminAppRoleAssignment_responses_200_def_put_def_items_def_properties_def">
        <property name="roleName" type="string" />
        <property name="scope" type="string" />
        <property name="principal" typeRef="Edit-AdminAppRoleAssignment_responses_200_def_put_def_items_def_properties_def_principal_def" />
        <property name="resourceResponses" typeRef="Edit-AdminAppRoleAssignment_responses_200_def_put_def_items_def_properties_def_resourceResponses_def" />
      </object>
      <object name="Edit-AdminAppRoleAssignment_responses_200_def_put_def_items_def">
        <property name="id" type="string" />
        <property name="properties" typeRef="Edit-AdminAppRoleAssignment_responses_200_def_put_def_items_def_properties_def" />
      </object>
      <array typeRef="Edit-AdminAppRoleAssignment_responses_200_def_put_def_items_def" name="Edit-AdminAppRoleAssignment_responses_200_def_put_def" />
      <object name="Edit-AdminAppRoleAssignment_responses_200_def">
        <property name="put" typeRef="Edit-AdminAppRoleAssignment_responses_200_def_put_def" />
      </object>
      <string name="Get-AdminConnections_responses_200_def_value_def_items_def_name_def" />
      <string name="Get-AdminConnections_responses_200_def_value_def_items_def_id_def" />
      <string name="Get-AdminConnections_responses_200_def_value_def_items_def_type_def" />
      <string name="Get-AdminConnections_responses_200_def_value_def_items_def_properties_def_apiId_def" />
      <string name="Get-AdminConnections_responses_200_def_value_def_items_def_properties_def_displayName_def" />
      <string name="Get-AdminConnections_responses_200_def_value_def_items_def_properties_def_iconUri_def" />
      <string name="Get-AdminConnections_responses_200_def_value_def_items_def_properties_def_statuses_def_items_def_status_def" />
      <string name="Get-AdminConnections_responses_200_def_value_def_items_def_properties_def_statuses_def_items_def_target_def" />
      <string name="Get-AdminConnections_responses_200_def_value_def_items_def_properties_def_statuses_def_items_def_error_def_code_def" />
      <string name="Get-AdminConnections_responses_200_def_value_def_items_def_properties_def_statuses_def_items_def_error_def_message_def" />
      <object name="Get-AdminConnections_responses_200_def_value_def_items_def_properties_def_statuses_def_items_def_error_def">
        <property name="code" type="string" />
        <property name="message" type="string" />
      </object>
      <object name="Get-AdminConnections_responses_200_def_value_def_items_def_properties_def_statuses_def_items_def">
        <property name="status" type="string" />
        <property name="target" type="string" />
        <property name="error" typeRef="Get-AdminConnections_responses_200_def_value_def_items_def_properties_def_statuses_def_items_def_error_def" />
      </object>
      <array typeRef="Get-AdminConnections_responses_200_def_value_def_items_def_properties_def_statuses_def_items_def" name="Get-AdminConnections_responses_200_def_value_def_items_def_properties_def_statuses_def" />
      <string name="Get-AdminConnections_responses_200_def_value_def_items_def_properties_def_connectionParameters_def_sku_def" />
      <string name="Get-AdminConnections_responses_200_def_value_def_items_def_properties_def_connectionParameters_def_workflowName_def" />
      <string name="Get-AdminConnections_responses_200_def_value_def_items_def_properties_def_connectionParameters_def_workflowPath_def" />
      <string name="Get-AdminConnections_responses_200_def_value_def_items_def_properties_def_connectionParameters_def_workflowEndpoint_def" />
      <string name="Get-AdminConnections_responses_200_def_value_def_items_def_properties_def_connectionParameters_def_workFlowCallbackUri_def" />
      <string name="Get-AdminConnections_responses_200_def_value_def_items_def_properties_def_connectionParameters_def_server_def" />
      <string name="Get-AdminConnections_responses_200_def_value_def_items_def_properties_def_connectionParameters_def_database_def" />
      <object name="Get-AdminConnections_responses_200_def_value_def_items_def_properties_def_connectionParameters_def">
        <property name="sku" type="string" />
        <property name="workflowName" type="string" />
        <property name="workflowPath" type="string" />
        <property name="workflowEndpoint" type="string" />
        <property name="workFlowCallbackUri" type="string" />
        <property name="server" type="string" />
        <property name="database" type="string" />
      </object>
      <integer name="Get-AdminConnections_responses_200_def_value_def_items_def_properties_def_keywordsRemaining_def" />
      <string name="Get-AdminConnections_responses_200_def_value_def_items_def_properties_def_createdBy_def_id_def" />
      <string name="Get-AdminConnections_responses_200_def_value_def_items_def_properties_def_createdBy_def_displayName_def" />
      <string name="Get-AdminConnections_responses_200_def_value_def_items_def_properties_def_createdBy_def_email_def" />
      <string name="Get-AdminConnections_responses_200_def_value_def_items_def_properties_def_createdBy_def_type_def" />
      <string name="Get-AdminConnections_responses_200_def_value_def_items_def_properties_def_createdBy_def_tenantId_def" />
      <string name="Get-AdminConnections_responses_200_def_value_def_items_def_properties_def_createdBy_def_userPrincipalName_def" />
      <object name="Get-AdminConnections_responses_200_def_value_def_items_def_properties_def_createdBy_def">
        <property name="id" type="string" />
        <property name="displayName" type="string" />
        <property name="email" type="string" />
        <property name="type" type="string" />
        <property name="tenantId" type="string" />
        <property name="userPrincipalName" type="string" />
      </object>
      <dateTimeString name="Get-AdminConnections_responses_200_def_value_def_items_def_properties_def_createdTime_def" />
      <dateTimeString name="Get-AdminConnections_responses_200_def_value_def_items_def_properties_def_lastModifiedTime_def" />
      <string name="Get-AdminConnections_responses_200_def_value_def_items_def_properties_def_environment_def_id_def" />
      <string name="Get-AdminConnections_responses_200_def_value_def_items_def_properties_def_environment_def_name_def" />
      <object name="Get-AdminConnections_responses_200_def_value_def_items_def_properties_def_environment_def">
        <property name="id" type="string" />
        <property name="name" type="string" />
      </object>
      <dateTimeString name="Get-AdminConnections_responses_200_def_value_def_items_def_properties_def_expirationTime_def" />
      <string name="Get-AdminConnections_responses_200_def_value_def_items_def_properties_def_testLinks_def_items_def_requestUri_def" />
      <string name="Get-AdminConnections_responses_200_def_value_def_items_def_properties_def_testLinks_def_items_def_method_def" />
      <object name="Get-AdminConnections_responses_200_def_value_def_items_def_properties_def_testLinks_def_items_def">
        <property name="requestUri" type="string" />
        <property name="method" type="string" />
      </object>
      <array typeRef="Get-AdminConnections_responses_200_def_value_def_items_def_properties_def_testLinks_def_items_def" name="Get-AdminConnections_responses_200_def_value_def_items_def_properties_def_testLinks_def" />
      <object name="Get-AdminConnections_responses_200_def_value_def_items_def_properties_def">
        <property name="apiId" type="string" />
        <property name="displayName" type="string" />
        <property name="iconUri" type="string" />
        <property name="statuses" typeRef="Get-AdminConnections_responses_200_def_value_def_items_def_properties_def_statuses_def" />
        <property name="connectionParameters" typeRef="Get-AdminConnections_responses_200_def_value_def_items_def_properties_def_connectionParameters_def" />
        <property name="keywordsRemaining" type="integer" />
        <property name="createdBy" typeRef="Get-AdminConnections_responses_200_def_value_def_items_def_properties_def_createdBy_def" />
        <property name="createdTime" typeRef="Get-AdminConnections_responses_200_def_value_def_items_def_properties_def_createdTime_def" />
        <property name="lastModifiedTime" typeRef="Get-AdminConnections_responses_200_def_value_def_items_def_properties_def_lastModifiedTime_def" />
        <property name="environment" typeRef="Get-AdminConnections_responses_200_def_value_def_items_def_properties_def_environment_def" />
        <property name="expirationTime" typeRef="Get-AdminConnections_responses_200_def_value_def_items_def_properties_def_expirationTime_def" />
        <property name="testLinks" typeRef="Get-AdminConnections_responses_200_def_value_def_items_def_properties_def_testLinks_def" />
      </object>
      <object name="Get-AdminConnections_responses_200_def_value_def_items_def">
        <property name="name" type="string" />
        <property name="id" type="string" />
        <property name="type" type="string" />
        <property name="properties" typeRef="Get-AdminConnections_responses_200_def_value_def_items_def_properties_def" />
      </object>
      <array typeRef="Get-AdminConnections_responses_200_def_value_def_items_def" name="Get-AdminConnections_responses_200_def_value_def" />
      <object name="Get-AdminConnections_responses_200_def">
        <property name="value" typeRef="Get-AdminConnections_responses_200_def_value_def" />
      </object>
      <string name="Get-AdminConnectionRoleAssignment_responses_200_def_value_def_items_def_name_def" />
      <string name="Get-AdminConnectionRoleAssignment_responses_200_def_value_def_items_def_id_def" />
      <string name="Get-AdminConnectionRoleAssignment_responses_200_def_value_def_items_def_type_def" />
      <string name="Get-AdminConnectionRoleAssignment_responses_200_def_value_def_items_def_properties_def_roleName_def" />
      <string name="Get-AdminConnectionRoleAssignment_responses_200_def_value_def_items_def_properties_def_principal_def_id_def" />
      <string name="Get-AdminConnectionRoleAssignment_responses_200_def_value_def_items_def_properties_def_principal_def_displayName_def" />
      <string name="Get-AdminConnectionRoleAssignment_responses_200_def_value_def_items_def_properties_def_principal_def_email_def" />
      <string name="Get-AdminConnectionRoleAssignment_responses_200_def_value_def_items_def_properties_def_principal_def_type_def" />
      <object name="Get-AdminConnectionRoleAssignment_responses_200_def_value_def_items_def_properties_def_principal_def">
        <property name="id" type="string" />
        <property name="displayName" type="string" />
        <property name="email" type="string" />
        <property name="type" type="string" />
      </object>
      <string name="Get-AdminConnectionRoleAssignment_responses_200_def_value_def_items_def_properties_def_notifyShareTargetOption_def" />
      <object name="Get-AdminConnectionRoleAssignment_responses_200_def_value_def_items_def_properties_def">
        <property name="roleName" type="string" />
        <property name="principal" typeRef="Get-AdminConnectionRoleAssignment_responses_200_def_value_def_items_def_properties_def_principal_def" />
        <property name="notifyShareTargetOption" type="string" />
      </object>
      <object name="Get-AdminConnectionRoleAssignment_responses_200_def_value_def_items_def">
        <property name="name" type="string" />
        <property name="id" type="string" />
        <property name="type" type="string" />
        <property name="properties" typeRef="Get-AdminConnectionRoleAssignment_responses_200_def_value_def_items_def_properties_def" />
      </object>
      <array typeRef="Get-AdminConnectionRoleAssignment_responses_200_def_value_def_items_def" name="Get-AdminConnectionRoleAssignment_responses_200_def_value_def" />
      <object name="Get-AdminConnectionRoleAssignment_responses_200_def">
        <property name="value" typeRef="Get-AdminConnectionRoleAssignment_responses_200_def_value_def" />
      </object>
      <string name="Edit-AdminConnectionRoleAssignment_param_body_def_delete_def_items_def_id_def" />
      <object name="Edit-AdminConnectionRoleAssignment_param_body_def_delete_def_items_def">
        <property name="id" type="string" />
      </object>
      <array typeRef="Edit-AdminConnectionRoleAssignment_param_body_def_delete_def_items_def" name="Edit-AdminConnectionRoleAssignment_param_body_def_delete_def" />
      <string name="Edit-AdminConnectionRoleAssignment_param_body_def_put_def_items_def_properties_def_roleName_def" />
      <string name="Edit-AdminConnectionRoleAssignment_param_body_def_put_def_items_def_properties_def_principal_def_id_def" />
      <object name="Edit-AdminConnectionRoleAssignment_param_body_def_put_def_items_def_properties_def_principal_def">
        <property name="id" type="string" />
      </object>
      <object name="Edit-AdminConnectionRoleAssignment_param_body_def_put_def_items_def_properties_def">
        <property name="roleName" type="string" />
        <property name="principal" typeRef="Edit-AdminConnectionRoleAssignment_param_body_def_put_def_items_def_properties_def_principal_def" />
      </object>
      <object name="Edit-AdminConnectionRoleAssignment_param_body_def_put_def_items_def">
        <property name="properties" typeRef="Edit-AdminConnectionRoleAssignment_param_body_def_put_def_items_def_properties_def" />
      </object>
      <array typeRef="Edit-AdminConnectionRoleAssignment_param_body_def_put_def_items_def" name="Edit-AdminConnectionRoleAssignment_param_body_def_put_def" />
      <object name="Edit-AdminConnectionRoleAssignment_param_body_def">
        <property name="delete" typeRef="Edit-AdminConnectionRoleAssignment_param_body_def_delete_def" />
        <property name="put" typeRef="Edit-AdminConnectionRoleAssignment_param_body_def_put_def" />
      </object>
      <string name="Get-AdminConnectors_responses_200_def_value_def_items_def_name_def" />
      <string name="Get-AdminConnectors_responses_200_def_value_def_items_def_id_def" />
      <string name="Get-AdminConnectors_responses_200_def_value_def_items_def_type_def" />
      <string name="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def_displayName_def" />
      <string name="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def_iconUri_def" />
      <string name="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def_iconBrandColor_def" />
      <string name="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def_apiEnvironment_def" />
      <boolean name="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def_isCustomApi_def" />
      <object name="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def_connectionParameters_def" />
      <string name="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def_runtimeUrls_def_items_def" />
      <array type="string" name="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def_runtimeUrls_def" />
      <string name="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def_primaryRuntimeUrl_def" />
      <string name="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def_metadata_def_source_def" />
      <string name="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def_metadata_def_brandColor_def" />
      <object name="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def_metadata_def_contact_def" />
      <object name="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def_metadata_def_license_def" />
      <string name="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def_metadata_def_publisherUrl_def" />
      <string name="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def_metadata_def_serviceUrl_def" />
      <string name="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def_metadata_def_documentationUrl_def" />
      <string name="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def_metadata_def_environment_def" />
      <boolean name="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def_metadata_def_allowSharing_def" />
      <object name="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def_metadata_def">
        <property name="source" type="string" />
        <property name="brandColor" type="string" />
        <property name="contact" typeRef="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def_metadata_def_contact_def" />
        <property name="license" typeRef="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def_metadata_def_license_def" />
        <property name="publisherUrl" type="string" />
        <property name="serviceUrl" type="string" />
        <property name="documentationUrl" type="string" />
        <property name="environment" type="string" />
        <property name="allowSharing" type="boolean" />
      </object>
      <string name="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def_capabilities_def_items_def" />
      <array type="string" name="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def_capabilities_def" />
      <string name="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def_description_def" />
      <string name="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def_apiDefinitions_def_originalSwaggerUrl_def" />
      <string name="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def_apiDefinitions_def_modifiedSwaggerUrl_def" />
      <object name="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def_apiDefinitions_def">
        <property name="originalSwaggerUrl" type="string" />
        <property name="modifiedSwaggerUrl" type="string" />
      </object>
      <string name="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def_createdBy_def_id_def" />
      <string name="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def_createdBy_def_displayName_def" />
      <string name="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def_createdBy_def_email_def" />
      <string name="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def_createdBy_def_type_def" />
      <string name="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def_createdBy_def_tenantId_def" />
      <string name="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def_createdBy_def_userPrincipalName_def" />
      <object name="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def_createdBy_def">
        <property name="id" type="string" />
        <property name="displayName" type="string" />
        <property name="email" type="string" />
        <property name="type" type="string" />
        <property name="tenantId" type="string" />
        <property name="userPrincipalName" type="string" />
      </object>
      <string name="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def_modifiedBy_def_id_def" />
      <string name="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def_modifiedBy_def_displayName_def" />
      <string name="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def_modifiedBy_def_email_def" />
      <string name="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def_modifiedBy_def_type_def" />
      <string name="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def_modifiedBy_def_tenantId_def" />
      <string name="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def_modifiedBy_def_userPrincipalName_def" />
      <object name="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def_modifiedBy_def">
        <property name="id" type="string" />
        <property name="displayName" type="string" />
        <property name="email" type="string" />
        <property name="type" type="string" />
        <property name="tenantId" type="string" />
        <property name="userPrincipalName" type="string" />
      </object>
      <dateTimeString name="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def_createdTime_def" />
      <dateTimeString name="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def_changedTime_def" />
      <string name="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def_environment_def_id_def" />
      <string name="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def_environment_def_name_def" />
      <object name="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def_environment_def">
        <property name="id" type="string" />
        <property name="name" type="string" />
      </object>
      <string name="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def_tier_def" />
      <string name="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def_publisher_def" />
      <object name="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def">
        <property name="displayName" type="string" />
        <property name="iconUri" type="string" />
        <property name="iconBrandColor" type="string" />
        <property name="apiEnvironment" type="string" />
        <property name="isCustomApi" type="boolean" />
        <property name="connectionParameters" typeRef="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def_connectionParameters_def" />
        <property name="runtimeUrls" typeRef="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def_runtimeUrls_def" />
        <property name="primaryRuntimeUrl" type="string" />
        <property name="metadata" typeRef="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def_metadata_def" />
        <property name="capabilities" typeRef="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def_capabilities_def" />
        <property name="description" type="string" />
        <property name="apiDefinitions" typeRef="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def_apiDefinitions_def" />
        <property name="createdBy" typeRef="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def_createdBy_def" />
        <property name="modifiedBy" typeRef="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def_modifiedBy_def" />
        <property name="createdTime" typeRef="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def_createdTime_def" />
        <property name="changedTime" typeRef="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def_changedTime_def" />
        <property name="environment" typeRef="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def_environment_def" />
        <property name="tier" type="string" />
        <property name="publisher" type="string" />
      </object>
      <object name="Get-AdminConnectors_responses_200_def_value_def_items_def">
        <property name="name" type="string" />
        <property name="id" type="string" />
        <property name="type" type="string" />
        <property name="properties" typeRef="Get-AdminConnectors_responses_200_def_value_def_items_def_properties_def" />
      </object>
      <array typeRef="Get-AdminConnectors_responses_200_def_value_def_items_def" name="Get-AdminConnectors_responses_200_def_value_def" />
      <object name="Get-AdminConnectors_responses_200_def">
        <property name="value" typeRef="Get-AdminConnectors_responses_200_def_value_def" />
      </object>
      <string name="Get-AdminConnectorRoleAssignment_responses_200_def_value_def_items_def_name_def" />
      <string name="Get-AdminConnectorRoleAssignment_responses_200_def_value_def_items_def_id_def" />
      <string name="Get-AdminConnectorRoleAssignment_responses_200_def_value_def_items_def_type_def" />
      <string name="Get-AdminConnectorRoleAssignment_responses_200_def_value_def_items_def_properties_def_roleName_def" />
      <string name="Get-AdminConnectorRoleAssignment_responses_200_def_value_def_items_def_properties_def_principal_def_id_def" />
      <string name="Get-AdminConnectorRoleAssignment_responses_200_def_value_def_items_def_properties_def_principal_def_displayName_def" />
      <string name="Get-AdminConnectorRoleAssignment_responses_200_def_value_def_items_def_properties_def_principal_def_email_def" />
      <string name="Get-AdminConnectorRoleAssignment_responses_200_def_value_def_items_def_properties_def_principal_def_type_def" />
      <object name="Get-AdminConnectorRoleAssignment_responses_200_def_value_def_items_def_properties_def_principal_def">
        <property name="id" type="string" />
        <property name="displayName" type="string" />
        <property name="email" type="string" />
        <property name="type" type="string" />
      </object>
      <string name="Get-AdminConnectorRoleAssignment_responses_200_def_value_def_items_def_properties_def_notifyShareTargetOption_def" />
      <object name="Get-AdminConnectorRoleAssignment_responses_200_def_value_def_items_def_properties_def">
        <property name="roleName" type="string" />
        <property name="principal" typeRef="Get-AdminConnectorRoleAssignment_responses_200_def_value_def_items_def_properties_def_principal_def" />
        <property name="notifyShareTargetOption" type="string" />
      </object>
      <object name="Get-AdminConnectorRoleAssignment_responses_200_def_value_def_items_def">
        <property name="name" type="string" />
        <property name="id" type="string" />
        <property name="type" type="string" />
        <property name="properties" typeRef="Get-AdminConnectorRoleAssignment_responses_200_def_value_def_items_def_properties_def" />
      </object>
      <array typeRef="Get-AdminConnectorRoleAssignment_responses_200_def_value_def_items_def" name="Get-AdminConnectorRoleAssignment_responses_200_def_value_def" />
      <object name="Get-AdminConnectorRoleAssignment_responses_200_def">
        <property name="value" typeRef="Get-AdminConnectorRoleAssignment_responses_200_def_value_def" />
      </object>
      <string name="Edit-AdminConnectorRoleAssignment_param_body_def_delete_def_items_def_id_def" />
      <object name="Edit-AdminConnectorRoleAssignment_param_body_def_delete_def_items_def">
        <property name="id" type="string" />
      </object>
      <array typeRef="Edit-AdminConnectorRoleAssignment_param_body_def_delete_def_items_def" name="Edit-AdminConnectorRoleAssignment_param_body_def_delete_def" />
      <string name="Edit-AdminConnectorRoleAssignment_param_body_def_put_def_items_def_properties_def_roleName_def" />
      <string name="Edit-AdminConnectorRoleAssignment_param_body_def_put_def_items_def_properties_def_principal_def_id_def" />
      <object name="Edit-AdminConnectorRoleAssignment_param_body_def_put_def_items_def_properties_def_principal_def">
        <property name="id" type="string" />
      </object>
      <object name="Edit-AdminConnectorRoleAssignment_param_body_def_put_def_items_def_properties_def">
        <property name="roleName" type="string" />
        <property name="principal" typeRef="Edit-AdminConnectorRoleAssignment_param_body_def_put_def_items_def_properties_def_principal_def" />
      </object>
      <object name="Edit-AdminConnectorRoleAssignment_param_body_def_put_def_items_def">
        <property name="properties" typeRef="Edit-AdminConnectorRoleAssignment_param_body_def_put_def_items_def_properties_def" />
      </object>
      <array typeRef="Edit-AdminConnectorRoleAssignment_param_body_def_put_def_items_def" name="Edit-AdminConnectorRoleAssignment_param_body_def_put_def" />
      <object name="Edit-AdminConnectorRoleAssignment_param_body_def">
        <property name="delete" typeRef="Edit-AdminConnectorRoleAssignment_param_body_def_delete_def" />
        <property name="put" typeRef="Edit-AdminConnectorRoleAssignment_param_body_def_put_def" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://europe-001.azure-apim.net/apim/powerappsforadmins">
    <resource path="/{connectionId}/providers/Microsoft.PowerApps/scopes/admin/environments/{environment}/apps/{app}/permissions">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="environment" type="xs:string" required="true">
        <doc title="Name field of the Environment." />
      </param>
      <param style="template" name="app" type="xs:string" required="true">
        <doc title="Name field of the PowerApp." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="GetAdminAppRoleAssignment" siena:isDeprecated="false">
        <doc title="Get App Role Assignments as Admin&#xA;Returns permissions for a PowerApp." />
        <request>
          <param style="query" name="api-version" type="xs:string" default="2016-11-01">
            <doc title="The date value of the API version." />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:Get-AdminAppRoleAssignment_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/providers/Microsoft.PowerApps/scopes/admin/environments/{environment}/apps/{app}/modifyAppOwner">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="environment" type="xs:string" required="true">
        <doc title="Name field of the Environment." />
      </param>
      <param style="template" name="app" type="xs:string" required="true">
        <doc title="Name field of the PowerApp." />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="SetAdminAppOwner" siena:isDeprecated="false">
        <doc title="Set App Owner&#xA;Updates a PowerApp's owner role, and specifies the old owner's new role." />
        <request>
          <param style="query" name="api-version" type="xs:string" default="2016-11-01">
            <doc title="The date value of the API version." />
          </param>
          <param style="header" name="Content-Type" type="xs:string" default=" application/json">
            <doc title="The content type of the API request." />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="roleForOldAppOwner" path="/roleForOldAppOwner" type="xs:string" default="CanView">
              <doc title="Role For Old App Owner" />
            </param>
            <param style="plain" name="newAppOwner" path="/newAppOwner" type="xs:string">
              <doc title="New PowerApp Owner" />
            </param>
          </representation>
        </request>
      </method>
    </resource>
    <resource path="/{connectionId}/providers/Microsoft.PowerApps/scopes/admin/environments/{environment}/apps">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="environment" type="xs:string" required="true">
        <doc title="Name field of the Environment." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="GetAdminApps" siena:isDeprecated="false">
        <doc title="Get Apps as Admin&#xA;Returns a list of PowerApps." />
        <request>
          <param style="query" name="api-version" type="xs:string" default="2016-11-01">
            <doc title="The date value of the API version." />
          </param>
          <param style="query" name="$top" type="xs:long" default="250">
            <doc title="Number of Apps in the response." />
          </param>
          <param style="query" name="$skiptoken" type="xs:string">
            <doc title="Used to get next page of responses." />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResourceArray_ux5B_PowerApp_ux5D_" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/providers/Microsoft.PowerApps/scopes/admin/environments/{environment}/apps/{app}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="environment" type="xs:string" required="true">
        <doc title="Name field of the Environment." />
      </param>
      <param style="template" name="app" type="xs:string" required="true">
        <doc title="Name field of the PowerApp." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="GetAdminApp" siena:isDeprecated="false">
        <doc title="Get App as Admin&#xA;Returns a PowerApp." />
        <request>
          <param style="query" name="api-version" type="xs:string" default="2016-11-01">
            <doc title="The date value of the API version." />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:PowerApp" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/providers/Microsoft.PowerApps/scopes/admin/environments/{environment}/apps/{app}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="environment" type="xs:string" required="true">
        <doc title="Name field of the Environment." />
      </param>
      <param style="template" name="app" type="xs:string" required="true">
        <doc title="Name field of the PowerApp." />
      </param>
      <method siena:requiresAuthentication="true" name="DELETE" id="RemoveAdminApp" siena:isDeprecated="false">
        <doc title="Remove App as Admin&#xA;Deletes a PowerApp." />
        <request>
          <param style="query" name="api-version" type="xs:string" default="2016-11-01">
            <doc title="The date value of the API version." />
          </param>
        </request>
      </method>
    </resource>
    <resource path="/{connectionId}/providers/Microsoft.PowerApps/scopes/admin/environments/{environment}/apps/{app}/modifyPermissions">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="environment" type="xs:string" required="true">
        <doc title="Name field of the Environment." />
      </param>
      <param style="template" name="app" type="xs:string" required="true">
        <doc title="Name field of the PowerApp." />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="EditAdminAppRoleAssignment" siena:isDeprecated="false">
        <doc title="Edit App Role Assignment as Admin&#xA;Sets permissions for a PowerApp." />
        <request>
          <param style="query" name="api-version" type="xs:string" default="2016-11-01">
            <doc title="The date value of the API version." />
          </param>
          <param style="query" name="$filter" type="xs:string">
            <doc title="A filter query parameter." />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="put" path="/put" type="service:Edit-AdminAppRoleAssignment_param_body_def_put_def" />
            <param style="plain" name="delete" path="/delete" type="service:Edit-AdminAppRoleAssignment_param_body_def_delete_def" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:Edit-AdminAppRoleAssignment_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/providers/Microsoft.PowerApps/scopes/admin/environments/{environment}/connections">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="environment" type="xs:string" required="true">
        <doc title="Name field of the Environment." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="GetAdminConnections" siena:isDeprecated="false">
        <doc title="Get Connections as Admin&#xA;Returns a list of Connections." />
        <request>
          <param style="query" name="api-version" type="xs:string" default="2016-11-01">
            <doc title="The date value of the API version." />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:Get-AdminConnections_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/providers/Microsoft.PowerApps/scopes/admin/environments/{environment}/apis/{connectorName}/connections/{connectionName}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="environment" type="xs:string" required="true">
        <doc title="Name field of the Environment." />
      </param>
      <param style="template" name="connectorName" type="xs:string" required="true">
        <doc title="Name field of the Connector." />
      </param>
      <param style="template" name="connectionName" type="xs:string" required="true">
        <doc title="Name field of the Connection." />
      </param>
      <method siena:requiresAuthentication="true" name="DELETE" id="RemoveAdminConnection" siena:isDeprecated="false">
        <doc title="Remove Connection as Admin&#xA;Deletes a Connection." />
        <request>
          <param style="query" name="api-version" type="xs:string" default="2016-11-01">
            <doc title="The date value of the API version." />
          </param>
        </request>
      </method>
    </resource>
    <resource path="/{connectionId}/providers/Microsoft.PowerApps/scopes/admin/environments/{environment}/apis/{connectorName}/connections/{connectionName}/permissions">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="environment" type="xs:string" required="true">
        <doc title="Name field of the Environment." />
      </param>
      <param style="template" name="connectorName" type="xs:string" required="true">
        <doc title="Name field of the Connector." />
      </param>
      <param style="template" name="connectionName" type="xs:string" required="true">
        <doc title="Name field of the Connection." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="GetAdminConnectionRoleAssignment" siena:isDeprecated="false">
        <doc title="Get Connection Role Assignments as Admin&#xA;Returns all permissions for a Connection." />
        <request>
          <param style="query" name="api-version" type="xs:string" default="2016-11-01">
            <doc title="The date value of the API version." />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:Get-AdminConnectionRoleAssignment_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/providers/Microsoft.PowerApps/scopes/admin/environments/{environment}/apis/{connector}/connections/{connection}/modifyPermissions">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="environment" type="xs:string" required="true">
        <doc title="Name field of the Environment." />
      </param>
      <param style="template" name="connector" type="xs:string" required="true">
        <doc title="Name field of the Connector." />
      </param>
      <param style="template" name="connection" type="xs:string" required="true">
        <doc title="Name field of the Connection." />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="EditAdminConnectionRoleAssignment" siena:isDeprecated="false">
        <doc title="Edit Connection Role Assignment as Admin&#xA;Sets permissions for a Connection." />
        <request>
          <param style="query" name="api-version" type="xs:string" default="2017-06-01">
            <doc title="The date value of the API version." />
          </param>
          <param style="header" name="Content-Type" type="xs:string" default="application/json">
            <doc title="The content type of the API request." />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="delete" path="/delete" type="service:Edit-AdminConnectionRoleAssignment_param_body_def_delete_def" />
            <param style="plain" name="put" path="/put" type="service:Edit-AdminConnectionRoleAssignment_param_body_def_put_def" />
          </representation>
        </request>
      </method>
    </resource>
    <resource path="/{connectionId}/providers/Microsoft.PowerApps/scopes/admin/environments/{environment}/apis">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="environment" type="xs:string" required="true">
        <doc title="Name field of the Environment." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="GetAdminConnectors" siena:isDeprecated="false">
        <doc title="Get Custom Connectors as Admin&#xA;Returns a list of custom Connectors." />
        <request>
          <param style="query" name="api-version" type="xs:string" default="2017-05-01">
            <doc title="The date value of the API version." />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:Get-AdminConnectors_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/providers/Microsoft.PowerApps/scopes/admin/environments/{environment}/apis/{connectorName}/permissions">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="environment" type="xs:string" required="true">
        <doc title="Name field of the Environment." />
      </param>
      <param style="template" name="connectorName" type="xs:string" required="true">
        <doc title="Name field of the Connector." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="GetAdminConnectorRoleAssignment" siena:isDeprecated="false">
        <doc title="Get Connector Role Assignments as Admin&#xA;Returns permissions for a custom Connector." />
        <request>
          <param style="query" name="api-version" type="xs:string" default="2017-06-01">
            <doc title="The date value of the API version." />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:Get-AdminConnectorRoleAssignment_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/providers/Microsoft.PowerApps/scopes/admin/environments/{environment}/apis/{connectorName}/modifyPermissions">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="environment" type="xs:string" required="true">
        <doc title="Name field of the Environment." />
      </param>
      <param style="template" name="connectorName" type="xs:string" required="true">
        <doc title="Name field of the Connector." />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="EditAdminConnectorRoleAssignment" siena:isDeprecated="false">
        <doc title="Edit Connector Role Assignment as Admin&#xA;Sets permissions for a Connector." />
        <request>
          <param style="query" name="api-version" type="xs:string" default="2017-06-01">
            <doc title="The date value of the API version." />
          </param>
          <param style="header" name="Content-Type" type="xs:string" default="application/json">
            <doc title="The content type of the API request." />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="delete" path="/delete" type="service:Edit-AdminConnectorRoleAssignment_param_body_def_delete_def" />
            <param style="plain" name="put" path="/put" type="service:Edit-AdminConnectorRoleAssignment_param_body_def_put_def" />
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="shared_powerappsforadmins" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>