CenterofExcellenceALMAccelerator/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/pkgs/Wadl/SearchDeploymentEnvironmentTeams.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="SearchDeploymentEnvironmentTeams" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="SearchDeploymentEnvironmentTeams" />
  <grammars>
    <jsonTypes targetNamespace="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_text_def" />
      <string name="ManualTriggerInput_text_1_def" />
      <string name="ManualTriggerInput_text_3_def" />
      <string name="ManualTriggerInput_text_4_def" />
      <object name="ManualTriggerInput">
        <property name="text" type="string" />
        <property name="text_1" type="string" />
        <property name="text_3" type="string" />
        <property name="text_4" type="string" />
      </object>
      <string name="ResponseActionOutput_items_def_ItemInternalId_def" />
      <string name="ResponseActionOutput_items_def__administratorid_type_def" />
      <string name="ResponseActionOutput_items_def__administratorid_value_def" />
      <string name="ResponseActionOutput_items_def__businessunitid_type_def" />
      <string name="ResponseActionOutput_items_def__businessunitid_value_def" />
      <string name="ResponseActionOutput_items_def__createdby_type_def" />
      <string name="ResponseActionOutput_items_def__createdby_value_def" />
      <string name="ResponseActionOutput_items_def__membershiptype_label_def" />
      <string name="ResponseActionOutput_items_def__modifiedby_type_def" />
      <string name="ResponseActionOutput_items_def__modifiedby_value_def" />
      <string name="ResponseActionOutput_items_def__teamtype_label_def" />
      <string name="ResponseActionOutput_items_def_azureactivedirectoryobjectid_def" />
      <string name="ResponseActionOutput_items_def_createdon_def" />
      <boolean name="ResponseActionOutput_items_def_isdefault_def" />
      <integer name="ResponseActionOutput_items_def_membershiptype_def" />
      <string name="ResponseActionOutput_items_def_modifiedon_def" />
      <string name="ResponseActionOutput_items_def_name_def" />
      <string name="ResponseActionOutput_items_def_organizationid_def" />
      <boolean name="ResponseActionOutput_items_def_systemmanaged_def" />
      <string name="ResponseActionOutput_items_def_teamid_def" />
      <integer name="ResponseActionOutput_items_def_teamtype_def" />
      <integer name="ResponseActionOutput_items_def_versionnumber_def" />
      <string name="ResponseActionOutput_items_def__ux40_odata_etag_def" />
      <string name="ResponseActionOutput_items_def__ux40_odata_id_def" />
      <object name="ResponseActionOutput_items_def">
        <property name="ItemInternalId" type="string" />
        <property name="_administratorid_type" type="string" />
        <property name="_administratorid_value" type="string" />
        <property name="_businessunitid_type" type="string" />
        <property name="_businessunitid_value" type="string" />
        <property name="_createdby_type" type="string" />
        <property name="_createdby_value" type="string" />
        <property name="_membershiptype_label" type="string" />
        <property name="_modifiedby_type" type="string" />
        <property name="_modifiedby_value" type="string" />
        <property name="_teamtype_label" type="string" />
        <property name="azureactivedirectoryobjectid" type="string" />
        <property name="createdon" type="string" />
        <property name="isdefault" type="boolean" />
        <property name="membershiptype" type="integer" />
        <property name="modifiedon" type="string" />
        <property name="name" type="string" />
        <property name="organizationid" type="string" />
        <property name="systemmanaged" type="boolean" />
        <property name="teamid" type="string" />
        <property name="teamtype" type="integer" />
        <property name="versionnumber" type="integer" />
        <property name="@odata.etag" type="string" />
        <property name="@odata.id" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_items_def" name="ResponseActionOutput" />
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://unitedstates-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="text" path="/text" type="xs:string" required="true">
              <doc title="Region Subdomain" />
            </param>
            <param style="plain" name="text_1" path="/text_1" type="xs:string" required="true">
              <doc title="Environment Unique Name" />
            </param>
            <param style="plain" name="text_3" path="/text_3" type="xs:string">
              <doc title="Search Text" />
            </param>
            <param style="plain" name="text_4" path="/text_4" type="xs:string">
              <doc title="Current Team Name" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>