ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/pkgs/Wadl/GetDeploymentEnvironmentUsers.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="GetDeploymentEnvironmentUsers" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="GetDeploymentEnvironmentUsers" />
  <grammars>
    <jsonTypes targetNamespace="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_text_def" />
      <string name="ManualTriggerInput_text_1_def" />
      <string name="ManualTriggerInput_text_2_def" />
      <object name="ManualTriggerInput">
        <property name="text" type="string" />
        <property name="text_1" type="string" />
        <property name="text_2" type="string" />
      </object>
      <string name="ResponseActionOutput_items_def_ItemInternalId_def" />
      <string name="ResponseActionOutput_items_def_systemuserid_def" />
      <integer name="ResponseActionOutput_items_def_accessmode_def" />
      <string name="ResponseActionOutput_items_def__accessmode_label_def" />
      <string name="ResponseActionOutput_items_def_firstname_def" />
      <boolean name="ResponseActionOutput_items_def_setupuser_def" />
      <string name="ResponseActionOutput_items_def_azureactivedirectoryobjectid_def" />
      <integer name="ResponseActionOutput_items_def_incomingemaildeliverymethod_def" />
      <string name="ResponseActionOutput_items_def__incomingemaildeliverymethod_label_def" />
      <string name="ResponseActionOutput_items_def_internalemailaddress_def" />
      <integer name="ResponseActionOutput_items_def_identityid_def" />
      <string name="ResponseActionOutput_items_def_domainname_def" />
      <string name="ResponseActionOutput_items_def__queueid_value_def" />
      <string name="ResponseActionOutput_items_def__queueid_type_def" />
      <boolean name="ResponseActionOutput_items_def_isintegrationuser_def" />
      <string name="ResponseActionOutput_items_def_createdon_def" />
      <string name="ResponseActionOutput_items_def__calendarid_value_def" />
      <string name="ResponseActionOutput_items_def__calendarid_type_def" />
      <string name="ResponseActionOutput_items_def_windowsliveid_def" />
      <integer name="ResponseActionOutput_items_def_address1_addresstypecode_def" />
      <string name="ResponseActionOutput_items_def__address1_addresstypecode_label_def" />
      <string name="ResponseActionOutput_items_def__businessunitid_value_def" />
      <string name="ResponseActionOutput_items_def__businessunitid_type_def" />
      <boolean name="ResponseActionOutput_items_def_displayinserviceviews_def" />
      <integer name="ResponseActionOutput_items_def_caltype_def" />
      <string name="ResponseActionOutput_items_def__caltype_label_def" />
      <string name="ResponseActionOutput_items_def_modifiedon_def" />
      <boolean name="ResponseActionOutput_items_def_defaultfilterspopulated_def" />
      <integer name="ResponseActionOutput_items_def_outgoingemaildeliverymethod_def" />
      <string name="ResponseActionOutput_items_def__outgoingemaildeliverymethod_label_def" />
      <string name="ResponseActionOutput_items_def_title_def" />
      <integer name="ResponseActionOutput_items_def_emailrouteraccessapproval_def" />
      <string name="ResponseActionOutput_items_def__emailrouteraccessapproval_label_def" />
      <integer name="ResponseActionOutput_items_def_versionnumber_def" />
      <integer name="ResponseActionOutput_items_def_address2_addresstypecode_def" />
      <string name="ResponseActionOutput_items_def__address2_addresstypecode_label_def" />
      <integer name="ResponseActionOutput_items_def_preferredphonecode_def" />
      <string name="ResponseActionOutput_items_def__preferredphonecode_label_def" />
      <string name="ResponseActionOutput_items_def_fullname_def" />
      <boolean name="ResponseActionOutput_items_def_issyncwithdirectory_def" />
      <integer name="ResponseActionOutput_items_def_preferredemailcode_def" />
      <string name="ResponseActionOutput_items_def__preferredemailcode_label_def" />
      <integer name="ResponseActionOutput_items_def_userlicensetype_def" />
      <string name="ResponseActionOutput_items_def_organizationid_def" />
      <string name="ResponseActionOutput_items_def_defaultodbfoldername_def" />
      <boolean name="ResponseActionOutput_items_def_isemailaddressapprovedbyo365admin_def" />
      <integer name="ResponseActionOutput_items_def_invitestatuscode_def" />
      <string name="ResponseActionOutput_items_def__invitestatuscode_label_def" />
      <string name="ResponseActionOutput_items_def_yomifullname_def" />
      <boolean name="ResponseActionOutput_items_def_isdisabled_def" />
      <string name="ResponseActionOutput_items_def_userpuid_def" />
      <string name="ResponseActionOutput_items_def__defaultmailbox_value_def" />
      <string name="ResponseActionOutput_items_def__defaultmailbox_type_def" />
      <integer name="ResponseActionOutput_items_def_preferredaddresscode_def" />
      <string name="ResponseActionOutput_items_def__preferredaddresscode_label_def" />
      <string name="ResponseActionOutput_items_def_lastname_def" />
      <boolean name="ResponseActionOutput_items_def_islicensed_def" />
      <string name="ResponseActionOutput_items_def_mobilephone_def" />
      <string name="ResponseActionOutput_items_def__modifiedby_value_def" />
      <string name="ResponseActionOutput_items_def__modifiedby_type_def" />
      <string name="ResponseActionOutput_items_def_applicationid_def" />
      <string name="ResponseActionOutput_items_def__createdby_value_def" />
      <string name="ResponseActionOutput_items_def__createdby_type_def" />
      <string name="ResponseActionOutput_items_def_address1_stateorprovince_def" />
      <string name="ResponseActionOutput_items_def_address1_composite_def" />
      <string name="ResponseActionOutput_items_def_address1_telephone1_def" />
      <string name="ResponseActionOutput_items_def_address1_line1_def" />
      <string name="ResponseActionOutput_items_def_address1_city_def" />
      <string name="ResponseActionOutput_items_def_address1_postalcode_def" />
      <string name="ResponseActionOutput_items_def_address1_country_def" />
      <string name="ResponseActionOutput_items_def__modifiedonbehalfby_value_def" />
      <string name="ResponseActionOutput_items_def__modifiedonbehalfby_type_def" />
      <string name="ResponseActionOutput_items_def_applicationiduri_def" />
      <string name="ResponseActionOutput_items_def__transactioncurrencyid_value_def" />
      <string name="ResponseActionOutput_items_def__transactioncurrencyid_type_def" />
      <integer name="ResponseActionOutput_items_def_exchangerate_def" />
      <string name="ResponseActionOutput_items_def__ux40_odata_id_def" />
      <string name="ResponseActionOutput_items_def__ux40_odata_etag_def" />
      <object name="ResponseActionOutput_items_def">
        <property name="ItemInternalId" type="string" />
        <property name="systemuserid" type="string" />
        <property name="accessmode" type="integer" />
        <property name="_accessmode_label" type="string" />
        <property name="firstname" type="string" />
        <property name="setupuser" type="boolean" />
        <property name="azureactivedirectoryobjectid" type="string" />
        <property name="incomingemaildeliverymethod" type="integer" />
        <property name="_incomingemaildeliverymethod_label" type="string" />
        <property name="internalemailaddress" type="string" />
        <property name="identityid" type="integer" />
        <property name="domainname" type="string" />
        <property name="_queueid_value" type="string" />
        <property name="_queueid_type" type="string" />
        <property name="isintegrationuser" type="boolean" />
        <property name="createdon" type="string" />
        <property name="_calendarid_value" type="string" />
        <property name="_calendarid_type" type="string" />
        <property name="windowsliveid" type="string" />
        <property name="address1_addresstypecode" type="integer" />
        <property name="_address1_addresstypecode_label" type="string" />
        <property name="_businessunitid_value" type="string" />
        <property name="_businessunitid_type" type="string" />
        <property name="displayinserviceviews" type="boolean" />
        <property name="caltype" type="integer" />
        <property name="_caltype_label" type="string" />
        <property name="modifiedon" type="string" />
        <property name="defaultfilterspopulated" type="boolean" />
        <property name="outgoingemaildeliverymethod" type="integer" />
        <property name="_outgoingemaildeliverymethod_label" type="string" />
        <property name="title" type="string" />
        <property name="emailrouteraccessapproval" type="integer" />
        <property name="_emailrouteraccessapproval_label" type="string" />
        <property name="versionnumber" type="integer" />
        <property name="address2_addresstypecode" type="integer" />
        <property name="_address2_addresstypecode_label" type="string" />
        <property name="preferredphonecode" type="integer" />
        <property name="_preferredphonecode_label" type="string" />
        <property name="fullname" type="string" />
        <property name="issyncwithdirectory" type="boolean" />
        <property name="preferredemailcode" type="integer" />
        <property name="_preferredemailcode_label" type="string" />
        <property name="userlicensetype" type="integer" />
        <property name="organizationid" type="string" />
        <property name="defaultodbfoldername" type="string" />
        <property name="isemailaddressapprovedbyo365admin" type="boolean" />
        <property name="invitestatuscode" type="integer" />
        <property name="_invitestatuscode_label" type="string" />
        <property name="yomifullname" type="string" />
        <property name="isdisabled" type="boolean" />
        <property name="userpuid" type="string" />
        <property name="_defaultmailbox_value" type="string" />
        <property name="_defaultmailbox_type" type="string" />
        <property name="preferredaddresscode" type="integer" />
        <property name="_preferredaddresscode_label" type="string" />
        <property name="lastname" type="string" />
        <property name="islicensed" type="boolean" />
        <property name="mobilephone" type="string" />
        <property name="_modifiedby_value" type="string" />
        <property name="_modifiedby_type" type="string" />
        <property name="applicationid" type="string" />
        <property name="_createdby_value" type="string" />
        <property name="_createdby_type" type="string" />
        <property name="address1_stateorprovince" type="string" />
        <property name="address1_composite" type="string" />
        <property name="address1_telephone1" type="string" />
        <property name="address1_line1" type="string" />
        <property name="address1_city" type="string" />
        <property name="address1_postalcode" type="string" />
        <property name="address1_country" type="string" />
        <property name="_modifiedonbehalfby_value" type="string" />
        <property name="_modifiedonbehalfby_type" type="string" />
        <property name="applicationiduri" type="string" />
        <property name="_transactioncurrencyid_value" type="string" />
        <property name="_transactioncurrencyid_type" type="string" />
        <property name="exchangerate" type="integer" />
        <property name="@odata.id" type="string" />
        <property name="@odata.etag" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_items_def" name="ResponseActionOutput" />
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://unitedstates-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="text" path="/text" type="xs:string" required="true">
              <doc title="Region Subdomain" />
            </param>
            <param style="plain" name="text_1" path="/text_1" type="xs:string" required="true">
              <doc title="Environment Unique Name" />
            </param>
            <param style="plain" name="text_2" path="/text_2" type="xs:string" required="true">
              <doc title="Solution ID" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>