ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/pkgs/Wadl/GetEnvironmentId.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="GetEnvironmentId" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="GetEnvironmentId" />
  <grammars>
    <jsonTypes targetNamespace="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <object name="ManualTriggerInput" />
      <string name="ResponseActionOutput_id_def" />
      <string name="ResponseActionOutput_name_def" />
      <string name="ResponseActionOutput_type_def" />
      <string name="ResponseActionOutput_location_def" />
      <string name="ResponseActionOutput_tags_def_flowDisplayName_def" />
      <string name="ResponseActionOutput_tags_def_environmentName_def" />
      <string name="ResponseActionOutput_tags_def_logicAppName_def" />
      <string name="ResponseActionOutput_tags_def_environmentWorkflowId_def" />
      <string name="ResponseActionOutput_tags_def_xrmWorkflowId_def" />
      <string name="ResponseActionOutput_tags_def_environmentFlowSuspensionReason_def" />
      <string name="ResponseActionOutput_tags_def_sharingType_def" />
      <object name="ResponseActionOutput_tags_def">
        <property name="flowDisplayName" type="string" />
        <property name="environmentName" type="string" />
        <property name="logicAppName" type="string" />
        <property name="environmentWorkflowId" type="string" />
        <property name="xrmWorkflowId" type="string" />
        <property name="environmentFlowSuspensionReason" type="string" />
        <property name="sharingType" type="string" />
      </object>
      <string name="ResponseActionOutput_run_def_id_def" />
      <string name="ResponseActionOutput_run_def_name_def" />
      <string name="ResponseActionOutput_run_def_type_def" />
      <object name="ResponseActionOutput_run_def">
        <property name="id" type="string" />
        <property name="name" type="string" />
        <property name="type" type="string" />
      </object>
      <object name="ResponseActionOutput">
        <property name="id" type="string" />
        <property name="name" type="string" />
        <property name="type" type="string" />
        <property name="location" type="string" />
        <property name="tags" typeRef="ResponseActionOutput_tags_def" />
        <property name="run" typeRef="ResponseActionOutput_run_def" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://unitedstates-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json" />
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>