ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/pkgs/Wadl/GetSolutionCanvasApps.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="GetSolutionCanvasApps" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="GetSolutionCanvasApps" />
  <grammars>
    <jsonTypes targetNamespace="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_text_def" />
      <string name="ManualTriggerInput_text_1_def" />
      <string name="ManualTriggerInput_text_2_def" />
      <object name="ManualTriggerInput">
        <property name="text" type="string" />
        <property name="text_1" type="string" />
        <property name="text_2" type="string" />
      </object>
      <string name="ResponseActionOutput_items_def_ItemInternalId_def" />
      <string name="ResponseActionOutput_items_def_canvasapprowid_def" />
      <string name="ResponseActionOutput_items_def_createdbyclientversion_def" />
      <string name="ResponseActionOutput_items_def__owningbusinessunit_value_def" />
      <string name="ResponseActionOutput_items_def__owningbusinessunit_type_def" />
      <boolean name="ResponseActionOutput_items_def_admincontrolbypassconsent_def" />
      <string name="ResponseActionOutput_items_def_aadcreatedbyid_def" />
      <integer name="ResponseActionOutput_items_def_canvasapptype_def" />
      <string name="ResponseActionOutput_items_def__canvasapptype_label_def" />
      <string name="ResponseActionOutput_items_def_appcomponentdependencies_def" />
      <string name="ResponseActionOutput_items_def_aadlastmodifiedbyid_def" />
      <string name="ResponseActionOutput_items_def_authorizationreferences_def" />
      <boolean name="ResponseActionOutput_items_def_isheroapp_def" />
      <string name="ResponseActionOutput_items_def__ownerid_value_def" />
      <string name="ResponseActionOutput_items_def__ownerid_type_def" />
      <string name="ResponseActionOutput_items_def_overwritetime_def" />
      <string name="ResponseActionOutput_items_def_name_def" />
      <string name="ResponseActionOutput_items_def_cdsdependencies_def" />
      <string name="ResponseActionOutput_items_def_solutionid_def" />
      <boolean name="ResponseActionOutput_items_def_ismanaged_def" />
      <integer name="ResponseActionOutput_items_def_versionnumber_def" />
      <string name="ResponseActionOutput_items_def_createdtime_def" />
      <string name="ResponseActionOutput_items_def_lastpublishtime_def" />
      <string name="ResponseActionOutput_items_def_appversion_def" />
      <string name="ResponseActionOutput_items_def_tags_def" />
      <string name="ResponseActionOutput_items_def_canvasappid_def" />
      <string name="ResponseActionOutput_items_def_appcomponents_def" />
      <string name="ResponseActionOutput_items_def_backgroundcolor_def" />
      <string name="ResponseActionOutput_items_def_databasereferences_def" />
      <string name="ResponseActionOutput_items_def_introducedversion_def" />
      <string name="ResponseActionOutput_items_def_displayname_def" />
      <string name="ResponseActionOutput_items_def_minclientversion_def" />
      <string name="ResponseActionOutput_items_def_aadlastpublishedbyid_def" />
      <integer name="ResponseActionOutput_items_def_componentstate_def" />
      <string name="ResponseActionOutput_items_def__componentstate_label_def" />
      <boolean name="ResponseActionOutput_items_def_ishidden_def" />
      <boolean name="ResponseActionOutput_items_def_isfeaturedapp_def" />
      <string name="ResponseActionOutput_items_def_lastmodifiedtime_def" />
      <string name="ResponseActionOutput_items_def_connectionreferences_def" />
      <boolean name="ResponseActionOutput_items_def_iscdsupgraded_def" />
      <string name="ResponseActionOutput_items_def_status_def" />
      <boolean name="ResponseActionOutput_items_def_bypassconsent_def" />
      <string name="ResponseActionOutput_items_def_appopenuri_def" />
      <boolean name="ResponseActionOutput_items_def_iscustomizable_def" />
      <string name="ResponseActionOutput_items_def__ux40_odata_context_def" />
      <string name="ResponseActionOutput_items_def__ux40_odata_id_def" />
      <string name="ResponseActionOutput_items_def__ux40_odata_etag_def" />
      <object name="ResponseActionOutput_items_def">
        <property name="ItemInternalId" type="string" />
        <property name="canvasapprowid" type="string" />
        <property name="createdbyclientversion" type="string" />
        <property name="_owningbusinessunit_value" type="string" />
        <property name="_owningbusinessunit_type" type="string" />
        <property name="admincontrolbypassconsent" type="boolean" />
        <property name="aadcreatedbyid" type="string" />
        <property name="canvasapptype" type="integer" />
        <property name="_canvasapptype_label" type="string" />
        <property name="appcomponentdependencies" type="string" />
        <property name="aadlastmodifiedbyid" type="string" />
        <property name="authorizationreferences" type="string" />
        <property name="isheroapp" type="boolean" />
        <property name="_ownerid_value" type="string" />
        <property name="_ownerid_type" type="string" />
        <property name="overwritetime" type="string" />
        <property name="name" type="string" />
        <property name="cdsdependencies" type="string" />
        <property name="solutionid" type="string" />
        <property name="ismanaged" type="boolean" />
        <property name="versionnumber" type="integer" />
        <property name="createdtime" type="string" />
        <property name="lastpublishtime" type="string" />
        <property name="appversion" type="string" />
        <property name="tags" type="string" />
        <property name="canvasappid" type="string" />
        <property name="appcomponents" type="string" />
        <property name="backgroundcolor" type="string" />
        <property name="databasereferences" type="string" />
        <property name="introducedversion" type="string" />
        <property name="displayname" type="string" />
        <property name="minclientversion" type="string" />
        <property name="aadlastpublishedbyid" type="string" />
        <property name="componentstate" type="integer" />
        <property name="_componentstate_label" type="string" />
        <property name="ishidden" type="boolean" />
        <property name="isfeaturedapp" type="boolean" />
        <property name="lastmodifiedtime" type="string" />
        <property name="connectionreferences" type="string" />
        <property name="iscdsupgraded" type="boolean" />
        <property name="status" type="string" />
        <property name="bypassconsent" type="boolean" />
        <property name="appopenuri" type="string" />
        <property name="iscustomizable" type="boolean" />
        <property name="@odata.context" type="string" />
        <property name="@odata.id" type="string" />
        <property name="@odata.etag" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_items_def" name="ResponseActionOutput" />
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://unitedstates-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="text" path="/text" type="xs:string" required="true">
              <doc title="Region Subdomain" />
            </param>
            <param style="plain" name="text_1" path="/text_1" type="xs:string" required="true">
              <doc title="Environment Unique Name" />
            </param>
            <param style="plain" name="text_2" path="/text_2" type="xs:string" required="true">
              <doc title="Solution ID" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>