ALMAcceleratorForAdvancedMakers/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/pkgs/Wadl/GetSolutionComponents.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="GetSolutionComponents" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="GetSolutionComponents" />
  <grammars>
    <jsonTypes targetNamespace="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_RegionSubdomain_Value_def" />
      <string name="ManualTriggerInput_EnvironmentUniqueName_Value_def" />
      <string name="ManualTriggerInput_SolutionId_Value_def" />
      <object name="ManualTriggerInput">
        <property name="RegionSubdomain_Value" type="string" />
        <property name="EnvironmentUniqueName_Value" type="string" />
        <property name="SolutionId_Value" type="string" />
      </object>
      <string name="ResponseActionOutput_items_def_ItemInternalId_def" />
      <integer name="ResponseActionOutput_items_def_rootcomponentbehavior_def" />
      <string name="ResponseActionOutput_items_def__rootcomponentbehavior_label_def" />
      <string name="ResponseActionOutput_items_def__solutionid_value_def" />
      <string name="ResponseActionOutput_items_def__solutionid_type_def" />
      <string name="ResponseActionOutput_items_def__modifiedonbehalfby_value_def" />
      <string name="ResponseActionOutput_items_def__modifiedonbehalfby_type_def" />
      <string name="ResponseActionOutput_items_def__createdonbehalfby_value_def" />
      <string name="ResponseActionOutput_items_def__createdonbehalfby_type_def" />
      <boolean name="ResponseActionOutput_items_def_ismetadata_def" />
      <integer name="ResponseActionOutput_items_def_componenttype_def" />
      <string name="ResponseActionOutput_items_def__componenttype_label_def" />
      <string name="ResponseActionOutput_items_def__createdby_value_def" />
      <string name="ResponseActionOutput_items_def__createdby_type_def" />
      <string name="ResponseActionOutput_items_def_modifiedon_def" />
      <string name="ResponseActionOutput_items_def_solutioncomponentid_def" />
      <string name="ResponseActionOutput_items_def__modifiedby_value_def" />
      <string name="ResponseActionOutput_items_def__modifiedby_type_def" />
      <integer name="ResponseActionOutput_items_def_versionnumber_def" />
      <string name="ResponseActionOutput_items_def_createdon_def" />
      <string name="ResponseActionOutput_items_def_objectid_def" />
      <string name="ResponseActionOutput_items_def__ux40_odata_id_def" />
      <string name="ResponseActionOutput_items_def__ux40_odata_etag_def" />
      <object name="ResponseActionOutput_items_def">
        <property name="ItemInternalId" type="string" />
        <property name="rootcomponentbehavior" type="integer" />
        <property name="_rootcomponentbehavior_label" type="string" />
        <property name="_solutionid_value" type="string" />
        <property name="_solutionid_type" type="string" />
        <property name="_modifiedonbehalfby_value" type="string" />
        <property name="_modifiedonbehalfby_type" type="string" />
        <property name="_createdonbehalfby_value" type="string" />
        <property name="_createdonbehalfby_type" type="string" />
        <property name="ismetadata" type="boolean" />
        <property name="componenttype" type="integer" />
        <property name="_componenttype_label" type="string" />
        <property name="_createdby_value" type="string" />
        <property name="_createdby_type" type="string" />
        <property name="modifiedon" type="string" />
        <property name="solutioncomponentid" type="string" />
        <property name="_modifiedby_value" type="string" />
        <property name="_modifiedby_type" type="string" />
        <property name="versionnumber" type="integer" />
        <property name="createdon" type="string" />
        <property name="objectid" type="string" />
        <property name="@odata.id" type="string" />
        <property name="@odata.etag" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_items_def" name="ResponseActionOutput" />
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://unitedstates-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="RegionSubdomain_Value" path="/RegionSubdomain_Value" type="xs:string" required="true" />
            <param style="plain" name="EnvironmentUniqueName_Value" path="/EnvironmentUniqueName_Value" type="xs:string" required="true" />
            <param style="plain" name="SolutionId_Value" path="/SolutionId_Value" type="xs:string" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>