CenterofExcellenceALMAccelerator/SolutionPackage/src/CanvasApps/src/cat_poweropsdevopsedition_7f3f4/pkgs/Wadl/GetSolutionWebHookURLs.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="GetSolutionWebHookURLs" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="GetSolutionWebHookURLs" />
  <grammars>
    <jsonTypes targetNamespace="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_text_def" />
      <string name="ManualTriggerInput_text_1_def" />
      <string name="ManualTriggerInput_text_2_def" />
      <object name="ManualTriggerInput">
        <property name="text" type="string" />
        <property name="text_1" type="string" />
        <property name="text_2" type="string" />
      </object>
      <string name="ResponseActionOutput_items_def_ItemInternalId_def" />
      <string name="ResponseActionOutput_items_def_serviceendpointid_def" />
      <integer name="ResponseActionOutput_items_def_messageformat_def" />
      <string name="ResponseActionOutput_items_def__messageformat_label_def" />
      <string name="ResponseActionOutput_items_def_serviceendpointidunique_def" />
      <integer name="ResponseActionOutput_items_def_userclaim_def" />
      <string name="ResponseActionOutput_items_def__userclaim_label_def" />
      <string name="ResponseActionOutput_items_def_createdon_def" />
      <string name="ResponseActionOutput_items_def_name_def" />
      <string name="ResponseActionOutput_items_def_solutionid_def" />
      <boolean name="ResponseActionOutput_items_def_ismanaged_def" />
      <boolean name="ResponseActionOutput_items_def_usekeyvaultconfiguration_def" />
      <integer name="ResponseActionOutput_items_def_namespaceformat_def" />
      <string name="ResponseActionOutput_items_def__namespaceformat_label_def" />
      <string name="ResponseActionOutput_items_def_introducedversion_def" />
      <integer name="ResponseActionOutput_items_def_contract_def" />
      <string name="ResponseActionOutput_items_def__contract_label_def" />
      <integer name="ResponseActionOutput_items_def_authtype_def" />
      <string name="ResponseActionOutput_items_def__authtype_label_def" />
      <string name="ResponseActionOutput_items_def_url_def" />
      <string name="ResponseActionOutput_items_def__modifiedby_value_def" />
      <string name="ResponseActionOutput_items_def__modifiedby_type_def" />
      <string name="ResponseActionOutput_items_def_solutionnamespace_def" />
      <string name="ResponseActionOutput_items_def_modifiedon_def" />
      <string name="ResponseActionOutput_items_def__organizationid_value_def" />
      <string name="ResponseActionOutput_items_def__organizationid_type_def" />
      <integer name="ResponseActionOutput_items_def_connectionmode_def" />
      <string name="ResponseActionOutput_items_def__connectionmode_label_def" />
      <integer name="ResponseActionOutput_items_def_componentstate_def" />
      <string name="ResponseActionOutput_items_def__componentstate_label_def" />
      <string name="ResponseActionOutput_items_def__createdby_value_def" />
      <string name="ResponseActionOutput_items_def__createdby_type_def" />
      <string name="ResponseActionOutput_items_def_overwritetime_def" />
      <string name="ResponseActionOutput_items_def_path_def" />
      <string name="ResponseActionOutput_items_def__schematype_label_def" />
      <string name="ResponseActionOutput_items_def__messagecharset_label_def" />
      <boolean name="ResponseActionOutput_items_def_iscustomizable_def" />
      <string name="ResponseActionOutput_items_def__ux40_odata_id_def" />
      <string name="ResponseActionOutput_items_def__ux40_odata_etag_def" />
      <object name="ResponseActionOutput_items_def">
        <property name="ItemInternalId" type="string" />
        <property name="serviceendpointid" type="string" />
        <property name="messageformat" type="integer" />
        <property name="_messageformat_label" type="string" />
        <property name="serviceendpointidunique" type="string" />
        <property name="userclaim" type="integer" />
        <property name="_userclaim_label" type="string" />
        <property name="createdon" type="string" />
        <property name="name" type="string" />
        <property name="solutionid" type="string" />
        <property name="ismanaged" type="boolean" />
        <property name="usekeyvaultconfiguration" type="boolean" />
        <property name="namespaceformat" type="integer" />
        <property name="_namespaceformat_label" type="string" />
        <property name="introducedversion" type="string" />
        <property name="contract" type="integer" />
        <property name="_contract_label" type="string" />
        <property name="authtype" type="integer" />
        <property name="_authtype_label" type="string" />
        <property name="url" type="string" />
        <property name="_modifiedby_value" type="string" />
        <property name="_modifiedby_type" type="string" />
        <property name="solutionnamespace" type="string" />
        <property name="modifiedon" type="string" />
        <property name="_organizationid_value" type="string" />
        <property name="_organizationid_type" type="string" />
        <property name="connectionmode" type="integer" />
        <property name="_connectionmode_label" type="string" />
        <property name="componentstate" type="integer" />
        <property name="_componentstate_label" type="string" />
        <property name="_createdby_value" type="string" />
        <property name="_createdby_type" type="string" />
        <property name="overwritetime" type="string" />
        <property name="path" type="string" />
        <property name="_schematype_label" type="string" />
        <property name="_messagecharset_label" type="string" />
        <property name="iscustomizable" type="boolean" />
        <property name="@odata.id" type="string" />
        <property name="@odata.etag" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_items_def" name="ResponseActionOutput" />
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://unitedstates-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="text" path="/text" type="xs:string" required="true">
              <doc title="Region Subdomain" />
            </param>
            <param style="plain" name="text_1" path="/text_1" type="xs:string" required="true">
              <doc title="Environment Unique Name" />
            </param>
            <param style="plain" name="text_2" path="/text_2" type="xs:string" required="true">
              <doc title="Solution ID" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>