CenterofExcellenceALMAccelerator/SolutionPackage/src/CanvasApps/src/cat_poweropsdevopsedition_7f3f4/pkgs/Wadl/GetSolutionSDKSteps.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="GetSolutionSDKSteps" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="GetSolutionSDKSteps" />
  <grammars>
    <jsonTypes targetNamespace="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_text_def" />
      <string name="ManualTriggerInput_text_1_def" />
      <string name="ManualTriggerInput_text_2_def" />
      <object name="ManualTriggerInput">
        <property name="text" type="string" />
        <property name="text_1" type="string" />
        <property name="text_2" type="string" />
      </object>
      <string name="ResponseActionOutput_items_def_ItemInternalId_def" />
      <integer name="ResponseActionOutput_items_def_supporteddeployment_def" />
      <string name="ResponseActionOutput_items_def__supporteddeployment_label_def" />
      <integer name="ResponseActionOutput_items_def_stage_def" />
      <string name="ResponseActionOutput_items_def__stage_label_def" />
      <integer name="ResponseActionOutput_items_def_statuscode_def" />
      <string name="ResponseActionOutput_items_def__statuscode_label_def" />
      <integer name="ResponseActionOutput_items_def_customizationlevel_def" />
      <string name="ResponseActionOutput_items_def_description_def" />
      <string name="ResponseActionOutput_items_def_createdon_def" />
      <string name="ResponseActionOutput_items_def_configuration_def" />
      <integer name="ResponseActionOutput_items_def_statecode_def" />
      <string name="ResponseActionOutput_items_def__statecode_label_def" />
      <string name="ResponseActionOutput_items_def__sdkmessagefilterid_value_def" />
      <string name="ResponseActionOutput_items_def__sdkmessagefilterid_type_def" />
      <integer name="ResponseActionOutput_items_def_rank_def" />
      <string name="ResponseActionOutput_items_def__sdkmessageid_value_def" />
      <string name="ResponseActionOutput_items_def__sdkmessageid_type_def" />
      <boolean name="ResponseActionOutput_items_def_asyncautodelete_def" />
      <string name="ResponseActionOutput_items_def_name_def" />
      <string name="ResponseActionOutput_items_def_sdkmessageprocessingstepid_def" />
      <string name="ResponseActionOutput_items_def_solutionid_def" />
      <boolean name="ResponseActionOutput_items_def_ismanaged_def" />
      <integer name="ResponseActionOutput_items_def_versionnumber_def" />
      <integer name="ResponseActionOutput_items_def_mode_def" />
      <string name="ResponseActionOutput_items_def__mode_label_def" />
      <string name="ResponseActionOutput_items_def_introducedversion_def" />
      <string name="ResponseActionOutput_items_def_sdkmessageprocessingstepidunique_def" />
      <string name="ResponseActionOutput_items_def__modifiedby_value_def" />
      <string name="ResponseActionOutput_items_def__modifiedby_type_def" />
      <string name="ResponseActionOutput_items_def_modifiedon_def" />
      <boolean name="ResponseActionOutput_items_def_enablepluginprofiler_def" />
      <integer name="ResponseActionOutput_items_def_componentstate_def" />
      <string name="ResponseActionOutput_items_def__componentstate_label_def" />
      <string name="ResponseActionOutput_items_def__eventhandler_value_def" />
      <string name="ResponseActionOutput_items_def__eventhandler_type_def" />
      <string name="ResponseActionOutput_items_def__createdby_value_def" />
      <string name="ResponseActionOutput_items_def__createdby_type_def" />
      <string name="ResponseActionOutput_items_def__organizationid_value_def" />
      <string name="ResponseActionOutput_items_def__organizationid_type_def" />
      <string name="ResponseActionOutput_items_def__sdkmessageprocessingstepsecureconfigid_value_def" />
      <string name="ResponseActionOutput_items_def__sdkmessageprocessingstepsecureconfigid_type_def" />
      <string name="ResponseActionOutput_items_def_overwritetime_def" />
      <boolean name="ResponseActionOutput_items_def_canusereadonlyconnection_def" />
      <boolean name="ResponseActionOutput_items_def_ishidden_def" />
      <boolean name="ResponseActionOutput_items_def_iscustomizable_def" />
      <string name="ResponseActionOutput_items_def__ux40_odata_id_def" />
      <string name="ResponseActionOutput_items_def__ux40_odata_etag_def" />
      <object name="ResponseActionOutput_items_def">
        <property name="ItemInternalId" type="string" />
        <property name="supporteddeployment" type="integer" />
        <property name="_supporteddeployment_label" type="string" />
        <property name="stage" type="integer" />
        <property name="_stage_label" type="string" />
        <property name="statuscode" type="integer" />
        <property name="_statuscode_label" type="string" />
        <property name="customizationlevel" type="integer" />
        <property name="description" type="string" />
        <property name="createdon" type="string" />
        <property name="configuration" type="string" />
        <property name="statecode" type="integer" />
        <property name="_statecode_label" type="string" />
        <property name="_sdkmessagefilterid_value" type="string" />
        <property name="_sdkmessagefilterid_type" type="string" />
        <property name="rank" type="integer" />
        <property name="_sdkmessageid_value" type="string" />
        <property name="_sdkmessageid_type" type="string" />
        <property name="asyncautodelete" type="boolean" />
        <property name="name" type="string" />
        <property name="sdkmessageprocessingstepid" type="string" />
        <property name="solutionid" type="string" />
        <property name="ismanaged" type="boolean" />
        <property name="versionnumber" type="integer" />
        <property name="mode" type="integer" />
        <property name="_mode_label" type="string" />
        <property name="introducedversion" type="string" />
        <property name="sdkmessageprocessingstepidunique" type="string" />
        <property name="_modifiedby_value" type="string" />
        <property name="_modifiedby_type" type="string" />
        <property name="modifiedon" type="string" />
        <property name="enablepluginprofiler" type="boolean" />
        <property name="componentstate" type="integer" />
        <property name="_componentstate_label" type="string" />
        <property name="_eventhandler_value" type="string" />
        <property name="_eventhandler_type" type="string" />
        <property name="_createdby_value" type="string" />
        <property name="_createdby_type" type="string" />
        <property name="_organizationid_value" type="string" />
        <property name="_organizationid_type" type="string" />
        <property name="_sdkmessageprocessingstepsecureconfigid_value" type="string" />
        <property name="_sdkmessageprocessingstepsecureconfigid_type" type="string" />
        <property name="overwritetime" type="string" />
        <property name="canusereadonlyconnection" type="boolean" />
        <property name="ishidden" type="boolean" />
        <property name="iscustomizable" type="boolean" />
        <property name="@odata.id" type="string" />
        <property name="@odata.etag" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_items_def" name="ResponseActionOutput" />
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://unitedstates-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="text" path="/text" type="xs:string" required="true">
              <doc title="Region Subdomain" />
            </param>
            <param style="plain" name="text_1" path="/text_1" type="xs:string" required="true">
              <doc title="Environment Unique Name" />
            </param>
            <param style="plain" name="text_2" path="/text_2" type="xs:string" required="true">
              <doc title="Solution ID" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>