CenterofExcellenceALMAccelerator/SolutionPackage/src/CanvasApps/src/cat_poweropsdevopsedition_7f3f4/pkgs/Wadl/GetSolutionSecurityRoles.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="GetSolutionSecurityRoles" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="GetSolutionSecurityRoles" />
  <grammars>
    <jsonTypes targetNamespace="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_text_def" />
      <string name="ManualTriggerInput_text_1_def" />
      <object name="ManualTriggerInput">
        <property name="text" type="string" />
        <property name="text_1" type="string" />
      </object>
      <string name="ResponseActionOutput_items_def_ItemInternalId_def" />
      <string name="ResponseActionOutput_items_def_overwritetime_def" />
      <string name="ResponseActionOutput_items_def_organizationid_def" />
      <integer name="ResponseActionOutput_items_def_isinherited_def" />
      <string name="ResponseActionOutput_items_def__isinherited_label_def" />
      <string name="ResponseActionOutput_items_def_solutionid_def" />
      <string name="ResponseActionOutput_items_def_roleidunique_def" />
      <string name="ResponseActionOutput_items_def__createdby_value_def" />
      <string name="ResponseActionOutput_items_def__createdby_type_def" />
      <string name="ResponseActionOutput_items_def_roleid_def" />
      <integer name="ResponseActionOutput_items_def_componentstate_def" />
      <string name="ResponseActionOutput_items_def__componentstate_label_def" />
      <string name="ResponseActionOutput_items_def_modifiedon_def" />
      <string name="ResponseActionOutput_items_def__modifiedby_value_def" />
      <string name="ResponseActionOutput_items_def__modifiedby_type_def" />
      <string name="ResponseActionOutput_items_def__parentrootroleid_value_def" />
      <string name="ResponseActionOutput_items_def__parentrootroleid_type_def" />
      <boolean name="ResponseActionOutput_items_def_ismanaged_def" />
      <string name="ResponseActionOutput_items_def_createdon_def" />
      <integer name="ResponseActionOutput_items_def_versionnumber_def" />
      <string name="ResponseActionOutput_items_def__businessunitid_value_def" />
      <string name="ResponseActionOutput_items_def__businessunitid_type_def" />
      <string name="ResponseActionOutput_items_def_name_def" />
      <boolean name="ResponseActionOutput_items_def_iscustomizable_def" />
      <boolean name="ResponseActionOutput_items_def_canbedeleted_def" />
      <string name="ResponseActionOutput_items_def__roletemplateid_value_def" />
      <string name="ResponseActionOutput_items_def__roletemplateid_type_def" />
      <string name="ResponseActionOutput_items_def__ux40_odata_id_def" />
      <string name="ResponseActionOutput_items_def__ux40_odata_etag_def" />
      <object name="ResponseActionOutput_items_def">
        <property name="ItemInternalId" type="string" />
        <property name="overwritetime" type="string" />
        <property name="organizationid" type="string" />
        <property name="isinherited" type="integer" />
        <property name="_isinherited_label" type="string" />
        <property name="solutionid" type="string" />
        <property name="roleidunique" type="string" />
        <property name="_createdby_value" type="string" />
        <property name="_createdby_type" type="string" />
        <property name="roleid" type="string" />
        <property name="componentstate" type="integer" />
        <property name="_componentstate_label" type="string" />
        <property name="modifiedon" type="string" />
        <property name="_modifiedby_value" type="string" />
        <property name="_modifiedby_type" type="string" />
        <property name="_parentrootroleid_value" type="string" />
        <property name="_parentrootroleid_type" type="string" />
        <property name="ismanaged" type="boolean" />
        <property name="createdon" type="string" />
        <property name="versionnumber" type="integer" />
        <property name="_businessunitid_value" type="string" />
        <property name="_businessunitid_type" type="string" />
        <property name="name" type="string" />
        <property name="iscustomizable" type="boolean" />
        <property name="canbedeleted" type="boolean" />
        <property name="_roletemplateid_value" type="string" />
        <property name="_roletemplateid_type" type="string" />
        <property name="@odata.id" type="string" />
        <property name="@odata.etag" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_items_def" name="ResponseActionOutput" />
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://unitedstates-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="text" path="/text" type="xs:string" required="true">
              <doc title="Region Subdomain" />
            </param>
            <param style="plain" name="text_1" path="/text_1" type="xs:string" required="true">
              <doc title="Environment Unique Name" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>