PowerPlatformDevOpsALM/SolutionPackage/CanvasApps/cat_poweropsdevopsedition_7f3f4_DocumentUri_msapp_src/pkgs/Wadl/GetEnvironmentSolutions.xml

<?xml version="1.0"?>
<application siena:serviceId="GetEnvironmentSolutions" xmlns="http://wadl.dev.java.net/2009/02" xmlns:service="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema">
 <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
  <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows"/>
 </authenticationProviders>
 <doc title="GetEnvironmentSolutions"/>
 <grammars>
  <jsonTypes targetNamespace="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
   <array name="ResponseActionOutput" typeRef="ResponseActionOutput_items_def"/>
   <boolean name="ResponseActionOutput_items_def_isapimanaged_def"/>
   <boolean name="ResponseActionOutput_items_def_ismanaged_def"/>
   <boolean name="ResponseActionOutput_items_def_isvisible_def"/>
   <integer name="ResponseActionOutput_items_def_versionnumber_def"/>
   <object name="ManualTriggerInput">
    <property name="EnvironmentUniqueName_Value" type="string"/>
    <property name="RegionSubdomain_Value" type="string"/>
   </object>
   <object name="ResponseActionOutput_items_def">
    <property name="@odata.etag" type="string"/>
    <property name="@odata.id" type="string"/>
    <property name="_createdby_type" type="string"/>
    <property name="_createdby_value" type="string"/>
    <property name="_modifiedby_type" type="string"/>
    <property name="_modifiedby_value" type="string"/>
    <property name="_organizationid_type" type="string"/>
    <property name="_organizationid_value" type="string"/>
    <property name="_publisherid_type" type="string"/>
    <property name="_publisherid_value" type="string"/>
    <property name="_solutiontype_label" type="string"/>
    <property name="createdon" type="string"/>
    <property name="friendlyname" type="string"/>
    <property name="installedon" type="string"/>
    <property name="isapimanaged" type="boolean"/>
    <property name="ismanaged" type="boolean"/>
    <property name="isvisible" type="boolean"/>
    <property name="ItemInternalId" type="string"/>
    <property name="modifiedon" type="string"/>
    <property name="solutionid" type="string"/>
    <property name="uniquename" type="string"/>
    <property name="version" type="string"/>
    <property name="versionnumber" type="integer"/>
   </object>
   <object name="Run_responses_default_def"/>
   <string name="ManualTriggerInput_EnvironmentUniqueName_Value_def"/>
   <string name="ManualTriggerInput_RegionSubdomain_Value_def"/>
   <string name="ResponseActionOutput_items_def__createdby_type_def"/>
   <string name="ResponseActionOutput_items_def__createdby_value_def"/>
   <string name="ResponseActionOutput_items_def__modifiedby_type_def"/>
   <string name="ResponseActionOutput_items_def__modifiedby_value_def"/>
   <string name="ResponseActionOutput_items_def__organizationid_type_def"/>
   <string name="ResponseActionOutput_items_def__organizationid_value_def"/>
   <string name="ResponseActionOutput_items_def__publisherid_type_def"/>
   <string name="ResponseActionOutput_items_def__publisherid_value_def"/>
   <string name="ResponseActionOutput_items_def__solutiontype_label_def"/>
   <string name="ResponseActionOutput_items_def__ux40_odata_etag_def"/>
   <string name="ResponseActionOutput_items_def__ux40_odata_id_def"/>
   <string name="ResponseActionOutput_items_def_createdon_def"/>
   <string name="ResponseActionOutput_items_def_friendlyname_def"/>
   <string name="ResponseActionOutput_items_def_installedon_def"/>
   <string name="ResponseActionOutput_items_def_ItemInternalId_def"/>
   <string name="ResponseActionOutput_items_def_modifiedon_def"/>
   <string name="ResponseActionOutput_items_def_solutionid_def"/>
   <string name="ResponseActionOutput_items_def_uniquename_def"/>
   <string name="ResponseActionOutput_items_def_version_def"/>
  </jsonTypes>
 </grammars>
 <resources base="https://unitedstates-002.azure-apim.net/apim/logicflows" siena:authenticationProviderHref="#PowerAppAuth">
  <resource path="/{connectionId}/triggers/manual/run">
   <method id="Run" name="POST" siena:requiresAuthentication="true">
    <doc title="Runs a logic flow trigger."/>
    <request>
     <param fixed="2015-02-01-preview" name="api-version" required="true" style="query" type="xs:string">
      <doc title="The api version"/>
     </param>
     <representation mediaType="application/json">
      <param name="EnvironmentUniqueName_Value" path="/EnvironmentUniqueName_Value" required="true" style="plain" type="xs:string"/>
      <param name="RegionSubdomain_Value" path="/RegionSubdomain_Value" required="true" style="plain" type="xs:string"/>
     </representation>
    </request>
    <response>
     <representation element="service:ResponseActionOutput" mediaType="application/json"/>
    </response>
   </method>
   <param name="connectionId" required="true" style="template" type="xs:string"/>
  </resource>
 </resources>
 <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
  <variable name="connectionId">
   <modifyParams attribute="fixed" name="connectionId" style="template"/>
  </variable>
 </template>
</application>
