CenterofExcellenceNurtureComponents/SolutionPackage/CanvasApps/admin_traininginadaymanagement_3a72b_DocumentUri_msapp_src/pkgs/Wadl/TrainingInADay%7cCreateNewOutlookMeeting.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="TrainingInADay|CreateNewOutlookMeeting" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Training In A Day | Create New Outlook Meeting" />
  <grammars>
    <jsonTypes targetNamespace="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_InitializeInADayEventId_Value_def" />
      <integer name="ManualTriggerInput_InitializeTimeZoneOffset_Value_def" />
      <object name="ManualTriggerInput">
        <property name="InitializeInADayEventId_Value" type="string" />
        <property name="InitializeTimeZoneOffset_Value" type="integer" />
      </object>
      <string name="ResponseActionOutput_id_def" />
      <string name="ResponseActionOutput_joinurl_def" />
      <object name="ResponseActionOutput">
        <property name="id" type="string" />
        <property name="joinurl" type="string" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://unitedstates-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="InitializeInADayEventId_Value" path="/InitializeInADayEventId_Value" type="xs:string" required="true" />
            <param style="plain" name="InitializeTimeZoneOffset_Value" path="/InitializeTimeZoneOffset_Value" type="xs:long" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>