CenterofExcellenceCoreComponents/SolutionPackage/CanvasApps/admin_admincommandcenter_78913_DocumentUri_msapp_src/pkgs/Wadl/CommandCenterApp%3eGetM365ServiceMessages.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="CommandCenterApp&gt;GetM365ServiceMessages" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Command Center App &gt;  Get M365 Service Messages" />
  <grammars>
    <jsonTypes targetNamespace="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <object name="ManualTriggerInput" />
      <string name="ResponseActionOutput_items_def_title_def" />
      <string name="ResponseActionOutput_items_def_content_def" />
      <string name="ResponseActionOutput_items_def_id_def" />
      <string name="ResponseActionOutput_items_def_category_def" />
      <string name="ResponseActionOutput_items_def_severity_def" />
      <string name="ResponseActionOutput_items_def_lastUpdated_def" />
      <string name="ResponseActionOutput_items_def_actBy_def" />
      <string name="ResponseActionOutput_items_def_services_def_items_def" />
      <array type="string" name="ResponseActionOutput_items_def_services_def" />
      <string name="ResponseActionOutput_items_def_tags_def_items_def" />
      <array type="string" name="ResponseActionOutput_items_def_tags_def" />
      <object name="ResponseActionOutput_items_def">
        <property name="title" type="string" />
        <property name="content" type="string" />
        <property name="id" type="string" />
        <property name="category" type="string" />
        <property name="severity" type="string" />
        <property name="lastUpdated" type="string" />
        <property name="actBy" type="string" />
        <property name="services" typeRef="ResponseActionOutput_items_def_services_def" />
        <property name="tags" typeRef="ResponseActionOutput_items_def_tags_def" />
      </object>
      <array typeRef="ResponseActionOutput_items_def" name="ResponseActionOutput" />
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://unitedstates-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json" />
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>