CenterofExcellenceALMAccelerator/SolutionPackage/CanvasApps/src/cat_azuredevopsprojects_80ae5/pkgs/Wadl/GetPipelineRunResult.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://europe-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="GetPipelineRunResult" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="GetPipelineRunResult" />
  <grammars>
    <jsonTypes targetNamespace="https://europe-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_Organization_Value_def" />
      <string name="ManualTriggerInput_Project_Value_def" />
      <string name="ManualTriggerInput_PipelineId_Value_def" />
      <string name="ManualTriggerInput_RunId_Value_def" />
      <string name="ManualTriggerInput_NotificationOwner_Value_def" />
      <object name="ManualTriggerInput">
        <property name="Organization_Value" type="string" />
        <property name="Project_Value" type="string" />
        <property name="PipelineId_Value" type="string" />
        <property name="RunId_Value" type="string" />
        <property name="NotificationOwner_Value" type="string" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://europe-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Organization_Value" path="/Organization_Value" type="xs:string" required="true" />
            <param style="plain" name="Project_Value" path="/Project_Value" type="xs:string" required="true" />
            <param style="plain" name="PipelineId_Value" path="/PipelineId_Value" type="xs:string" required="true" />
            <param style="plain" name="RunId_Value" path="/RunId_Value" type="xs:string" required="true" />
            <param style="plain" name="NotificationOwner_Value" path="/NotificationOwner_Value" type="xs:string" required="true" />
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>