CenterofExcellenceCoreComponents/SolutionPackage/CanvasApps/src/admin_appcatalog_90b40/pkgs/Wadl/AppCatalog%3eRequestAccess.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="AppCatalog&gt;RequestAccess" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="App Catalog &gt; Request Access" />
  <grammars>
    <jsonTypes targetNamespace="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_EditAppRoleAssignmentasAdmin_EnvironmentName_def" />
      <string name="ManualTriggerInput_EditAppRoleAssignmentasAdmin_PowerAppName_def" />
      <string name="ManualTriggerInput_PostachoiceofoptionsastheFlowbottoauser_Recipient_def" />
      <string name="ManualTriggerInput_PostachoiceofoptionsastheFlowbottoauser_Message_def" />
      <string name="ManualTriggerInput_PostachoiceofoptionsastheFlowbottoauser_Message_1_def" />
      <string name="ManualTriggerInput_EditAppRoleAssignmentasAdmin_putPrincipalEmail-1_def" />
      <object name="ManualTriggerInput">
        <property name="EditAppRoleAssignmentasAdmin_EnvironmentName" type="string" />
        <property name="EditAppRoleAssignmentasAdmin_PowerAppName" type="string" />
        <property name="PostachoiceofoptionsastheFlowbottoauser_Recipient" type="string" />
        <property name="PostachoiceofoptionsastheFlowbottoauser_Message" type="string" />
        <property name="PostachoiceofoptionsastheFlowbottoauser_Message_1" type="string" />
        <property name="EditAppRoleAssignmentasAdmin_putPrincipalEmail-1" type="string" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://unitedstates-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="EditAppRoleAssignmentasAdmin_EnvironmentName" path="/EditAppRoleAssignmentasAdmin_EnvironmentName" type="xs:string" required="true" />
            <param style="plain" name="EditAppRoleAssignmentasAdmin_PowerAppName" path="/EditAppRoleAssignmentasAdmin_PowerAppName" type="xs:string" required="true" />
            <param style="plain" name="PostachoiceofoptionsastheFlowbottoauser_Recipient" path="/PostachoiceofoptionsastheFlowbottoauser_Recipient" type="xs:string" required="true" />
            <param style="plain" name="PostachoiceofoptionsastheFlowbottoauser_Message" path="/PostachoiceofoptionsastheFlowbottoauser_Message" type="xs:string" required="true" />
            <param style="plain" name="PostachoiceofoptionsastheFlowbottoauser_Message_1" path="/PostachoiceofoptionsastheFlowbottoauser_Message_1" type="xs:string" required="true" />
            <param style="plain" name="EditAppRoleAssignmentasAdmin_putPrincipalEmail-1" path="/EditAppRoleAssignmentasAdmin_putPrincipalEmail-1" type="xs:string" required="true" />
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>