CenterofExcellenceCoreComponents/SolutionPackage/CanvasApps/src/coe_environmentcreationrequest_bbe9d/pkgs/Wadl/Office365Groups.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://unitedstates-002.azure-apim.net/apim/office365groups" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="Office365Groups" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Office 365 Groups">Office 365 Groups lets you manage group membership and calendar events in your organization using your Office 365 account. You can perform various actions such as get group roster, add or remove members and create group events.</doc>
  <grammars>
    <jsonTypes targetNamespace="https://unitedstates-002.azure-apim.net/apim/office365groups" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ListGroupMembers_Response_value_def_items_def_id_def" />
      <string name="ListGroupMembers_Response_value_def_items_def_displayName_def" />
      <string name="ListGroupMembers_Response_value_def_items_def_givenName_def" />
      <string name="ListGroupMembers_Response_value_def_items_def_jobTitle_def" />
      <string name="ListGroupMembers_Response_value_def_items_def_mail_def" />
      <string name="ListGroupMembers_Response_value_def_items_def_mobilePhone_def" />
      <string name="ListGroupMembers_Response_value_def_items_def_officeLocation_def" />
      <string name="ListGroupMembers_Response_value_def_items_def_surname_def" />
      <string name="ListGroupMembers_Response_value_def_items_def_userPrincipalName_def" />
      <object name="ListGroupMembers_Response_value_def_items_def">
        <property name="id" type="string" />
        <property name="displayName" type="string" />
        <property name="givenName" type="string" />
        <property name="jobTitle" type="string" />
        <property name="mail" type="string" />
        <property name="mobilePhone" type="string" />
        <property name="officeLocation" type="string" />
        <property name="surname" type="string" />
        <property name="userPrincipalName" type="string" />
      </object>
      <array typeRef="ListGroupMembers_Response_value_def_items_def" name="ListGroupMembers_Response_value_def" />
      <object name="ListGroupMembers_Response">
        <property name="value" typeRef="ListGroupMembers_Response_value_def" />
      </object>
      <string name="OnGroupMemberAddedOrRemoved_Response_items_def_id_def" />
      <string name="OnGroupMemberAddedOrRemoved_Response_items_def__ux40_removed_def_reason_def" />
      <object name="OnGroupMemberAddedOrRemoved_Response_items_def__ux40_removed_def">
        <property name="reason" type="string" />
      </object>
      <object name="OnGroupMemberAddedOrRemoved_Response_items_def">
        <property name="id" type="string" />
        <property name="@removed" typeRef="OnGroupMemberAddedOrRemoved_Response_items_def__ux40_removed_def" />
      </object>
      <array typeRef="OnGroupMemberAddedOrRemoved_Response_items_def" name="OnGroupMemberAddedOrRemoved_Response" />
      <string name="ListOwnedGroups_Response__ux40_odata_context_def" />
      <string name="ListOwnedGroups_Response_value_def_items_def_classification_def" />
      <dateTimeString name="ListOwnedGroups_Response_value_def_items_def_createdDateTime_def" />
      <string name="ListOwnedGroups_Response_value_def_items_def_deletedDateTime_def" />
      <string name="ListOwnedGroups_Response_value_def_items_def_description_def" />
      <string name="ListOwnedGroups_Response_value_def_items_def_displayName_def" />
      <string name="ListOwnedGroups_Response_value_def_items_def_id_def" />
      <string name="ListOwnedGroups_Response_value_def_items_def_mail_def" />
      <boolean name="ListOwnedGroups_Response_value_def_items_def_mailEnabled_def" />
      <string name="ListOwnedGroups_Response_value_def_items_def_mailNickname_def" />
      <string name="ListOwnedGroups_Response_value_def_items_def_onPremisesLastSyncDateTime_def" />
      <string name="ListOwnedGroups_Response_value_def_items_def_onPremisesSecurityIdentifier_def" />
      <string name="ListOwnedGroups_Response_value_def_items_def_onPremisesSyncEnabled_def" />
      <dateTimeString name="ListOwnedGroups_Response_value_def_items_def_renewedDateTime_def" />
      <boolean name="ListOwnedGroups_Response_value_def_items_def_securityEnabled_def" />
      <string name="ListOwnedGroups_Response_value_def_items_def_visibility_def" />
      <object name="ListOwnedGroups_Response_value_def_items_def">
        <property name="classification" type="string" />
        <property name="createdDateTime" typeRef="ListOwnedGroups_Response_value_def_items_def_createdDateTime_def" />
        <property name="deletedDateTime" type="string" />
        <property name="description" type="string" />
        <property name="displayName" type="string" />
        <property name="id" type="string" />
        <property name="mail" type="string" />
        <property name="mailEnabled" type="boolean" />
        <property name="mailNickname" type="string" />
        <property name="onPremisesLastSyncDateTime" type="string" />
        <property name="onPremisesSecurityIdentifier" type="string" />
        <property name="onPremisesSyncEnabled" type="string" />
        <property name="renewedDateTime" typeRef="ListOwnedGroups_Response_value_def_items_def_renewedDateTime_def" />
        <property name="securityEnabled" type="boolean" />
        <property name="visibility" type="string" />
      </object>
      <array typeRef="ListOwnedGroups_Response_value_def_items_def" name="ListOwnedGroups_Response_value_def" />
      <object name="ListOwnedGroups_Response">
        <property name="@odata.context" type="string" />
        <property name="value" typeRef="ListOwnedGroups_Response_value_def" />
      </object>
      <string name="ListOwnedGroups_V2_Response__ux40_odata_context_def" />
      <string name="ListOwnedGroups_V2_Response_value_def_items_def_classification_def" />
      <dateTimeString name="ListOwnedGroups_V2_Response_value_def_items_def_createdDateTime_def" />
      <string name="ListOwnedGroups_V2_Response_value_def_items_def_description_def" />
      <string name="ListOwnedGroups_V2_Response_value_def_items_def_displayName_def" />
      <string name="ListOwnedGroups_V2_Response_value_def_items_def_id_def" />
      <string name="ListOwnedGroups_V2_Response_value_def_items_def_mail_def" />
      <boolean name="ListOwnedGroups_V2_Response_value_def_items_def_mailEnabled_def" />
      <string name="ListOwnedGroups_V2_Response_value_def_items_def_mailNickname_def" />
      <string name="ListOwnedGroups_V2_Response_value_def_items_def_onPremisesLastSyncDateTime_def" />
      <string name="ListOwnedGroups_V2_Response_value_def_items_def_onPremisesSecurityIdentifier_def" />
      <string name="ListOwnedGroups_V2_Response_value_def_items_def_onPremisesSyncEnabled_def" />
      <dateTimeString name="ListOwnedGroups_V2_Response_value_def_items_def_renewedDateTime_def" />
      <boolean name="ListOwnedGroups_V2_Response_value_def_items_def_securityEnabled_def" />
      <string name="ListOwnedGroups_V2_Response_value_def_items_def_visibility_def" />
      <object name="ListOwnedGroups_V2_Response_value_def_items_def">
        <property name="classification" type="string" />
        <property name="createdDateTime" typeRef="ListOwnedGroups_V2_Response_value_def_items_def_createdDateTime_def" />
        <property name="description" type="string" />
        <property name="displayName" type="string" />
        <property name="id" type="string" />
        <property name="mail" type="string" />
        <property name="mailEnabled" type="boolean" />
        <property name="mailNickname" type="string" />
        <property name="onPremisesLastSyncDateTime" type="string" />
        <property name="onPremisesSecurityIdentifier" type="string" />
        <property name="onPremisesSyncEnabled" type="string" />
        <property name="renewedDateTime" typeRef="ListOwnedGroups_V2_Response_value_def_items_def_renewedDateTime_def" />
        <property name="securityEnabled" type="boolean" />
        <property name="visibility" type="string" />
      </object>
      <array typeRef="ListOwnedGroups_V2_Response_value_def_items_def" name="ListOwnedGroups_V2_Response_value_def" />
      <object name="ListOwnedGroups_V2_Response">
        <property name="@odata.context" type="string" />
        <property name="value" typeRef="ListOwnedGroups_V2_Response_value_def" />
      </object>
      <string name="ListGroups_Response__ux40_odata_context_def" />
      <string name="ListGroups_Response__ux40_odata_nextLink_def" />
      <string name="ListGroups_Response_value_def_items_def_classification_def" />
      <dateTimeString name="ListGroups_Response_value_def_items_def_createdDateTime_def" />
      <string name="ListGroups_Response_value_def_items_def_description_def" />
      <string name="ListGroups_Response_value_def_items_def_displayName_def" />
      <string name="ListGroups_Response_value_def_items_def_id_def" />
      <string name="ListGroups_Response_value_def_items_def_mail_def" />
      <boolean name="ListGroups_Response_value_def_items_def_mailEnabled_def" />
      <string name="ListGroups_Response_value_def_items_def_mailNickname_def" />
      <string name="ListGroups_Response_value_def_items_def_onPremisesLastSyncDateTime_def" />
      <string name="ListGroups_Response_value_def_items_def_onPremisesSecurityIdentifier_def" />
      <boolean name="ListGroups_Response_value_def_items_def_onPremisesSyncEnabled_def" />
      <dateTimeString name="ListGroups_Response_value_def_items_def_renewedDateTime_def" />
      <boolean name="ListGroups_Response_value_def_items_def_securityEnabled_def" />
      <string name="ListGroups_Response_value_def_items_def_visibility_def" />
      <object name="ListGroups_Response_value_def_items_def">
        <property name="classification" type="string" />
        <property name="createdDateTime" typeRef="ListGroups_Response_value_def_items_def_createdDateTime_def" />
        <property name="description" type="string" />
        <property name="displayName" type="string" />
        <property name="id" type="string" />
        <property name="mail" type="string" />
        <property name="mailEnabled" type="boolean" />
        <property name="mailNickname" type="string" />
        <property name="onPremisesLastSyncDateTime" type="string" />
        <property name="onPremisesSecurityIdentifier" type="string" />
        <property name="onPremisesSyncEnabled" type="boolean" />
        <property name="renewedDateTime" typeRef="ListGroups_Response_value_def_items_def_renewedDateTime_def" />
        <property name="securityEnabled" type="boolean" />
        <property name="visibility" type="string" />
      </object>
      <array typeRef="ListGroups_Response_value_def_items_def" name="ListGroups_Response_value_def" />
      <object name="ListGroups_Response">
        <property name="@odata.context" type="string" />
        <property name="@odata.nextLink" type="string" />
        <property name="value" typeRef="ListGroups_Response_value_def" />
      </object>
      <string name="CreateCalendarEvent_Response_id_def" />
      <integer name="CreateCalendarEvent_Response_reminderMinutesBeforeStart_def" />
      <boolean name="CreateCalendarEvent_Response_isReminderOn_def" />
      <string name="CreateCalendarEvent_Response_subject_def" />
      <string name="CreateCalendarEvent_Response_importance_def" />
      <boolean name="CreateCalendarEvent_Response_isAllDay_def" />
      <boolean name="CreateCalendarEvent_Response_responseRequested_def" />
      <string name="CreateCalendarEvent_Response_showAs_def" />
      <string name="CreateCalendarEvent_Response_body_def_contentType_def" />
      <string name="CreateCalendarEvent_Response_body_def_content_def" />
      <object name="CreateCalendarEvent_Response_body_def">
        <property name="contentType" type="string" />
        <property name="content" type="string" />
      </object>
      <dateTimeString name="CreateCalendarEvent_Response_start_def_dateTime_def" />
      <string name="CreateCalendarEvent_Response_start_def_timeZone_def" />
      <object name="CreateCalendarEvent_Response_start_def">
        <property name="dateTime" typeRef="CreateCalendarEvent_Response_start_def_dateTime_def" />
        <property name="timeZone" type="string" />
      </object>
      <dateTimeString name="CreateCalendarEvent_Response_end_def_dateTime_def" />
      <string name="CreateCalendarEvent_Response_end_def_timeZone_def" />
      <object name="CreateCalendarEvent_Response_end_def">
        <property name="dateTime" typeRef="CreateCalendarEvent_Response_end_def_dateTime_def" />
        <property name="timeZone" type="string" />
      </object>
      <string name="CreateCalendarEvent_Response_location_def_displayName_def" />
      <object name="CreateCalendarEvent_Response_location_def">
        <property name="displayName" type="string" />
      </object>
      <object name="CreateCalendarEvent_Response">
        <property name="id" type="string" />
        <property name="reminderMinutesBeforeStart" type="integer" />
        <property name="isReminderOn" type="boolean" />
        <property name="subject" type="string" />
        <property name="importance" type="string" />
        <property name="isAllDay" type="boolean" />
        <property name="responseRequested" type="boolean" />
        <property name="showAs" type="string" />
        <property name="body" typeRef="CreateCalendarEvent_Response_body_def" />
        <property name="start" typeRef="CreateCalendarEvent_Response_start_def" />
        <property name="end" typeRef="CreateCalendarEvent_Response_end_def" />
        <property name="location" typeRef="CreateCalendarEvent_Response_location_def" />
      </object>
      <string name="UpdateCalendarEvent_Request_subject_def" />
      <dateTimeString name="UpdateCalendarEvent_Request_start_def_dateTime_def" />
      <string name="UpdateCalendarEvent_Request_start_def_timeZone_def" />
      <object name="UpdateCalendarEvent_Request_start_def">
        <property name="dateTime" typeRef="UpdateCalendarEvent_Request_start_def_dateTime_def" />
        <property name="timeZone" type="string" />
      </object>
      <dateTimeString name="UpdateCalendarEvent_Request_end_def_dateTime_def" />
      <string name="UpdateCalendarEvent_Request_end_def_timeZone_def" />
      <object name="UpdateCalendarEvent_Request_end_def">
        <property name="dateTime" typeRef="UpdateCalendarEvent_Request_end_def_dateTime_def" />
        <property name="timeZone" type="string" />
      </object>
      <string name="UpdateCalendarEvent_Request_body_def_content_def" />
      <string name="UpdateCalendarEvent_Request_body_def_contentType_def" />
      <object name="UpdateCalendarEvent_Request_body_def">
        <property name="content" type="string" />
        <property name="contentType" type="string" />
      </object>
      <string name="UpdateCalendarEvent_Request_location_def_displayName_def" />
      <object name="UpdateCalendarEvent_Request_location_def">
        <property name="displayName" type="string" />
      </object>
      <string name="UpdateCalendarEvent_Request_importance_def" />
      <boolean name="UpdateCalendarEvent_Request_isAllDay_def" />
      <boolean name="UpdateCalendarEvent_Request_isReminderOn_def" />
      <integer name="UpdateCalendarEvent_Request_reminderMinutesBeforeStart_def" />
      <string name="UpdateCalendarEvent_Request_showAs_def" />
      <boolean name="UpdateCalendarEvent_Request_responseRequested_def" />
      <object name="UpdateCalendarEvent_Request">
        <property name="subject" type="string" />
        <property name="start" typeRef="UpdateCalendarEvent_Request_start_def" />
        <property name="end" typeRef="UpdateCalendarEvent_Request_end_def" />
        <property name="body" typeRef="UpdateCalendarEvent_Request_body_def" />
        <property name="location" typeRef="UpdateCalendarEvent_Request_location_def" />
        <property name="importance" type="string" />
        <property name="isAllDay" type="boolean" />
        <property name="isReminderOn" type="boolean" />
        <property name="reminderMinutesBeforeStart" type="integer" />
        <property name="showAs" type="string" />
        <property name="responseRequested" type="boolean" />
      </object>
      <string name="UpdateCalendarEvent_HTMLRequest_subject_def" />
      <dateTimeString name="UpdateCalendarEvent_HTMLRequest_start_def_dateTime_def" />
      <string name="UpdateCalendarEvent_HTMLRequest_start_def_timeZone_def" />
      <object name="UpdateCalendarEvent_HTMLRequest_start_def">
        <property name="dateTime" typeRef="UpdateCalendarEvent_HTMLRequest_start_def_dateTime_def" />
        <property name="timeZone" type="string" />
      </object>
      <dateTimeString name="UpdateCalendarEvent_HTMLRequest_end_def_dateTime_def" />
      <string name="UpdateCalendarEvent_HTMLRequest_end_def_timeZone_def" />
      <object name="UpdateCalendarEvent_HTMLRequest_end_def">
        <property name="dateTime" typeRef="UpdateCalendarEvent_HTMLRequest_end_def_dateTime_def" />
        <property name="timeZone" type="string" />
      </object>
      <string name="UpdateCalendarEvent_HTMLRequest_body_def_content_def" />
      <string name="UpdateCalendarEvent_HTMLRequest_body_def_contentType_def" />
      <object name="UpdateCalendarEvent_HTMLRequest_body_def">
        <property name="content" type="string" />
        <property name="contentType" type="string" />
      </object>
      <string name="UpdateCalendarEvent_HTMLRequest_location_def_displayName_def" />
      <object name="UpdateCalendarEvent_HTMLRequest_location_def">
        <property name="displayName" type="string" />
      </object>
      <string name="UpdateCalendarEvent_HTMLRequest_importance_def" />
      <boolean name="UpdateCalendarEvent_HTMLRequest_isAllDay_def" />
      <boolean name="UpdateCalendarEvent_HTMLRequest_isReminderOn_def" />
      <integer name="UpdateCalendarEvent_HTMLRequest_reminderMinutesBeforeStart_def" />
      <string name="UpdateCalendarEvent_HTMLRequest_showAs_def" />
      <boolean name="UpdateCalendarEvent_HTMLRequest_responseRequested_def" />
      <object name="UpdateCalendarEvent_HTMLRequest">
        <property name="subject" type="string" />
        <property name="start" typeRef="UpdateCalendarEvent_HTMLRequest_start_def" />
        <property name="end" typeRef="UpdateCalendarEvent_HTMLRequest_end_def" />
        <property name="body" typeRef="UpdateCalendarEvent_HTMLRequest_body_def" />
        <property name="location" typeRef="UpdateCalendarEvent_HTMLRequest_location_def" />
        <property name="importance" type="string" />
        <property name="isAllDay" type="boolean" />
        <property name="isReminderOn" type="boolean" />
        <property name="reminderMinutesBeforeStart" type="integer" />
        <property name="showAs" type="string" />
        <property name="responseRequested" type="boolean" />
      </object>
      <string name="OnNewEvent_Response_items_def_id_def" />
      <integer name="OnNewEvent_Response_items_def_reminderMinutesBeforeStart_def" />
      <boolean name="OnNewEvent_Response_items_def_isReminderOn_def" />
      <string name="OnNewEvent_Response_items_def_subject_def" />
      <string name="OnNewEvent_Response_items_def_importance_def" />
      <boolean name="OnNewEvent_Response_items_def_isAllDay_def" />
      <boolean name="OnNewEvent_Response_items_def_responseRequested_def" />
      <string name="OnNewEvent_Response_items_def_showAs_def" />
      <string name="OnNewEvent_Response_items_def_body_def_contentType_def" />
      <string name="OnNewEvent_Response_items_def_body_def_content_def" />
      <object name="OnNewEvent_Response_items_def_body_def">
        <property name="contentType" type="string" />
        <property name="content" type="string" />
      </object>
      <dateTimeString name="OnNewEvent_Response_items_def_start_def_dateTime_def" />
      <string name="OnNewEvent_Response_items_def_start_def_timeZone_def" />
      <object name="OnNewEvent_Response_items_def_start_def">
        <property name="dateTime" typeRef="OnNewEvent_Response_items_def_start_def_dateTime_def" />
        <property name="timeZone" type="string" />
      </object>
      <dateTimeString name="OnNewEvent_Response_items_def_end_def_dateTime_def" />
      <string name="OnNewEvent_Response_items_def_end_def_timeZone_def" />
      <object name="OnNewEvent_Response_items_def_end_def">
        <property name="dateTime" typeRef="OnNewEvent_Response_items_def_end_def_dateTime_def" />
        <property name="timeZone" type="string" />
      </object>
      <string name="OnNewEvent_Response_items_def_location_def_displayName_def" />
      <object name="OnNewEvent_Response_items_def_location_def">
        <property name="displayName" type="string" />
      </object>
      <object name="OnNewEvent_Response_items_def">
        <property name="id" type="string" />
        <property name="reminderMinutesBeforeStart" type="integer" />
        <property name="isReminderOn" type="boolean" />
        <property name="subject" type="string" />
        <property name="importance" type="string" />
        <property name="isAllDay" type="boolean" />
        <property name="responseRequested" type="boolean" />
        <property name="showAs" type="string" />
        <property name="body" typeRef="OnNewEvent_Response_items_def_body_def" />
        <property name="start" typeRef="OnNewEvent_Response_items_def_start_def" />
        <property name="end" typeRef="OnNewEvent_Response_items_def_end_def" />
        <property name="location" typeRef="OnNewEvent_Response_items_def_location_def" />
      </object>
      <array typeRef="OnNewEvent_Response_items_def" name="OnNewEvent_Response" />
      <string name="HttpRequestV2_param_Body_def" />
      <string name="HttpRequest_param_Body_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://unitedstates-002.azure-apim.net/apim/office365groups">
    <resource path="/{connectionId}/v1.0/groups/{groupId}/members">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="groupId" type="xs:string" required="true">
        <doc title="Pick a group from the drop down or enter group id." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="ListGroupMembers" actionName="ListGroupMembers" visibility="advanced" siena:isDeprecated="false">
        <doc title="List group members&#xA;This operation returns a list of all members in the given group and their details such as name, title, email, etc. You can query up to 1000 items using Top parameter. In case you need to retrieve more than 1000 values please turn on Settings-&gt;Pagination feature and provide Threshold limit." />
        <request>
          <param style="query" name="$top" type="xs:int">
            <doc title="Number of group members to retrieve (from 1 to 999, default is 100)." />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ListGroupMembers_Response" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/groups/{groupId}/members/$ref">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="groupId" type="xs:string" required="true">
        <doc title="Pick a group from the drop down or enter group id." />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="AddMemberToGroup" actionName="AddMemberToGroup" visibility="important" siena:isDeprecated="false">
        <doc title="Add member to group&#xA;This operation is used to add a member to an O365 group, using a UPN." />
        <request>
          <param style="query" name="userUpn" type="xs:string" required="true">
            <doc title="The user principal name (UPN) of the user." />
          </param>
        </request>
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/me/memberOf/$/microsoft.graph.group">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="ListOwnedGroups" actionName="ListOwnedGroups" visibility="advanced" siena:isDeprecated="false">
        <doc title="List my owned groups&#xA;This operation returns a list of all groups that you own." />
        <request />
        <response>
          <representation mediaType="application/json" element="service:ListOwnedGroups_Response" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/me/ownedObjects/$/microsoft.graph.group">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="ListOwnedGroupsV2" actionName="ListOwnedGroups_V2" visibility="advanced" siena:isDeprecated="false">
        <doc title="List my owned groups (V2)&#xA;This operation returns a list of all groups that you own." />
        <request />
        <response>
          <representation mediaType="application/json" element="service:ListOwnedGroups_V2_Response" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v2/v1.0/me/memberOf/$/microsoft.graph.group">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="ListOwnedGroupsV3" actionName="ListOwnedGroups_V3" visibility="advanced" siena:isDeprecated="false">
        <doc title="List groups that I own and belong to&#xA;This operation returns a list of all groups that you own and belong to." />
        <request />
        <response>
          <representation mediaType="application/json" element="service:ListOwnedGroups_Response" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/groups">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="ListGroups" actionName="ListGroups" visibility="advanced" siena:isDeprecated="false">
        <doc title="List groups&#xA;This operation returns a list of all groups in the organization." />
        <request>
          <param style="query" name="$filter" type="xs:string">
            <doc title="Enter an OData style filter expression to limit which rows are listed." />
          </param>
          <param style="query" name="$top" type="xs:long">
            <doc title="Sets the page size of results." />
          </param>
          <param style="query" name="$skiptoken" type="xs:string">
            <doc title="Token that references the next page of results and is returned in the @odata.nextLink property in the response." />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ListGroups_Response" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/groups/{groupId}/events">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="groupId" type="xs:string" required="true">
        <doc title="Pick a group from the drop down or enter group id." />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="CreateCalendarEvent" actionName="CreateCalendarEvent" siena:isDeprecated="true" siena:family="CreateCalendarEvent" siena:revision="1" siena:status="Production">
        <doc title="Create a group event&#xA;This operation is used to create a new event in a group calendar." />
        <request>
          <representation mediaType="application/json">
            <param style="plain" name="subject" path="/subject" type="xs:string" required="true" />
            <param style="plain" name="start" path="/start" type="service:UpdateCalendarEvent_Request_start_def" required="true" />
            <param style="plain" name="end" path="/end" type="service:UpdateCalendarEvent_Request_end_def" required="true" />
            <param style="plain" name="body" path="/body" type="service:UpdateCalendarEvent_Request_body_def" />
            <param style="plain" name="location" path="/location" type="service:UpdateCalendarEvent_Request_location_def" />
            <param style="plain" name="importance" path="/importance" type="xs:string">
              <option value="Low" />
              <option value="Normal" />
              <option value="High" />
            </param>
            <param style="plain" name="isAllDay" path="/isAllDay" type="xs:boolean" />
            <param style="plain" name="isReminderOn" path="/isReminderOn" type="xs:boolean" />
            <param style="plain" name="reminderMinutesBeforeStart" path="/reminderMinutesBeforeStart" type="xs:int" />
            <param style="plain" name="showAs" path="/showAs" type="xs:string">
              <option value="Free" />
              <option value="Tentative" />
              <option value="Busy" />
              <option value="Oof" />
              <option value="WorkingElsewhere" />
              <option value="Unknown" />
            </param>
            <param style="plain" name="responseRequested" path="/responseRequested" type="xs:boolean" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:CreateCalendarEvent_Response" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v2/v1.0/groups/{groupId}/events">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="groupId" type="xs:string" required="true">
        <doc title="Pick a group from the drop down or enter group id." />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="CreateCalendarEventV2" actionName="CreateCalendarEventV2" siena:isDeprecated="false" siena:family="CreateCalendarEvent" siena:revision="2" siena:status="Production">
        <doc title="Create a group event (V2)&#xA;This operation is used to create a new event in a group calendar." />
        <request>
          <representation mediaType="application/json">
            <param style="plain" name="subject" path="/subject" type="xs:string" required="true" />
            <param style="plain" name="start" path="/start" type="service:UpdateCalendarEvent_HTMLRequest_start_def" required="true" />
            <param style="plain" name="end" path="/end" type="service:UpdateCalendarEvent_HTMLRequest_end_def" required="true" />
            <param style="plain" name="body" path="/body" type="service:UpdateCalendarEvent_HTMLRequest_body_def" />
            <param style="plain" name="location" path="/location" type="service:UpdateCalendarEvent_HTMLRequest_location_def" />
            <param style="plain" name="importance" path="/importance" type="xs:string">
              <option value="Low" />
              <option value="Normal" />
              <option value="High" />
            </param>
            <param style="plain" name="isAllDay" path="/isAllDay" type="xs:boolean" />
            <param style="plain" name="isReminderOn" path="/isReminderOn" type="xs:boolean" />
            <param style="plain" name="reminderMinutesBeforeStart" path="/reminderMinutesBeforeStart" type="xs:int" />
            <param style="plain" name="showAs" path="/showAs" type="xs:string">
              <option value="Free" />
              <option value="Tentative" />
              <option value="Busy" />
              <option value="Oof" />
              <option value="WorkingElsewhere" />
              <option value="Unknown" />
            </param>
            <param style="plain" name="responseRequested" path="/responseRequested" type="xs:boolean" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:CreateCalendarEvent_Response" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/groups/{groupId}/events/{event}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="groupId" type="xs:string" required="true">
        <doc title="Pick a group from the drop down or enter group id." />
      </param>
      <param style="template" name="event" type="xs:string" required="true">
        <doc title="Select an event" />
      </param>
      <method siena:requiresAuthentication="true" name="DELETE" id="CalendarDeleteItemV2" actionName="CalendarDeleteItem_V2" visibility="important" siena:isDeprecated="false">
        <doc title="Delete event (V2)&#xA;This operation deletes an event in a calendar." />
        <request />
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/groups/{groupId}/events/{event}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="groupId" type="xs:string" required="true">
        <doc title="Pick a group from the drop down or enter group id." />
      </param>
      <param style="template" name="event" type="xs:string" required="true">
        <doc title="Select an event" />
      </param>
      <method siena:requiresAuthentication="true" name="PATCH" id="UpdateCalendarEvent" actionName="UpdateCalendarEvent" visibility="important" siena:isDeprecated="false">
        <doc title="Update a group event&#xA;This operation is used to update a new event in a group calendar." />
        <request>
          <representation mediaType="application/json">
            <param style="plain" name="subject" path="/subject" type="xs:string" required="true" />
            <param style="plain" name="start" path="/start" type="service:UpdateCalendarEvent_HTMLRequest_start_def" required="true" />
            <param style="plain" name="end" path="/end" type="service:UpdateCalendarEvent_HTMLRequest_end_def" required="true" />
            <param style="plain" name="body" path="/body" type="service:UpdateCalendarEvent_HTMLRequest_body_def" />
            <param style="plain" name="location" path="/location" type="service:UpdateCalendarEvent_HTMLRequest_location_def" />
            <param style="plain" name="importance" path="/importance" type="xs:string">
              <option value="Low" />
              <option value="Normal" />
              <option value="High" />
            </param>
            <param style="plain" name="isAllDay" path="/isAllDay" type="xs:boolean" />
            <param style="plain" name="isReminderOn" path="/isReminderOn" type="xs:boolean" />
            <param style="plain" name="reminderMinutesBeforeStart" path="/reminderMinutesBeforeStart" type="xs:int" />
            <param style="plain" name="showAs" path="/showAs" type="xs:string">
              <option value="Free" />
              <option value="Tentative" />
              <option value="Busy" />
              <option value="Oof" />
              <option value="WorkingElsewhere" />
              <option value="Unknown" />
            </param>
            <param style="plain" name="responseRequested" path="/responseRequested" type="xs:boolean" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:CreateCalendarEvent_Response" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/groups/{groupId}/members/memberId/$ref">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="groupId" type="xs:string" required="true">
        <doc title="Pick a group from the drop down or enter group id." />
      </param>
      <method siena:requiresAuthentication="true" name="DELETE" id="RemoveMemberFromGroup" actionName="RemoveMemberFromGroup" visibility="important" siena:isDeprecated="false">
        <doc title="Remove member from group&#xA;This operation is used to remove a member from an O365 group, using a UPN." />
        <request>
          <param style="query" name="userUpn" type="xs:string" required="true">
            <doc title="The user principal name (UPN) of the user" />
          </param>
        </request>
      </method>
    </resource>
    <resource path="/{connectionId}/v2/httprequest">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="HttpRequestV2" actionName="HttpRequestV2" visibility="important" siena:isDeprecated="false" siena:family="HttpRequest" siena:revision="2" siena:status="Preview">
        <doc title="Send an HTTP request V2&#xA;Construct a Microsoft Graph REST API request to invoke. There is one segment that is supported: /groups. Learn more: https://docs.microsoft.com/en-us/graph/use-the-api." />
        <request>
          <param style="header" name="Uri" type="xs:string" required="true">
            <doc title="The full or relative URI. Example: https://graph.microsoft.com/{version}/{resource}." />
          </param>
          <param style="header" name="Method" type="xs:string" required="true" default="GET">
            <doc title="The HTTP method (default is GET)." />
            <option value="GET" />
            <option value="POST" />
            <option value="PUT" />
            <option value="PATCH" />
            <option value="DELETE" />
          </param>
          <param style="header" name="ContentType" type="xs:string" default="application/json">
            <doc title="The content-type header for the body (default is application/json)." />
          </param>
          <param style="header" name="CustomHeader1" type="xs:string">
            <doc title="Custom header 1. Specify in format: header-name: header-value" />
          </param>
          <param style="header" name="CustomHeader2" type="xs:string">
            <doc title="Custom header 2. Specify in format: header-name: header-value" />
          </param>
          <param style="header" name="CustomHeader3" type="xs:string">
            <doc title="Custom header 3. Specify in format: header-name: header-value" />
          </param>
          <param style="header" name="CustomHeader4" type="xs:string">
            <doc title="Custom header 4. Specify in format: header-name: header-value" />
          </param>
          <param style="header" name="CustomHeader5" type="xs:string">
            <doc title="Custom header 5. Specify in format: header-name: header-value" />
          </param>
          <representation mediaType="application/octet-stream" />
        </request>
      </method>
    </resource>
    <resource path="/{connectionId}/httprequest">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="HttpRequest" actionName="HttpRequest" visibility="important" siena:isDeprecated="false" siena:family="HttpRequest" siena:revision="1" siena:status="Production">
        <doc title="Send an HTTP request&#xA;Construct a Microsoft Graph REST API request to invoke. Learn more: https://docs.microsoft.com/en-us/graph/use-the-api" />
        <request>
          <param style="header" name="Uri" type="xs:string" required="true">
            <doc title="The full or relative URI. Example: https://graph.microsoft.com/{version}/{resource}." />
          </param>
          <param style="header" name="Method" type="xs:string" required="true" default="GET">
            <doc title="The HTTP method (default is GET)." />
            <option value="GET" />
            <option value="POST" />
            <option value="PUT" />
            <option value="PATCH" />
            <option value="DELETE" />
          </param>
          <param style="header" name="ContentType" type="xs:string" default="application/json">
            <doc title="The content-type header for the body (default is application/json)." />
          </param>
          <param style="header" name="CustomHeader1" type="xs:string">
            <doc title="Custom header 1. Specify in format: header-name: header-value" />
          </param>
          <param style="header" name="CustomHeader2" type="xs:string">
            <doc title="Custom header 2. Specify in format: header-name: header-value" />
          </param>
          <param style="header" name="CustomHeader3" type="xs:string">
            <doc title="Custom header 3. Specify in format: header-name: header-value" />
          </param>
          <param style="header" name="CustomHeader4" type="xs:string">
            <doc title="Custom header 4. Specify in format: header-name: header-value" />
          </param>
          <param style="header" name="CustomHeader5" type="xs:string">
            <doc title="Custom header 5. Specify in format: header-name: header-value" />
          </param>
          <representation mediaType="application/octet-stream" />
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="shared_office365groups" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>