CenterofExcellenceCoreComponents/SolutionPackage/CanvasApps/admin_dlpeditorv2_fcf06_DocumentUri_msapp_src/pkgs/Wadl/DLPEditor%3eParseimpactedresourcesintoCSV.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="DLPEditor&gt;ParseimpactedresourcesintoCSV" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="DLP Editor&gt;Parse impacted resources into CSV" />
  <grammars>
    <jsonTypes targetNamespace="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_ParseJSON_Content_def" />
      <string name="ManualTriggerInput_ParseJSON2_Content_def" />
      <string name="ManualTriggerInput_ParseJSON_Content_1_def" />
      <string name="ManualTriggerInput_ParseJSON_Content_2_def" />
      <string name="ManualTriggerInput_ParseJSON_Content_3_def" />
      <string name="ManualTriggerInput_Sendanemail_ux28_V2_ux29__To_def" />
      <object name="ManualTriggerInput">
        <property name="ParseJSON_Content" type="string" />
        <property name="ParseJSON2_Content" type="string" />
        <property name="ParseJSON_Content_1" type="string" />
        <property name="ParseJSON_Content_2" type="string" />
        <property name="ParseJSON_Content_3" type="string" />
        <property name="Sendanemail(V2)_To" type="string" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://unitedstates-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="ParseJSON_Content" path="/ParseJSON_Content" type="xs:string" required="true" />
            <param style="plain" name="ParseJSON2_Content" path="/ParseJSON2_Content" type="xs:string" required="true" />
            <param style="plain" name="ParseJSON_Content_1" path="/ParseJSON_Content_1" type="xs:string" required="true" />
            <param style="plain" name="ParseJSON_Content_2" path="/ParseJSON_Content_2" type="xs:string" required="true" />
            <param style="plain" name="ParseJSON_Content_3" path="/ParseJSON_Content_3" type="xs:string" required="true" />
            <param style="plain" name="Sendanemail(V2)_To" path="/Sendanemail(V2)_To" type="xs:string" required="true" />
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>