ALMAcceleratorSampleSolution/SolutionPackage/CanvasApps/cat_devopskitsamplecanvasapp_c7ec5_DocumentUri_msapp_src/pkgs/Wadl/EnvironmentVariableConnector.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://unitedstates-002.azure-apim.net/apim/cat-5fenvironmentvariableconnector-5f691c36f6fa56d15c" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="EnvironmentVariableConnector" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="EnvironmentVariableConnector"></doc>
  <grammars>
    <jsonTypes targetNamespace="https://unitedstates-002.azure-apim.net/apim/cat-5fenvironmentvariableconnector-5f691c36f6fa56d15c" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="GetResponse_responses_default_def_responseArray_def_items_def_key_def" />
      <string name="GetResponse_responses_default_def_responseArray_def_items_def_value_def" />
      <object name="GetResponse_responses_default_def_responseArray_def_items_def">
        <property name="key" type="string" />
        <property name="value" type="string" />
      </object>
      <array typeRef="GetResponse_responses_default_def_responseArray_def_items_def" name="GetResponse_responses_default_def_responseArray_def" />
      <object name="GetResponse_responses_default_def">
        <property name="responseArray" typeRef="GetResponse_responses_default_def_responseArray_def" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://unitedstates-002.azure-apim.net/apim/cat-5fenvironmentvariableconnector-5f691c36f6fa56d15c">
    <resource path="/{connectionId}/api/GetResponse">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="GetResponse" siena:isDeprecated="false">
        <doc title="GetResponse" />
        <request>
          <param style="header" name="hostUrl" type="xs:string" required="true" />
          <param style="header" name="baseUrl" type="xs:string" required="true" />
        </request>
        <response>
          <representation mediaType="application/json" element="service:GetResponse_responses_default_def" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="shared_cat-5fenvironmentvariableconnector-5f691c36f6fa56d15c" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>