CenterofExcellenceCoreComponents/SolutionPackage/src/CanvasApps/src/admin_initialsetuppage_d45cf/pkgs/Wadl/PowerQueryDataflows.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://unitedstates-002.azure-apim.net/apim/dataflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="PowerQueryDataflows" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Power Query Dataflows">Dataflows are a self-service, cloud-based, data preparation technology that allows you to ingest, transform and load data into Common Data Service environments, Power BI workspaces or your organization's Azure Data Lake Gen2 account.</doc>
  <grammars>
    <jsonTypes targetNamespace="https://unitedstates-002.azure-apim.net/apim/dataflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="Groups_value_def_items_def_id_def" />
      <string name="Groups_value_def_items_def_name_def" />
      <object name="Groups_value_def_items_def">
        <property name="id" type="string" />
        <property name="name" type="string" />
      </object>
      <array typeRef="Groups_value_def_items_def" name="Groups_value_def" />
      <object name="Groups">
        <property name="value" typeRef="Groups_value_def" />
      </object>
      <string name="Dataflows_value_def_items_def_id_def" />
      <string name="Dataflows_value_def_items_def_name_def" />
      <string name="Dataflows_value_def_items_def_description_def" />
      <object name="Dataflows_value_def_items_def">
        <property name="id" type="string" />
        <property name="name" type="string" />
        <property name="description" type="string" />
      </object>
      <array typeRef="Dataflows_value_def_items_def" name="Dataflows_value_def" />
      <object name="Dataflows">
        <property name="value" typeRef="Dataflows_value_def" />
      </object>
      <string name="DataflowModel_dataflowName_def" />
      <string name="DataflowModel_dataflowId_def" />
      <object name="DataflowModel">
        <property name="dataflowName" type="string" />
        <property name="dataflowId" type="string" />
      </object>
      <string name="RefreshModel_dataflowId_def" />
      <string name="RefreshModel_dataflowName_def" />
      <string name="RefreshModel_refreshType_def" />
      <string name="RefreshModel_startTime_def" />
      <string name="RefreshModel_endTime_def" />
      <string name="RefreshModel_status_def" />
      <object name="RefreshModel">
        <property name="dataflowId" type="string" />
        <property name="dataflowName" type="string" />
        <property name="refreshType" type="string" />
        <property name="startTime" type="string" />
        <property name="endTime" type="string" />
        <property name="status" type="string" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://unitedstates-002.azure-apim.net/apim/dataflows">
    <resource path="/{connectionId}/api/groups/{groupIdForRefreshDataflow}/dataflows/{dataflowIdForRefreshDataflow}/refreshdataflow">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="groupIdForRefreshDataflow" type="xs:string" required="true">
        <doc title="The unique identifier of the workspace or environment" />
      </param>
      <param style="template" name="dataflowIdForRefreshDataflow" type="xs:string" required="true">
        <doc title="The unique identifier of the dataflow" />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="RefreshDataflow" actionName="RefreshDataflow" visibility="important" siena:isDeprecated="false">
        <doc title="Refresh a dataflow&#xA;Initiate a dataflow refresh operation." />
        <request>
          <param style="query" name="workspaceType" type="xs:string" required="true">
            <doc title="Select workspace or environment" />
            <option value="Workspace" />
            <option value="Environment" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:DataflowModel" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="shared_dataflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>