CenterofExcellenceCoreComponents/SolutionPackage/src/CanvasApps/src/admin_initialsetuppage_d45cf/pkgs/Wadl/SetupWizard%3eCreateGroup.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="SetupWizard&gt;CreateGroup" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="SetupWizard&gt;CreateGroup" />
  <grammars>
    <jsonTypes targetNamespace="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_SendanHTTPrequest_Body_def" />
      <string name="ManualTriggerInput_SendanHTTPrequest_Body_1_def" />
      <object name="ManualTriggerInput">
        <property name="SendanHTTPrequest_Body" type="string" />
        <property name="SendanHTTPrequest_Body_1" type="string" />
      </object>
      <string name="ResponseActionOutput_groupid_def" />
      <string name="ResponseActionOutput_status_def" />
      <string name="ResponseActionOutput_email_def" />
      <object name="ResponseActionOutput">
        <property name="groupid" type="string" />
        <property name="status" type="string" />
        <property name="email" type="string" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://unitedstates-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="SendanHTTPrequest_Body" path="/SendanHTTPrequest_Body" type="xs:string" required="true" />
            <param style="plain" name="SendanHTTPrequest_Body_1" path="/SendanHTTPrequest_Body_1" type="xs:string" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>