CenterofExcellenceCoreComponents/SolutionPackage/CanvasApps/admin_setflowpermissions_ce2bb_DocumentUri_msapp_src/pkgs/Wadl/PowerAutomateforAdmins.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://unitedstates-002.azure-apim.net/apim/microsoftflowforadmins" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="PowerAutomateforAdmins" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Power Automate for Admins">Power Automate Management Connector for Administrators</doc>
  <grammars>
    <jsonTypes targetNamespace="https://unitedstates-002.azure-apim.net/apim/microsoftflowforadmins" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="Edit-AdminFlowOwnerRole_param_body_def_delete_def_items_def_id_def" />
      <object name="Edit-AdminFlowOwnerRole_param_body_def_delete_def_items_def">
        <property name="id" type="string" />
      </object>
      <array typeRef="Edit-AdminFlowOwnerRole_param_body_def_delete_def_items_def" name="Edit-AdminFlowOwnerRole_param_body_def_delete_def" />
      <string name="Edit-AdminFlowOwnerRole_param_body_def_put_def_items_def_properties_def_principal_def_email_def" />
      <string name="Edit-AdminFlowOwnerRole_param_body_def_put_def_items_def_properties_def_principal_def_displayName_def" />
      <string name="Edit-AdminFlowOwnerRole_param_body_def_put_def_items_def_properties_def_principal_def_id_def" />
      <string name="Edit-AdminFlowOwnerRole_param_body_def_put_def_items_def_properties_def_principal_def_type_def" />
      <object name="Edit-AdminFlowOwnerRole_param_body_def_put_def_items_def_properties_def_principal_def">
        <property name="email" type="string" />
        <property name="displayName" type="string" />
        <property name="id" type="string" />
        <property name="type" type="string" />
      </object>
      <string name="Edit-AdminFlowOwnerRole_param_body_def_put_def_items_def_properties_def_roleName_def" />
      <object name="Edit-AdminFlowOwnerRole_param_body_def_put_def_items_def_properties_def">
        <property name="principal" typeRef="Edit-AdminFlowOwnerRole_param_body_def_put_def_items_def_properties_def_principal_def" />
        <property name="roleName" type="string" />
      </object>
      <object name="Edit-AdminFlowOwnerRole_param_body_def_put_def_items_def">
        <property name="properties" typeRef="Edit-AdminFlowOwnerRole_param_body_def_put_def_items_def_properties_def" />
      </object>
      <array typeRef="Edit-AdminFlowOwnerRole_param_body_def_put_def_items_def" name="Edit-AdminFlowOwnerRole_param_body_def_put_def" />
      <object name="Edit-AdminFlowOwnerRole_param_body_def">
        <property name="delete" typeRef="Edit-AdminFlowOwnerRole_param_body_def_delete_def" />
        <property name="put" typeRef="Edit-AdminFlowOwnerRole_param_body_def_put_def" />
      </object>
      <string name="Get-AdminFlowOwnerRole_responses_200_def_value_def_items_def_name_def" />
      <string name="Get-AdminFlowOwnerRole_responses_200_def_value_def_items_def_id_def" />
      <string name="Get-AdminFlowOwnerRole_responses_200_def_value_def_items_def_type_def" />
      <string name="Get-AdminFlowOwnerRole_responses_200_def_value_def_items_def_properties_def_roleName_def" />
      <string name="Get-AdminFlowOwnerRole_responses_200_def_value_def_items_def_properties_def_permissionType_def" />
      <string name="Get-AdminFlowOwnerRole_responses_200_def_value_def_items_def_properties_def_principal_def_id_def" />
      <string name="Get-AdminFlowOwnerRole_responses_200_def_value_def_items_def_properties_def_principal_def_type_def" />
      <object name="Get-AdminFlowOwnerRole_responses_200_def_value_def_items_def_properties_def_principal_def">
        <property name="id" type="string" />
        <property name="type" type="string" />
      </object>
      <object name="Get-AdminFlowOwnerRole_responses_200_def_value_def_items_def_properties_def">
        <property name="roleName" type="string" />
        <property name="permissionType" type="string" />
        <property name="principal" typeRef="Get-AdminFlowOwnerRole_responses_200_def_value_def_items_def_properties_def_principal_def" />
      </object>
      <object name="Get-AdminFlowOwnerRole_responses_200_def_value_def_items_def">
        <property name="name" type="string" />
        <property name="id" type="string" />
        <property name="type" type="string" />
        <property name="properties" typeRef="Get-AdminFlowOwnerRole_responses_200_def_value_def_items_def_properties_def" />
      </object>
      <array typeRef="Get-AdminFlowOwnerRole_responses_200_def_value_def_items_def" name="Get-AdminFlowOwnerRole_responses_200_def_value_def" />
      <object name="Get-AdminFlowOwnerRole_responses_200_def">
        <property name="value" typeRef="Get-AdminFlowOwnerRole_responses_200_def_value_def" />
      </object>
      <string name="Get-AdminFlowUserDetails_responses_200_def_tenantId_def" />
      <string name="Get-AdminFlowUserDetails_responses_200_def_puid_def" />
      <string name="Get-AdminFlowUserDetails_responses_200_def_objectId_def" />
      <boolean name="Get-AdminFlowUserDetails_responses_200_def_isDisallowedForInternalPlans_def" />
      <dateTimeString name="Get-AdminFlowUserDetails_responses_200_def_consentTime_def" />
      <dateTimeString name="Get-AdminFlowUserDetails_responses_200_def_serviceSettingsSelectionTime_def" />
      <dateTimeString name="Get-AdminFlowUserDetails_responses_200_def_consentBusinessAppPlatformTime_def" />
      <object name="Get-AdminFlowUserDetails_responses_200_def">
        <property name="tenantId" type="string" />
        <property name="puid" type="string" />
        <property name="objectId" type="string" />
        <property name="isDisallowedForInternalPlans" type="boolean" />
        <property name="consentTime" typeRef="Get-AdminFlowUserDetails_responses_200_def_consentTime_def" />
        <property name="serviceSettingsSelectionTime" typeRef="Get-AdminFlowUserDetails_responses_200_def_serviceSettingsSelectionTime_def" />
        <property name="consentBusinessAppPlatformTime" typeRef="Get-AdminFlowUserDetails_responses_200_def_consentBusinessAppPlatformTime_def" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://unitedstates-002.azure-apim.net/apim/microsoftflowforadmins">
    <resource path="/{connectionId}/providers/Microsoft.ProcessSimple/scopes/admin/environments/{environment}/flows/{flow}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="environment" type="xs:string" required="true">
        <doc title="Name field of the Environment." />
      </param>
      <param style="template" name="flow" type="xs:string" required="true">
        <doc title="Name field of the flow." />
      </param>
      <method siena:requiresAuthentication="true" name="DELETE" id="RemoveAdminFlow" siena:isDeprecated="false">
        <doc title="Remove Flow as Admin&#xA;Deletes a Flow." />
        <request>
          <param style="query" name="api-version" type="xs:string" default="2016-11-01">
            <doc title="The date value of the API version." />
          </param>
        </request>
      </method>
    </resource>
    <resource path="/{connectionId}/providers/Microsoft.ProcessSimple/scopes/admin/environments/{environment}/flows/{flow}/start">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="environment" type="xs:string" required="true">
        <doc title="Environment Name." />
      </param>
      <param style="template" name="flow" type="xs:string" required="true">
        <doc title="Name field of the flow." />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="EnableAdminFlow" siena:isDeprecated="false">
        <doc title="Enable Flow as Admin&#xA;Enables a Flow." />
        <request>
          <param style="query" name="api-version" type="xs:string" default="2016-11-01">
            <doc title="The date value of the API version." />
          </param>
        </request>
      </method>
    </resource>
    <resource path="/{connectionId}/providers/Microsoft.ProcessSimple/scopes/admin/environments/{environment}/flows/{flow}/stop">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="environment" type="xs:string" required="true">
        <doc title="Name field of the Environment." />
      </param>
      <param style="template" name="flow" type="xs:string" required="true">
        <doc title="Name field of the Flow." />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="DisableAdminFlow" siena:isDeprecated="false">
        <doc title="Disable Flow as Admin&#xA;Disables a Flow." />
        <request>
          <param style="query" name="api-version" type="xs:string" default="2016-11-01">
            <doc title="The date value of the API version." />
          </param>
        </request>
      </method>
    </resource>
    <resource path="/{connectionId}/providers/Microsoft.ProcessSimple/scopes/admin/environments/{environment}/flows/{flow}/modifyPermissions">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="environment" type="xs:string" required="true">
        <doc title="Name field of the Environment." />
      </param>
      <param style="template" name="flow" type="xs:string" required="true">
        <doc title="Name field of the flow." />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="EditAdminFlowOwnerRole" siena:isDeprecated="false">
        <doc title="Edit Flow Owner Role as Admin&#xA;Sets permissions for a Flow." />
        <request>
          <param style="query" name="api-version" type="xs:string" default="2016-11-01">
            <doc title="The date value of the API version." />
          </param>
          <param style="header" name="Content-Type" type="xs:string" default="application/json">
            <doc title="Name Field of the Content-Type." />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="delete" path="/delete" type="service:Edit-AdminFlowOwnerRole_param_body_def_delete_def" />
            <param style="plain" name="put" path="/put" type="service:Edit-AdminFlowOwnerRole_param_body_def_put_def" />
          </representation>
        </request>
      </method>
    </resource>
    <resource path="/{connectionId}/providers/Microsoft.ProcessSimple/scopes/admin/environments/{environment}/flows/{flow}/permissions">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="environment" type="xs:string" required="true">
        <doc title="Name field of the Environment." />
      </param>
      <param style="template" name="flow" type="xs:string" required="true">
        <doc title="Name field of the flow." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="GetAdminFlowOwnerRole" siena:isDeprecated="false">
        <doc title="Get Flow Owner Role as Admin&#xA;Returns permissions for a Flow." />
        <request>
          <param style="query" name="api-version" type="xs:string" default="2016-11-01">
            <doc title="The date value of the API version." />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:Get-AdminFlowOwnerRole_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/providers/Microsoft.ProcessSimple/scopes/admin/users/{userId}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="userId" type="xs:string" required="true">
        <doc title="Flow user principal object ID." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="GetAdminFlowUserDetails" siena:isDeprecated="false">
        <doc title="Get Flow User Details&#xA;Returns the details of a specified user in the scope of Power Automate." />
        <request />
        <response>
          <representation mediaType="application/json" element="service:Get-AdminFlowUserDetails_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/providers/Microsoft.ProcessSimple/scopes/admin/users/{userId}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="userId" type="xs:string" required="true">
        <doc title="Flow user principal object ID." />
      </param>
      <method siena:requiresAuthentication="true" name="DELETE" id="RemoveAdminFlowUserDetails" siena:isDeprecated="false">
        <doc title="Remove Flow User Details&#xA;Deletes a Power Automate user details record." />
        <request />
      </method>
    </resource>
    <resource path="/{connectionId}/providers/Microsoft.ProcessSimple/scopes/admin/environments/{environment}/users/{userId}/approvals">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="environment" type="xs:string" required="true">
        <doc title="Name field of the Environment." />
      </param>
      <param style="template" name="userId" type="xs:string" required="true">
        <doc title="Flow user principal object ID." />
      </param>
      <method siena:requiresAuthentication="true" name="DELETE" id="RemoveAdminFlowApproval" siena:isDeprecated="false">
        <doc title="Remove Flow Approval&#xA;Deletes Flow Approvals." />
        <request />
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="shared_microsoftflowforadmins" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>