CenterofExcellenceALMAccelerator/SolutionPackage/CanvasApps/src/cat_poweropsdevopsedition_7f3f4/pkgs/Wadl/GetPowerPagesSites.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="GetPowerPagesSites" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="GetPowerPagesSites" />
  <grammars>
    <jsonTypes targetNamespace="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_text_def" />
      <string name="ManualTriggerInput_text_1_def" />
      <object name="ManualTriggerInput">
        <property name="text" type="string" />
        <property name="text_1" type="string" />
      </object>
      <string name="ResponseActionOutput_items_def_ItemInternalId_def" />
      <string name="ResponseActionOutput_items_def_adx_websiteid_def" />
      <string name="ResponseActionOutput_items_def__adx_headerwebtemplateid_value_def" />
      <string name="ResponseActionOutput_items_def__adx_headerwebtemplateid_type_def" />
      <string name="ResponseActionOutput_items_def__owningbusinessunit_value_def" />
      <string name="ResponseActionOutput_items_def__owningbusinessunit_type_def" />
      <integer name="ResponseActionOutput_items_def_adx_website_language_def" />
      <string name="ResponseActionOutput_items_def_adx_name_def" />
      <integer name="ResponseActionOutput_items_def_statecode_def" />
      <string name="ResponseActionOutput_items_def__statecode_label_def" />
      <integer name="ResponseActionOutput_items_def_statuscode_def" />
      <string name="ResponseActionOutput_items_def__statuscode_label_def" />
      <string name="ResponseActionOutput_items_def__adx_defaultlanguage_value_def" />
      <string name="ResponseActionOutput_items_def__adx_defaultlanguage_type_def" />
      <string name="ResponseActionOutput_items_def__ownerid_value_def" />
      <string name="ResponseActionOutput_items_def__ownerid_type_def" />
      <string name="ResponseActionOutput_items_def_modifiedon_def" />
      <string name="ResponseActionOutput_items_def_adx_primarydomainname_def" />
      <string name="ResponseActionOutput_items_def__modifiedby_value_def" />
      <string name="ResponseActionOutput_items_def__modifiedby_type_def" />
      <integer name="ResponseActionOutput_items_def_versionnumber_def" />
      <string name="ResponseActionOutput_items_def__adx_footerwebtemplateid_value_def" />
      <string name="ResponseActionOutput_items_def__adx_footerwebtemplateid_type_def" />
      <string name="ResponseActionOutput_items_def_createdon_def" />
      <string name="ResponseActionOutput_items_def__createdby_value_def" />
      <string name="ResponseActionOutput_items_def__createdby_type_def" />
      <string name="ResponseActionOutput_items_def__ux40_odata_id_def" />
      <string name="ResponseActionOutput_items_def__ux40_odata_etag_def" />
      <object name="ResponseActionOutput_items_def">
        <property name="ItemInternalId" type="string" />
        <property name="adx_websiteid" type="string" />
        <property name="_adx_headerwebtemplateid_value" type="string" />
        <property name="_adx_headerwebtemplateid_type" type="string" />
        <property name="_owningbusinessunit_value" type="string" />
        <property name="_owningbusinessunit_type" type="string" />
        <property name="adx_website_language" type="integer" />
        <property name="adx_name" type="string" />
        <property name="statecode" type="integer" />
        <property name="_statecode_label" type="string" />
        <property name="statuscode" type="integer" />
        <property name="_statuscode_label" type="string" />
        <property name="_adx_defaultlanguage_value" type="string" />
        <property name="_adx_defaultlanguage_type" type="string" />
        <property name="_ownerid_value" type="string" />
        <property name="_ownerid_type" type="string" />
        <property name="modifiedon" type="string" />
        <property name="adx_primarydomainname" type="string" />
        <property name="_modifiedby_value" type="string" />
        <property name="_modifiedby_type" type="string" />
        <property name="versionnumber" type="integer" />
        <property name="_adx_footerwebtemplateid_value" type="string" />
        <property name="_adx_footerwebtemplateid_type" type="string" />
        <property name="createdon" type="string" />
        <property name="_createdby_value" type="string" />
        <property name="_createdby_type" type="string" />
        <property name="@odata.id" type="string" />
        <property name="@odata.etag" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_items_def" name="ResponseActionOutput" />
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://unitedstates-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="text" path="/text" type="xs:string" required="true">
              <doc title="Region Subdomain" />
            </param>
            <param style="plain" name="text_1" path="/text_1" type="xs:string" required="true">
              <doc title="Environment Unique Name" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>