CenterofExcellenceCoreComponents/SolutionPackage/src/CanvasApps/src/admin_auditlogsetupwizardpage_5b438/pkgs/Wadl/AzureResourceManager.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://unitedstates-002.azure-apim.net/apim/arm" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="AzureResourceManager" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Azure Resource Manager">Azure Resource Manager exposes the APIs to manage all of your Azure resources.</doc>
  <grammars>
    <jsonTypes targetNamespace="https://unitedstates-002.azure-apim.net/apim/arm" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="Location_id_def" />
      <string name="Location_subscriptionId_def" />
      <string name="Location_name_def" />
      <string name="Location_displayName_def" />
      <string name="Location_latitude_def" />
      <string name="Location_longitude_def" />
      <object name="Location">
        <property name="id" type="string" />
        <property name="subscriptionId" type="string" />
        <property name="name" type="string" />
        <property name="displayName" type="string" />
        <property name="latitude" type="string" />
        <property name="longitude" type="string" />
      </object>
      <array typeRef="Location" name="LocationListResult_value_def" />
      <object name="LocationListResult">
        <property name="value" typeRef="LocationListResult_value_def" />
      </object>
      <string name="Subscription_id_def" />
      <string name="Subscription_subscriptionId_def" />
      <string name="Subscription_tenantId_def" />
      <string name="Subscription_displayName_def" />
      <string name="Subscription_state_def" />
      <string name="Subscription_authorizationSource_def" />
      <object name="Subscription">
        <property name="id" type="string" />
        <property name="subscriptionId" type="string" />
        <property name="tenantId" type="string" />
        <property name="displayName" type="string" />
        <property name="state" type="string" />
        <property name="subscriptionPolicies" typeRef="SubscriptionPolicies" />
        <property name="authorizationSource" type="string" />
      </object>
      <string name="SubscriptionPolicies_locationPlacementId_def" />
      <string name="SubscriptionPolicies_quotaId_def" />
      <string name="SubscriptionPolicies_spendingLimit_def" />
      <object name="SubscriptionPolicies">
        <property name="locationPlacementId" type="string" />
        <property name="quotaId" type="string" />
        <property name="spendingLimit" type="string" />
      </object>
      <array typeRef="Subscription" name="SubscriptionListResult_value_def" />
      <string name="SubscriptionListResult_nextLink_def" />
      <object name="SubscriptionListResult">
        <property name="value" typeRef="SubscriptionListResult_value_def" />
        <property name="nextLink" type="string" />
      </object>
      <string name="TemplateLink_uri_def" />
      <string name="TemplateLink_contentVersion_def" />
      <object name="TemplateLink">
        <property name="uri" type="string" />
        <property name="contentVersion" type="string" />
      </object>
      <string name="ParametersLink_uri_def" />
      <string name="ParametersLink_contentVersion_def" />
      <object name="ParametersLink">
        <property name="uri" type="string" />
        <property name="contentVersion" type="string" />
      </object>
      <object name="DeploymentProperties_template_def" />
      <object name="DeploymentProperties_parameters_def" />
      <string name="DeploymentProperties_mode_def" />
      <object name="DeploymentProperties">
        <property name="template" typeRef="DeploymentProperties_template_def" />
        <property name="templateLink" typeRef="TemplateLink" />
        <property name="parameters" typeRef="DeploymentProperties_parameters_def" />
        <property name="parametersLink" typeRef="ParametersLink" />
        <property name="mode" type="string" />
        <property name="debugSetting" typeRef="DebugSetting" />
      </object>
      <string name="DebugSetting_detailLevel_def" />
      <object name="DebugSetting">
        <property name="detailLevel" type="string" />
      </object>
      <object name="Deployment">
        <property name="properties" typeRef="DeploymentProperties" />
      </object>
      <object name="DeploymentExportResult_template_def" />
      <object name="DeploymentExportResult">
        <property name="template" typeRef="DeploymentExportResult_template_def" />
      </object>
      <string name="ResourceManagementErrorWithDetails_code_def" />
      <string name="ResourceManagementErrorWithDetails_message_def" />
      <string name="ResourceManagementErrorWithDetails_target_def" />
      <object name="ResourceManagementErrorWithDetails_details_def_items_def" />
      <array typeRef="ResourceManagementErrorWithDetails_details_def_items_def" name="ResourceManagementErrorWithDetails_details_def" />
      <object name="ResourceManagementErrorWithDetails">
        <property name="code" type="string" />
        <property name="message" type="string" />
        <property name="target" type="string" />
        <property name="details" typeRef="ResourceManagementErrorWithDetails_details_def" />
      </object>
      <string name="AliasPathType_path_def" />
      <string name="AliasPathType_apiVersions_def_items_def" />
      <array type="string" name="AliasPathType_apiVersions_def" />
      <object name="AliasPathType">
        <property name="path" type="string" />
        <property name="apiVersions" typeRef="AliasPathType_apiVersions_def" />
      </object>
      <string name="AliasType_name_def" />
      <array typeRef="AliasPathType" name="AliasType_paths_def" />
      <object name="AliasType">
        <property name="name" type="string" />
        <property name="paths" typeRef="AliasType_paths_def" />
      </object>
      <string name="ProviderResourceType_resourceType_def" />
      <array typeRef="AliasType" name="ProviderResourceType_aliases_def" />
      <string name="ProviderResourceType_apiVersions_def_items_def" />
      <array type="string" name="ProviderResourceType_apiVersions_def" />
      <string name="ProviderResourceType_properties_def_mapValues_def" />
      <mapObject name="ProviderResourceType_properties_def">
        <values type="string" />
      </mapObject>
      <object name="ProviderResourceType">
        <property name="resourceType" type="string" />
        <property name="aliases" typeRef="ProviderResourceType_aliases_def" />
        <property name="apiVersions" typeRef="ProviderResourceType_apiVersions_def" />
        <property name="properties" typeRef="ProviderResourceType_properties_def" />
      </object>
      <string name="Provider_id_def" />
      <string name="Provider_namespace_def" />
      <string name="Provider_registrationState_def" />
      <array typeRef="ProviderResourceType" name="Provider_resourceTypes_def" />
      <object name="Provider">
        <property name="id" type="string" />
        <property name="namespace" type="string" />
        <property name="registrationState" type="string" />
        <property name="resourceTypes" typeRef="Provider_resourceTypes_def" />
      </object>
      <string name="BasicDependency_id_def" />
      <string name="BasicDependency_resourceType_def" />
      <string name="BasicDependency_resourceName_def" />
      <object name="BasicDependency">
        <property name="id" type="string" />
        <property name="resourceType" type="string" />
        <property name="resourceName" type="string" />
      </object>
      <array typeRef="BasicDependency" name="Dependency_dependsOn_def" />
      <string name="Dependency_id_def" />
      <string name="Dependency_resourceType_def" />
      <string name="Dependency_resourceName_def" />
      <object name="Dependency">
        <property name="dependsOn" typeRef="Dependency_dependsOn_def" />
        <property name="id" type="string" />
        <property name="resourceType" type="string" />
        <property name="resourceName" type="string" />
      </object>
      <string name="DeploymentPropertiesExtended_provisioningState_def" />
      <string name="DeploymentPropertiesExtended_correlationId_def" />
      <dateTimeString name="DeploymentPropertiesExtended_timestamp_def" />
      <object name="DeploymentPropertiesExtended_outputs_def" />
      <array typeRef="Provider" name="DeploymentPropertiesExtended_providers_def" />
      <array typeRef="Dependency" name="DeploymentPropertiesExtended_dependencies_def" />
      <object name="DeploymentPropertiesExtended_template_def" />
      <object name="DeploymentPropertiesExtended_parameters_def" />
      <string name="DeploymentPropertiesExtended_mode_def" />
      <object name="DeploymentPropertiesExtended">
        <property name="provisioningState" type="string" />
        <property name="correlationId" type="string" />
        <property name="timestamp" typeRef="DeploymentPropertiesExtended_timestamp_def" />
        <property name="outputs" typeRef="DeploymentPropertiesExtended_outputs_def" />
        <property name="providers" typeRef="DeploymentPropertiesExtended_providers_def" />
        <property name="dependencies" typeRef="DeploymentPropertiesExtended_dependencies_def" />
        <property name="template" typeRef="DeploymentPropertiesExtended_template_def" />
        <property name="templateLink" typeRef="TemplateLink" />
        <property name="parameters" typeRef="DeploymentPropertiesExtended_parameters_def" />
        <property name="parametersLink" typeRef="ParametersLink" />
        <property name="mode" type="string" />
        <property name="debugSetting" typeRef="DebugSetting" />
      </object>
      <object name="DeploymentValidateResult">
        <property name="error" typeRef="ResourceManagementErrorWithDetails" />
        <property name="properties" typeRef="DeploymentPropertiesExtended" />
      </object>
      <string name="DeploymentExtended_id_def" />
      <string name="DeploymentExtended_name_def" />
      <object name="DeploymentExtended">
        <property name="id" type="string" />
        <property name="name" type="string" />
        <property name="properties" typeRef="DeploymentPropertiesExtended" />
      </object>
      <array typeRef="DeploymentExtended" name="DeploymentListResult_value_def" />
      <string name="DeploymentListResult_nextLink_def" />
      <object name="DeploymentListResult">
        <property name="value" typeRef="DeploymentListResult_value_def" />
        <property name="nextLink" type="string" />
      </object>
      <array typeRef="Provider" name="ProviderListResult_value_def" />
      <string name="ProviderListResult_nextLink_def" />
      <object name="ProviderListResult">
        <property name="value" typeRef="ProviderListResult_value_def" />
        <property name="nextLink" type="string" />
      </object>
      <string name="GenericResource_id_def" />
      <string name="GenericResource_name_def" />
      <string name="GenericResource_type_def" />
      <string name="GenericResource_location_def" />
      <string name="GenericResource_tags_def_mapValues_def" />
      <mapObject name="GenericResource_tags_def">
        <values type="string" />
      </mapObject>
      <string name="GenericResource_kind_def" />
      <string name="GenericResource_managedBy_def" />
      <object name="GenericResource_properties_def" />
      <object name="GenericResource">
        <property name="id" type="string" />
        <property name="name" type="string" />
        <property name="type" type="string" />
        <property name="location" type="string" />
        <property name="tags" typeRef="GenericResource_tags_def" />
        <property name="plan" typeRef="Plan" />
        <property name="kind" type="string" />
        <property name="managedBy" type="string" />
        <property name="sku" typeRef="Sku" />
        <property name="identity" typeRef="Identity" />
        <property name="properties" typeRef="GenericResource_properties_def" />
      </object>
      <string name="Plan_name_def" />
      <string name="Plan_publisher_def" />
      <string name="Plan_product_def" />
      <string name="Plan_promotionCode_def" />
      <object name="Plan">
        <property name="name" type="string" />
        <property name="publisher" type="string" />
        <property name="product" type="string" />
        <property name="promotionCode" type="string" />
      </object>
      <string name="Sku_name_def" />
      <string name="Sku_tier_def" />
      <string name="Sku_size_def" />
      <string name="Sku_family_def" />
      <string name="Sku_model_def" />
      <integer name="Sku_capacity_def" />
      <object name="Sku">
        <property name="name" type="string" />
        <property name="tier" type="string" />
        <property name="size" type="string" />
        <property name="family" type="string" />
        <property name="model" type="string" />
        <property name="capacity" type="integer" />
      </object>
      <string name="Identity_principalId_def" />
      <string name="Identity_tenantId_def" />
      <string name="Identity_type_def" />
      <object name="Identity">
        <property name="principalId" type="string" />
        <property name="tenantId" type="string" />
        <property name="type" type="string" />
      </object>
      <array typeRef="GenericResource" name="ResourceListResult_value_def" />
      <string name="ResourceListResult_nextLink_def" />
      <object name="ResourceListResult">
        <property name="value" typeRef="ResourceListResult_value_def" />
        <property name="nextLink" type="string" />
      </object>
      <string name="ResourceGroup_id_def" />
      <string name="ResourceGroup_name_def" />
      <string name="ResourceGroup_location_def" />
      <string name="ResourceGroup_managedBy_def" />
      <string name="ResourceGroup_tags_def_mapValues_def" />
      <mapObject name="ResourceGroup_tags_def">
        <values type="string" />
      </mapObject>
      <object name="ResourceGroup">
        <property name="id" type="string" />
        <property name="name" type="string" />
        <property name="location" type="string" />
        <property name="managedBy" type="string" />
        <property name="tags" typeRef="ResourceGroup_tags_def" />
        <property name="properties" typeRef="ResourceGroupProperties" />
      </object>
      <string name="ResourceGroupProperties_provisioningState_def" />
      <object name="ResourceGroupProperties">
        <property name="provisioningState" type="string" />
      </object>
      <array typeRef="ResourceGroup" name="ResourceGroupListResult_value_def" />
      <string name="ResourceGroupListResult_nextLink_def" />
      <object name="ResourceGroupListResult">
        <property name="value" typeRef="ResourceGroupListResult_value_def" />
        <property name="nextLink" type="string" />
      </object>
      <string name="ExportTemplateRequest_resources_def_items_def" />
      <array type="string" name="ExportTemplateRequest_resources_def" />
      <string name="ExportTemplateRequest_options_def" />
      <object name="ExportTemplateRequest">
        <property name="resources" typeRef="ExportTemplateRequest_resources_def" />
        <property name="options" type="string" />
      </object>
      <string name="TagCount_type_def" />
      <integer name="TagCount_value_def" />
      <object name="TagCount">
        <property name="type" type="string" />
        <property name="value" type="integer" />
      </object>
      <string name="TagValue_id_def" />
      <string name="TagValue_tagValue_def" />
      <object name="TagValue">
        <property name="id" type="string" />
        <property name="tagValue" type="string" />
        <property name="count" typeRef="TagCount" />
      </object>
      <string name="TagDetails_id_def" />
      <string name="TagDetails_tagName_def" />
      <array typeRef="TagValue" name="TagDetails_values_def" />
      <object name="TagDetails">
        <property name="id" type="string" />
        <property name="tagName" type="string" />
        <property name="count" typeRef="TagCount" />
        <property name="values" typeRef="TagDetails_values_def" />
      </object>
      <array typeRef="TagDetails" name="TagsListResult_value_def" />
      <string name="TagsListResult_nextLink_def" />
      <object name="TagsListResult">
        <property name="value" typeRef="TagsListResult_value_def" />
        <property name="nextLink" type="string" />
      </object>
      <string name="TargetResource_id_def" />
      <string name="TargetResource_resourceName_def" />
      <string name="TargetResource_resourceType_def" />
      <object name="TargetResource">
        <property name="id" type="string" />
        <property name="resourceName" type="string" />
        <property name="resourceType" type="string" />
      </object>
      <object name="HttpMessage_content_def" />
      <object name="HttpMessage">
        <property name="content" typeRef="HttpMessage_content_def" />
      </object>
      <string name="DeploymentOperationProperties_provisioningState_def" />
      <dateTimeString name="DeploymentOperationProperties_timestamp_def" />
      <string name="DeploymentOperationProperties_serviceRequestId_def" />
      <string name="DeploymentOperationProperties_statusCode_def" />
      <object name="DeploymentOperationProperties_statusMessage_def" />
      <object name="DeploymentOperationProperties">
        <property name="provisioningState" type="string" />
        <property name="timestamp" typeRef="DeploymentOperationProperties_timestamp_def" />
        <property name="serviceRequestId" type="string" />
        <property name="statusCode" type="string" />
        <property name="statusMessage" typeRef="DeploymentOperationProperties_statusMessage_def" />
        <property name="targetResource" typeRef="TargetResource" />
        <property name="request" typeRef="HttpMessage" />
        <property name="response" typeRef="HttpMessage" />
      </object>
      <string name="DeploymentOperation_id_def" />
      <string name="DeploymentOperation_operationId_def" />
      <object name="DeploymentOperation">
        <property name="id" type="string" />
        <property name="operationId" type="string" />
        <property name="properties" typeRef="DeploymentOperationProperties" />
      </object>
      <array typeRef="DeploymentOperation" name="DeploymentOperationsListResult_value_def" />
      <string name="DeploymentOperationsListResult_nextLink_def" />
      <object name="DeploymentOperationsListResult">
        <property name="value" typeRef="DeploymentOperationsListResult_value_def" />
        <property name="nextLink" type="string" />
      </object>
      <object name="ResourceGroupExportResult_template_def" />
      <object name="ResourceGroupExportResult">
        <property name="template" typeRef="ResourceGroupExportResult_template_def" />
        <property name="error" typeRef="ResourceManagementErrorWithDetails" />
      </object>
      <object name="Resources_Invoke_param_body_def" />
      <object name="Resources_Invoke_responses_200_def" />
      <object name="Provider_Resources_Invoke_param_body_def" />
      <object name="Provider_Resources_Invoke_responses_200_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://unitedstates-002.azure-apim.net/apim/arm">
    <resource path="/{connectionId}/subscriptions/{subscriptionId}/locations">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="subscriptionId" type="xs:string" required="true">
        <doc title="The unique identifier for the  Microsoft Azure subscription. The subscription ID forms part of the ID for every Azure resource." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="SubscriptionsListLocations" actionName="Subscriptions_ListLocations" siena:isDeprecated="false">
        <doc title="Lists the subscription locations&#xA;Lists the locations available for the subscription." />
        <request>
          <param style="query" name="x-ms-api-version" type="xs:string" required="true" fixed="2016-06-01">
            <doc title="Client Api Version." />
            <option value="2016-06-01" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:LocationListResult" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/subscriptions/{subscriptionId}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="subscriptionId" type="xs:string" required="true">
        <doc title="The unique identifier for the  Microsoft Azure subscription. The subscription ID forms part of the ID for every Azure resource." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="SubscriptionsGet" actionName="Subscriptions_Get" siena:isDeprecated="false">
        <doc title="Read a subscription&#xA;Reads the details for a particular subscription." />
        <request>
          <param style="query" name="x-ms-api-version" type="xs:string" required="true" fixed="2016-06-01">
            <doc title="Client Api Version." />
            <option value="2016-06-01" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:Subscription" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/subscriptions">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="SubscriptionsList" actionName="Subscriptions_List" siena:isDeprecated="false">
        <doc title="List subscriptions&#xA;Gets a list of all the subscriptions to which the principal has access." />
        <request>
          <param style="query" name="x-ms-api-version" type="xs:string" required="true" fixed="2016-06-01">
            <doc title="Client Api Version." />
            <option value="2016-06-01" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:SubscriptionListResult" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deployments/{deploymentName}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="subscriptionId" type="xs:string" required="true">
        <doc title="The unique identifier for the  Microsoft Azure subscription. The subscription ID forms part of the ID for every Azure resource." />
      </param>
      <param style="template" name="resourceGroupName" type="xs:string" required="true">
        <doc title="Resource group name." />
      </param>
      <param style="template" name="deploymentName" type="xs:string" required="true">
        <doc title="The name of the resource group template deployment." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="DeploymentsGet" actionName="Deployments_Get" siena:isDeprecated="false">
        <doc title="Read a template deployment&#xA;Reads a template deployment within a resource group." />
        <request>
          <param style="query" name="x-ms-api-version" type="xs:string" required="true" fixed="2016-06-01">
            <doc title="Client Api Version." />
            <option value="2016-06-01" />
          </param>
          <param style="query" name="wait" type="xs:boolean" default="false">
            <doc title="If the action should wait until deployment is completed" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:DeploymentExtended" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deployments/{deploymentName}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="subscriptionId" type="xs:string" required="true">
        <doc title="The unique identifier for the  Microsoft Azure subscription. The subscription ID forms part of the ID for every Azure resource." />
      </param>
      <param style="template" name="resourceGroupName" type="xs:string" required="true">
        <doc title="Resource group name." />
      </param>
      <param style="template" name="deploymentName" type="xs:string" required="true">
        <doc title="The name of the deployment." />
      </param>
      <method siena:requiresAuthentication="true" name="PUT" id="DeploymentsCreateOrUpdate" actionName="Deployments_CreateOrUpdate" visibility="important" siena:isDeprecated="false">
        <doc title="Create or update a template deployment&#xA;Create or update a named resource group template deployment. A template and parameters are expected for the request to succeed." />
        <request>
          <param style="query" name="x-ms-api-version" type="xs:string" required="true" fixed="2016-06-01">
            <doc title="Client Api Version." />
            <option value="2016-06-01" />
          </param>
          <param style="query" name="wait" type="xs:boolean" default="false">
            <doc title="If the action should wait until deployment is completed" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="properties" path="/properties" type="service:DeploymentProperties" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:DeploymentExtended" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deployments/{deploymentName}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="subscriptionId" type="xs:string" required="true">
        <doc title="The unique identifier for the  Microsoft Azure subscription. The subscription ID forms part of the ID for every Azure resource." />
      </param>
      <param style="template" name="resourceGroupName" type="xs:string" required="true">
        <doc title="Resource group name." />
      </param>
      <param style="template" name="deploymentName" type="xs:string" required="true">
        <doc title="The name of the resource group template deployment." />
      </param>
      <method siena:requiresAuthentication="true" name="DELETE" id="DeploymentsDelete" actionName="Deployments_Delete" siena:isDeprecated="false">
        <doc title="Delete template deployment&#xA;Deletes a resource group template deployment. The resources will not be deleted; only the metadata about the template deployment." />
        <request>
          <param style="query" name="x-ms-api-version" type="xs:string" required="true" fixed="2016-06-01">
            <doc title="Client Api Version." />
            <option value="2016-06-01" />
          </param>
        </request>
      </method>
    </resource>
    <resource path="/{connectionId}/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deployments/{deploymentName}/cancel">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="subscriptionId" type="xs:string" required="true">
        <doc title="The unique identifier for the  Microsoft Azure subscription. The subscription ID forms part of the ID for every Azure resource." />
      </param>
      <param style="template" name="resourceGroupName" type="xs:string" required="true">
        <doc title="Resource group name." />
      </param>
      <param style="template" name="deploymentName" type="xs:string" required="true">
        <doc title="The name of the resource group template deployment." />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="DeploymentsCancel" actionName="Deployments_Cancel" siena:isDeprecated="false">
        <doc title="Cancel a template deployment&#xA;Cancel a currently running template deployment. All pending template operations will be suspended." />
        <request>
          <param style="query" name="x-ms-api-version" type="xs:string" required="true" fixed="2016-06-01">
            <doc title="Client Api Version." />
            <option value="2016-06-01" />
          </param>
        </request>
      </method>
    </resource>
    <resource path="/{connectionId}/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deployments/{deploymentName}/validate">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="subscriptionId" type="xs:string" required="true">
        <doc title="The unique identifier for the  Microsoft Azure subscription. The subscription ID forms part of the ID for every Azure resource." />
      </param>
      <param style="template" name="resourceGroupName" type="xs:string" required="true">
        <doc title="Resource group name." />
      </param>
      <param style="template" name="deploymentName" type="xs:string" required="true">
        <doc title="The name of the resource group template deployment." />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="DeploymentsValidate" actionName="Deployments_Validate" siena:isDeprecated="false">
        <doc title="Validate a template deployment&#xA;Validates a deployment template. This operation does not have side effects and can be used to test a template deployment for syntax or logical errors." />
        <request>
          <param style="query" name="x-ms-api-version" type="xs:string" required="true" fixed="2016-06-01">
            <doc title="Client Api Version." />
            <option value="2016-06-01" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="properties" path="/properties" type="service:DeploymentProperties" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:DeploymentValidateResult" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deployments/{deploymentName}/exportTemplate">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="subscriptionId" type="xs:string" required="true">
        <doc title="The unique identifier for the  Microsoft Azure subscription. The subscription ID forms part of the ID for every Azure resource." />
      </param>
      <param style="template" name="resourceGroupName" type="xs:string" required="true">
        <doc title="Resource group name." />
      </param>
      <param style="template" name="deploymentName" type="xs:string" required="true">
        <doc title="The name of the resource group template deployment." />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="DeploymentsExportTemplate" actionName="Deployments_ExportTemplate" siena:isDeprecated="false">
        <doc title="Export deployment template&#xA;Exports a template from a past resource group deployment." />
        <request>
          <param style="query" name="x-ms-api-version" type="xs:string" required="true" fixed="2016-06-01">
            <doc title="Client Api Version." />
            <option value="2016-06-01" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:DeploymentExportResult" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deployments">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="subscriptionId" type="xs:string" required="true">
        <doc title="The unique identifier for the  Microsoft Azure subscription. The subscription ID forms part of the ID for every Azure resource." />
      </param>
      <param style="template" name="resourceGroupName" type="xs:string" required="true">
        <doc title="Resource group name." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="DeploymentsList" actionName="Deployments_List" siena:isDeprecated="false">
        <doc title="List template deployments&#xA;Lists all the resource group template deployments. This operation is useful to know what has been provisioned thus far." />
        <request>
          <param style="query" name="$filter" type="xs:string">
            <doc title="The filter to apply on the operation." />
          </param>
          <param style="query" name="$top" type="xs:int">
            <doc title="Query parameters. If nothing is passed returns all values." />
          </param>
          <param style="query" name="x-ms-api-version" type="xs:string" required="true" fixed="2016-06-01">
            <doc title="Client Api Version." />
            <option value="2016-06-01" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:DeploymentListResult" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/deployments/{deploymentName}/operations/{operationId}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="subscriptionId" type="xs:string" required="true">
        <doc title="The unique identifier for the  Microsoft Azure subscription. The subscription ID forms part of the ID for every Azure resource." />
      </param>
      <param style="template" name="resourceGroupName" type="xs:string" required="true">
        <doc title="Resource group name." />
      </param>
      <param style="template" name="deploymentName" type="xs:string" required="true">
        <doc title="The name of the resource group template deployment." />
      </param>
      <param style="template" name="operationId" type="xs:string" required="true">
        <doc title="Operation Id." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="DeploymentOperationsGet" actionName="DeploymentOperations_Get" siena:isDeprecated="false">
        <doc title="Read a template deployment operation&#xA;Reads a particular resource group template deployment operation. This is useful for troubleshooting failed template deployments." />
        <request>
          <param style="query" name="x-ms-api-version" type="xs:string" required="true" fixed="2016-06-01">
            <doc title="Client Api Version." />
            <option value="2016-06-01" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:DeploymentOperation" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/deployments/{deploymentName}/operations">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="subscriptionId" type="xs:string" required="true">
        <doc title="The unique identifier for the  Microsoft Azure subscription. The subscription ID forms part of the ID for every Azure resource." />
      </param>
      <param style="template" name="resourceGroupName" type="xs:string" required="true">
        <doc title="Resource group name." />
      </param>
      <param style="template" name="deploymentName" type="xs:string" required="true">
        <doc title="The name of the resource group template deployment." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="DeploymentOperationsList" actionName="DeploymentOperations_List" siena:isDeprecated="false">
        <doc title="Lists template deployment operations&#xA;Lists all the template deployment operations. This is useful for troubleshooting failed template deployments." />
        <request>
          <param style="query" name="$top" type="xs:int">
            <doc title="Query parameters. If nothing is passed returns all values." />
          </param>
          <param style="query" name="x-ms-api-version" type="xs:string" required="true" fixed="2016-06-01">
            <doc title="Client Api Version." />
            <option value="2016-06-01" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:DeploymentOperationsListResult" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/subscriptions/{subscriptionId}/providers/{resourceProviderNamespace}/unregister">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="subscriptionId" type="xs:string" required="true">
        <doc title="The unique identifier for the  Microsoft Azure subscription. The subscription ID forms part of the ID for every Azure resource." />
      </param>
      <param style="template" name="resourceProviderNamespace" type="xs:string" required="true">
        <doc title="Namespace of the resource provider." />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="ProvidersUnregister" actionName="Providers_Unregister" siena:isDeprecated="false">
        <doc title="Unregister resource provider&#xA;Unregisters provider from a subscription. This operation will fail if there are any resources from that resource provider in the subscription." />
        <request>
          <param style="query" name="x-ms-api-version" type="xs:string" required="true" fixed="2016-06-01">
            <doc title="Client Api Version." />
            <option value="2016-06-01" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:Provider" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/subscriptions/{subscriptionId}/providers/{resourceProviderNamespace}/register">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="subscriptionId" type="xs:string" required="true">
        <doc title="The unique identifier for the  Microsoft Azure subscription. The subscription ID forms part of the ID for every Azure resource." />
      </param>
      <param style="template" name="resourceProviderNamespace" type="xs:string" required="true">
        <doc title="Namespace of the resource provider." />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="ProvidersRegister" actionName="Providers_Register" siena:isDeprecated="false">
        <doc title="Register resource provider&#xA;Registers a resource provider to be used with a subscription. This will provision permissions for the service into your subscription." />
        <request>
          <param style="query" name="x-ms-api-version" type="xs:string" required="true" fixed="2016-06-01">
            <doc title="Client Api Version." />
            <option value="2016-06-01" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:Provider" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/subscriptions/{subscriptionId}/providers">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="subscriptionId" type="xs:string" required="true">
        <doc title="The unique identifier for the  Microsoft Azure subscription. The subscription ID forms part of the ID for every Azure resource." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="ProvidersList" actionName="Providers_List" siena:isDeprecated="false">
        <doc title="List resource providers&#xA;Lists the resource providers available for the subscription." />
        <request>
          <param style="query" name="$top" type="xs:int">
            <doc title="Query parameters. If nothing is passed returns all values." />
          </param>
          <param style="query" name="$expand" type="xs:string">
            <doc title="The $expand query parameter." />
          </param>
          <param style="query" name="x-ms-api-version" type="xs:string" required="true" fixed="2016-06-01">
            <doc title="Client Api Version." />
            <option value="2016-06-01" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ProviderListResult" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/subscriptions/{subscriptionId}/providers/{resourceProviderNamespace}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="subscriptionId" type="xs:string" required="true">
        <doc title="The unique identifier for the  Microsoft Azure subscription. The subscription ID forms part of the ID for every Azure resource." />
      </param>
      <param style="template" name="resourceProviderNamespace" type="xs:string" required="true">
        <doc title="Namespace of the resource provider." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="ProvidersGet" actionName="Providers_Get" siena:isDeprecated="false">
        <doc title="Read resource provider&#xA;Reads a particular resource provider within the subscription." />
        <request>
          <param style="query" name="$expand" type="xs:string">
            <doc title="The $expand query parameter." />
          </param>
          <param style="query" name="x-ms-api-version" type="xs:string" required="true" fixed="2016-06-01">
            <doc title="Client Api Version." />
            <option value="2016-06-01" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:Provider" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/resources">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="subscriptionId" type="xs:string" required="true">
        <doc title="The unique identifier for the  Microsoft Azure subscription. The subscription ID forms part of the ID for every Azure resource." />
      </param>
      <param style="template" name="resourceGroupName" type="xs:string" required="true">
        <doc title="Resource group name." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="ResourceGroupsListResources" actionName="ResourceGroups_ListResources" siena:isDeprecated="false">
        <doc title="List resources by resource group&#xA;Lists all the resources under a resource group." />
        <request>
          <param style="query" name="x-ms-api-version" type="xs:string" required="true" fixed="2016-06-01">
            <doc title="Client Api Version." />
            <option value="2016-06-01" />
          </param>
          <param style="query" name="$filter" type="xs:string">
            <doc title="The filter to apply on the operation." />
          </param>
          <param style="query" name="$expand" type="xs:string">
            <doc title="The $expand query parameter." />
          </param>
          <param style="query" name="$top" type="xs:int">
            <doc title="Query parameters. If nothing is passed returns all values." />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResourceListResult" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="subscriptionId" type="xs:string" required="true">
        <doc title="The unique identifier for the  Microsoft Azure subscription. The subscription ID forms part of the ID for every Azure resource." />
      </param>
      <param style="template" name="resourceGroupName" type="xs:string" required="true">
        <doc title="Resource group name." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="ResourceGroupsGet" actionName="ResourceGroups_Get" siena:isDeprecated="false">
        <doc title="Read a resource group&#xA;Reads a particular resource group within the subscription." />
        <request>
          <param style="query" name="x-ms-api-version" type="xs:string" required="true" fixed="2016-06-01">
            <doc title="Client Api Version." />
            <option value="2016-06-01" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResourceGroup" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="subscriptionId" type="xs:string" required="true">
        <doc title="The unique identifier for the  Microsoft Azure subscription. The subscription ID forms part of the ID for every Azure resource." />
      </param>
      <param style="template" name="resourceGroupName" type="xs:string" required="true">
        <doc title="The name of the resource group to be created or updated." />
      </param>
      <method siena:requiresAuthentication="true" name="PUT" id="ResourceGroupsCreateOrUpdate" actionName="ResourceGroups_CreateOrUpdate" visibility="important" siena:isDeprecated="false">
        <doc title="Create or update a resource group&#xA;Creates or updates a resource group. The response code can be used to distinguish between a create (201) or update (200)." />
        <request>
          <param style="query" name="x-ms-api-version" type="xs:string" required="true" fixed="2016-06-01">
            <doc title="Client Api Version." />
            <option value="2016-06-01" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="id" path="/id" type="xs:string" />
            <param style="plain" name="name" path="/name" type="xs:string" />
            <param style="plain" name="location" path="/location" type="xs:string" required="true" />
            <param style="plain" name="managedBy" path="/managedBy" type="xs:string" />
            <param style="plain" name="tags" path="/tags" type="service:ResourceGroup_tags_def" />
            <param style="plain" name="properties" path="/properties" type="service:ResourceGroupProperties" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResourceGroup" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="subscriptionId" type="xs:string" required="true">
        <doc title="The unique identifier for the  Microsoft Azure subscription. The subscription ID forms part of the ID for every Azure resource." />
      </param>
      <param style="template" name="resourceGroupName" type="xs:string" required="true">
        <doc title="Resource group name." />
      </param>
      <method siena:requiresAuthentication="true" name="DELETE" id="ResourceGroupsDelete" actionName="ResourceGroups_Delete" siena:isDeprecated="false">
        <doc title="Delete a resource group&#xA;Delete a particular resource group within the subscription." />
        <request>
          <param style="query" name="x-ms-api-version" type="xs:string" required="true" fixed="2016-06-01">
            <doc title="Client Api Version." />
            <option value="2016-06-01" />
          </param>
        </request>
      </method>
    </resource>
    <resource path="/{connectionId}/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="subscriptionId" type="xs:string" required="true">
        <doc title="The unique identifier for the  Microsoft Azure subscription. The subscription ID forms part of the ID for every Azure resource." />
      </param>
      <param style="template" name="resourceGroupName" type="xs:string" required="true">
        <doc title="Resource group name." />
      </param>
      <method siena:requiresAuthentication="true" name="PATCH" id="ResourceGroupsPatch" actionName="ResourceGroups_Patch" siena:isDeprecated="false">
        <doc title="Update an existing resource group&#xA;Updates an existing resource group. If the resource does not exist, this request will fail." />
        <request>
          <param style="query" name="x-ms-api-version" type="xs:string" required="true" fixed="2016-06-01">
            <doc title="Client Api Version." />
            <option value="2016-06-01" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="id" path="/id" type="xs:string" />
            <param style="plain" name="name" path="/name" type="xs:string" />
            <param style="plain" name="location" path="/location" type="xs:string" required="true" />
            <param style="plain" name="managedBy" path="/managedBy" type="xs:string" />
            <param style="plain" name="tags" path="/tags" type="service:ResourceGroup_tags_def" />
            <param style="plain" name="properties" path="/properties" type="service:ResourceGroupProperties" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResourceGroup" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/exportTemplate">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="subscriptionId" type="xs:string" required="true">
        <doc title="The unique identifier for the  Microsoft Azure subscription. The subscription ID forms part of the ID for every Azure resource." />
      </param>
      <param style="template" name="resourceGroupName" type="xs:string" required="true">
        <doc title="Resource group name." />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="ResourceGroupsExportTemplate" actionName="ResourceGroups_ExportTemplate" siena:isDeprecated="false">
        <doc title="Export a resource group template&#xA;Exports a deployment template from an existing resource group. This can only be successful if the underlying resources have a schema defined by Microsoft." />
        <request>
          <param style="query" name="x-ms-api-version" type="xs:string" required="true" fixed="2016-06-01">
            <doc title="Client Api Version." />
            <option value="2016-06-01" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="resources" path="/resources" type="service:ExportTemplateRequest_resources_def" />
            <param style="plain" name="options" path="/options" type="xs:string">
              <option value="IncludeParameterDefaultValue" />
              <option value="IncludeComments" />
              <option value="IncludeParameterDefaultValue, IncludeComments" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResourceGroupExportResult" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/subscriptions/{subscriptionId}/resourcegroups">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="subscriptionId" type="xs:string" required="true">
        <doc title="The unique identifier for the  Microsoft Azure subscription. The subscription ID forms part of the ID for every Azure resource." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="ResourceGroupsList" actionName="ResourceGroups_List" siena:isDeprecated="false">
        <doc title="List resource groups&#xA;Lists all the resource groups within the subscription. The results are paginated at 1,000+ records." />
        <request>
          <param style="query" name="x-ms-api-version" type="xs:string" required="true" fixed="2016-06-01">
            <doc title="Client Api Version." />
            <option value="2016-06-01" />
          </param>
          <param style="query" name="$filter" type="xs:string">
            <doc title="The filter to apply on the operation." />
          </param>
          <param style="query" name="$top" type="xs:int">
            <doc title="Query parameters. If nothing is passed returns all values." />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResourceGroupListResult" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/subscriptions/{subscriptionId}/resources">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="subscriptionId" type="xs:string" required="true">
        <doc title="The unique identifier for the  Microsoft Azure subscription. The subscription ID forms part of the ID for every Azure resource." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="ResourcesList" actionName="Resources_List" siena:isDeprecated="false">
        <doc title="List resources by subscription&#xA;Reads all of the resources under a particular subscription. The results are paginated at 1,000+ records." />
        <request>
          <param style="query" name="$filter" type="xs:string">
            <doc title="The filter to apply on the operation." />
          </param>
          <param style="query" name="$expand" type="xs:string">
            <doc title="The $expand query parameter." />
          </param>
          <param style="query" name="$top" type="xs:int">
            <doc title="Query parameters. If nothing is passed returns all values." />
          </param>
          <param style="query" name="x-ms-api-version" type="xs:string" required="true" fixed="2016-06-01">
            <doc title="Client Api Version." />
            <option value="2016-06-01" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResourceListResult" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{shortResourceId}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="subscriptionId" type="xs:string" required="true">
        <doc title="The unique identifier for the  Microsoft Azure subscription. The subscription ID forms part of the ID for every Azure resource." />
      </param>
      <param style="template" name="resourceGroupName" type="xs:string" required="true">
        <doc title="Resource group name." />
      </param>
      <param style="template" name="resourceProviderNamespace" type="xs:string" required="true">
        <doc title="Namespace of the resource provider." />
      </param>
      <param style="template" name="shortResourceId" type="xs:string" required="true">
        <doc title="The short Id of the resource, including the resource name and resource type. For example, sites/mySite" />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="ResourcesGetById" actionName="Resources_GetById" siena:isDeprecated="false">
        <doc title="Read a resource&#xA;Reads a resource object." />
        <request>
          <param style="query" name="x-ms-api-version" type="xs:string" required="true">
            <doc title="Api Version to be used." />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:GenericResource" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{shortResourceId}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="subscriptionId" type="xs:string" required="true">
        <doc title="The unique identifier for the  Microsoft Azure subscription. The subscription ID forms part of the ID for every Azure resource." />
      </param>
      <param style="template" name="resourceGroupName" type="xs:string" required="true">
        <doc title="Resource group name." />
      </param>
      <param style="template" name="resourceProviderNamespace" type="xs:string" required="true">
        <doc title="Namespace of the resource provider." />
      </param>
      <param style="template" name="shortResourceId" type="xs:string" required="true">
        <doc title="The short Id of the resource, including the resource name and resource type. For example, sites/mySite" />
      </param>
      <method siena:requiresAuthentication="true" name="PUT" id="ResourcesCreateOrUpdateById" actionName="Resources_CreateOrUpdateById" siena:isDeprecated="false">
        <doc title="Create or update a resource&#xA;Creates or updates a resource. The response code can be used to distinguish between a create (201) or update (200)." />
        <request>
          <param style="query" name="x-ms-api-version" type="xs:string" required="true">
            <doc title="Api Version to be used." />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="id" path="/id" type="xs:string" />
            <param style="plain" name="name" path="/name" type="xs:string" />
            <param style="plain" name="type" path="/type" type="xs:string" />
            <param style="plain" name="location" path="/location" type="xs:string" />
            <param style="plain" name="tags" path="/tags" type="service:GenericResource_tags_def" />
            <param style="plain" name="plan" path="/plan" type="service:Plan" />
            <param style="plain" name="kind" path="/kind" type="xs:string" />
            <param style="plain" name="managedBy" path="/managedBy" type="xs:string" />
            <param style="plain" name="sku" path="/sku" type="service:Sku" />
            <param style="plain" name="identity" path="/identity" type="service:Identity" />
            <param style="plain" name="properties" path="/properties" type="service:GenericResource_properties_def" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:GenericResource" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{shortResourceId}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="subscriptionId" type="xs:string" required="true">
        <doc title="The unique identifier for the  Microsoft Azure subscription. The subscription ID forms part of the ID for every Azure resource." />
      </param>
      <param style="template" name="resourceGroupName" type="xs:string" required="true">
        <doc title="Resource group name." />
      </param>
      <param style="template" name="resourceProviderNamespace" type="xs:string" required="true">
        <doc title="Namespace of the resource provider." />
      </param>
      <param style="template" name="shortResourceId" type="xs:string" required="true">
        <doc title="The short Id of the resource, including the resource name and resource type. For example, sites/mySite" />
      </param>
      <method siena:requiresAuthentication="true" name="DELETE" id="ResourcesDeleteById" actionName="Resources_DeleteById" siena:isDeprecated="false">
        <doc title="Delete a resource&#xA;Deletes a resource." />
        <request>
          <param style="query" name="x-ms-api-version" type="xs:string" required="true">
            <doc title="Api Version to be used." />
          </param>
        </request>
      </method>
    </resource>
    <resource path="/{connectionId}/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{shortResourceId}/{actionName}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="subscriptionId" type="xs:string" required="true">
        <doc title="The unique identifier for the  Microsoft Azure subscription. The subscription ID forms part of the ID for every Azure resource." />
      </param>
      <param style="template" name="resourceGroupName" type="xs:string" required="true">
        <doc title="Resource group name." />
      </param>
      <param style="template" name="resourceProviderNamespace" type="xs:string" required="true">
        <doc title="Namespace of the resource provider." />
      </param>
      <param style="template" name="shortResourceId" type="xs:string" required="true">
        <doc title="The short Id of the resource, including the resource name and resource type. For example, sites/mySite" />
      </param>
      <param style="template" name="actionName" type="xs:string" required="true">
        <doc title="Name of the resource action to invoke" />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="ResourcesInvoke" actionName="Resources_Invoke" siena:isDeprecated="false">
        <doc title="Invoke resource operation&#xA;Invokes an operation on an Azure resource." />
        <request>
          <param style="query" name="x-ms-api-version" type="xs:string" required="true">
            <doc title="Api Version to be used." />
          </param>
          <representation mediaType="application/json" />
        </request>
        <response>
          <representation mediaType="application/json" element="service:Resources_Invoke_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/subscriptions/{subscriptionId}/providers/{resourceProviderNamespace}/{shortResourceId}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="subscriptionId" type="xs:string" required="true">
        <doc title="The unique identifier for the  Microsoft Azure subscription. The subscription ID forms part of the ID for every Azure resource." />
      </param>
      <param style="template" name="resourceProviderNamespace" type="xs:string" required="true">
        <doc title="Namespace of the resource provider." />
      </param>
      <param style="template" name="shortResourceId" type="xs:string" required="true">
        <doc title="The short Id of the resource, including the resource name and resource type. For example, sites/mySite" />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="ProviderResourcesGetById" actionName="Provider_Resources_GetById" siena:isDeprecated="false">
        <doc title="Read a resource in provider&#xA;Reads a resource object." />
        <request>
          <param style="query" name="x-ms-api-version" type="xs:string" required="true">
            <doc title="Api Version to be used." />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:GenericResource" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/subscriptions/{subscriptionId}/providers/{resourceProviderNamespace}/{shortResourceId}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="subscriptionId" type="xs:string" required="true">
        <doc title="The unique identifier for the  Microsoft Azure subscription. The subscription ID forms part of the ID for every Azure resource." />
      </param>
      <param style="template" name="resourceProviderNamespace" type="xs:string" required="true">
        <doc title="Namespace of the resource provider." />
      </param>
      <param style="template" name="shortResourceId" type="xs:string" required="true">
        <doc title="The short Id of the resource, including the resource name and resource type. For example, sites/mySite" />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="ProviderResourcesInvoke" actionName="Provider_Resources_Invoke" siena:isDeprecated="false">
        <doc title="Invoke resource operation in provider&#xA;Invokes an operation on an Azure resource." />
        <request>
          <param style="query" name="x-ms-api-version" type="xs:string" required="true">
            <doc title="Api Version to be used." />
          </param>
          <representation mediaType="application/json" />
        </request>
        <response>
          <representation mediaType="application/json" element="service:Provider_Resources_Invoke_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/subscriptions/{subscriptionId}/tagNames/{tagName}/tagValues/{tagValue}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="subscriptionId" type="xs:string" required="true">
        <doc title="The unique identifier for the  Microsoft Azure subscription. The subscription ID forms part of the ID for every Azure resource." />
      </param>
      <param style="template" name="tagName" type="xs:string" required="true">
        <doc title="The name of the tag." />
      </param>
      <param style="template" name="tagValue" type="xs:string" required="true">
        <doc title="The value of the tag." />
      </param>
      <method siena:requiresAuthentication="true" name="PUT" id="TagsCreateOrUpdateValue" actionName="Tags_CreateOrUpdateValue" siena:isDeprecated="false">
        <doc title="Create or update a subscription resource tag value&#xA;Create or update a subscription resource tag value." />
        <request>
          <param style="query" name="x-ms-api-version" type="xs:string" required="true" fixed="2016-06-01">
            <doc title="Client Api Version." />
            <option value="2016-06-01" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:TagValue" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/subscriptions/{subscriptionId}/tagNames/{tagName}/tagValues/{tagValue}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="subscriptionId" type="xs:string" required="true">
        <doc title="The unique identifier for the  Microsoft Azure subscription. The subscription ID forms part of the ID for every Azure resource." />
      </param>
      <param style="template" name="tagName" type="xs:string" required="true">
        <doc title="The name of the tag." />
      </param>
      <param style="template" name="tagValue" type="xs:string" required="true">
        <doc title="The value of the tag." />
      </param>
      <method siena:requiresAuthentication="true" name="DELETE" id="TagsDeleteValue" actionName="Tags_DeleteValue" siena:isDeprecated="false">
        <doc title="Delete a subscription resource tag value&#xA;Delete a subscription resource tag value." />
        <request>
          <param style="query" name="x-ms-api-version" type="xs:string" required="true" fixed="2016-06-01">
            <doc title="Client Api Version." />
            <option value="2016-06-01" />
          </param>
        </request>
      </method>
    </resource>
    <resource path="/{connectionId}/subscriptions/{subscriptionId}/tagNames/{tagName}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="subscriptionId" type="xs:string" required="true">
        <doc title="The unique identifier for the  Microsoft Azure subscription. The subscription ID forms part of the ID for every Azure resource." />
      </param>
      <param style="template" name="tagName" type="xs:string" required="true">
        <doc title="The name of the tag." />
      </param>
      <method siena:requiresAuthentication="true" name="PUT" id="TagsCreateOrUpdate" actionName="Tags_CreateOrUpdate" siena:isDeprecated="false">
        <doc title="Create or update a subscription resource tag name&#xA;Create or update a subscription resource tag name." />
        <request>
          <param style="query" name="x-ms-api-version" type="xs:string" required="true" fixed="2016-06-01">
            <doc title="Client Api Version." />
            <option value="2016-06-01" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:TagDetails" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/subscriptions/{subscriptionId}/tagNames/{tagName}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="subscriptionId" type="xs:string" required="true">
        <doc title="The unique identifier for the  Microsoft Azure subscription. The subscription ID forms part of the ID for every Azure resource." />
      </param>
      <param style="template" name="tagName" type="xs:string" required="true">
        <doc title="The name of the tag." />
      </param>
      <method siena:requiresAuthentication="true" name="DELETE" id="TagsDelete" actionName="Tags_Delete" siena:isDeprecated="false">
        <doc title="Delete a subscription resource tag name&#xA;Delete a subscription resource tag name." />
        <request>
          <param style="query" name="x-ms-api-version" type="xs:string" required="true" fixed="2016-06-01">
            <doc title="Client Api Version." />
            <option value="2016-06-01" />
          </param>
        </request>
      </method>
    </resource>
    <resource path="/{connectionId}/subscriptions/{subscriptionId}/tagNames">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="subscriptionId" type="xs:string" required="true">
        <doc title="The unique identifier for the  Microsoft Azure subscription. The subscription ID forms part of the ID for every Azure resource." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="TagsList" actionName="Tags_List" siena:isDeprecated="false">
        <doc title="List subscription resource tags&#xA;Lists all the subscription resource tags." />
        <request>
          <param style="query" name="x-ms-api-version" type="xs:string" required="true" fixed="2016-06-01">
            <doc title="Client Api Version." />
            <option value="2016-06-01" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:TagsListResult" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="shared_arm" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>