CenterofExcellenceALMAccelerator/SolutionPackage/src/CanvasApps/src/cat_azuredevopsprojects_80ae5/pkgs/Wadl/HTTPwithAzureAD.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://europe-002.azure-apim.net/apim/webcontents" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="HTTPwithAzureAD" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="HTTP with Azure AD">Use the HTTP connector to fetch resources from various Web services, authenticated by Azure Active Directory (Azure AD), or from an on-premise web service.</doc>
  <grammars>
    <jsonTypes targetNamespace="https://europe-002.azure-apim.net/apim/webcontents" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="HttpRequest_method_def" />
      <string name="HttpRequest_url_def" />
      <string name="HttpRequest_headers_def_mapValues_def" />
      <mapObject name="HttpRequest_headers_def">
        <values type="string" />
      </mapObject>
      <base64Binary name="HttpRequest_body_def" />
      <object name="HttpRequest">
        <property name="method" type="string" />
        <property name="url" type="string" />
        <property name="headers" typeRef="HttpRequest_headers_def" />
        <property name="body" typeRef="HttpRequest_body_def" />
      </object>
      <string name="GetFileContent_responses_200_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://europe-002.azure-apim.net/apim/webcontents">
    <resource path="/{connectionId}/GetFileContent">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="GetFileContent" actionName="GetFileContent" visibility="important" siena:isDeprecated="false">
        <doc title="Get web resource&#xA;Retrieves a web resource by issuing an HTTP GET request." />
        <request>
          <param style="query" name="path" type="xs:string" required="true">
            <doc title="File identifier" />
          </param>
        </request>
        <response>
          <representation mediaType="application/octet-stream" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/codeless/InvokeHttp">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="InvokeHttp" actionName="InvokeHttp" visibility="important" siena:isDeprecated="false">
        <doc title="Invoke an HTTP request&#xA;Invokes an HTTP endpoint." />
        <request>
          <representation mediaType="application/json">
            <param style="plain" name="method" path="/method" type="xs:string" required="true">
              <option value="GET" />
              <option value="DELETE" />
              <option value="PATCH" />
              <option value="POST" />
              <option value="PUT" />
            </param>
            <param style="plain" name="url" path="/url" type="xs:string" required="true" />
            <param style="plain" name="headers" path="/headers" type="service:HttpRequest_headers_def" />
            <param style="plain" name="body" path="/body" type="service:HttpRequest_body_def" />
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="shared_webcontents" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>