CenterofExcellenceCoreComponents/SolutionPackage/src/CanvasApps/src/admin_managepermissionsnonaccountconnectioncleanup_1def1/pkgs/Wadl/HELPER-GetConnectionstoClean.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="HELPER-GetConnectionstoClean" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="HELPER - Get Connections to Clean" />
  <grammars>
    <jsonTypes targetNamespace="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_text_def" />
      <string name="ManualTriggerInput_text_1_def" />
      <string name="ManualTriggerInput_text_2_def" />
      <boolean name="ManualTriggerInput_boolean_def" />
      <boolean name="ManualTriggerInput_boolean_1_def" />
      <boolean name="ManualTriggerInput_boolean_2_def" />
      <string name="ManualTriggerInput_text_3_def" />
      <object name="ManualTriggerInput">
        <property name="text" type="string" />
        <property name="text_1" type="string" />
        <property name="text_2" type="string" />
        <property name="boolean" type="boolean" />
        <property name="boolean_1" type="boolean" />
        <property name="boolean_2" type="boolean" />
        <property name="text_3" type="string" />
      </object>
      <string name="ResponseActionOutput_items_def_connectorName_def" />
      <string name="ResponseActionOutput_items_def_accountName_def" />
      <string name="ResponseActionOutput_items_def_connectionCreator_def" />
      <string name="ResponseActionOutput_items_def_connectionCreatorUPN_def" />
      <string name="ResponseActionOutput_items_def_connectionEnvt_def" />
      <string name="ResponseActionOutput_items_def_connectionEnvtDisplay_def" />
      <string name="ResponseActionOutput_items_def_connectionIdentifier_def" />
      <boolean name="ResponseActionOutput_items_def_StatusIsError_def" />
      <string name="ResponseActionOutput_items_def_StatusString_def" />
      <string name="ResponseActionOutput_items_def_StatusColorString_def" />
      <boolean name="ResponseActionOutput_items_def_noAccount_def" />
      <string name="ResponseActionOutput_items_def_connectionParamater_def" />
      <string name="ResponseActionOutput_items_def_propertyDisplayName_def" />
      <string name="ResponseActionOutput_items_def_flowURL_def" />
      <object name="ResponseActionOutput_items_def">
        <property name="connectorName" type="string" />
        <property name="accountName" type="string" />
        <property name="connectionCreator" type="string" />
        <property name="connectionCreatorUPN" type="string" />
        <property name="connectionEnvt" type="string" />
        <property name="connectionEnvtDisplay" type="string" />
        <property name="connectionIdentifier" type="string" />
        <property name="StatusIsError" type="boolean" />
        <property name="StatusString" type="string" />
        <property name="StatusColorString" type="string" />
        <property name="noAccount" type="boolean" />
        <property name="connectionParamater" type="string" />
        <property name="propertyDisplayName" type="string" />
        <property name="flowURL" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_items_def" name="ResponseActionOutput" />
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://unitedstates-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="text" path="/text" type="xs:string" required="true">
              <doc title="UserName" />
            </param>
            <param style="plain" name="text_1" path="/text_1" type="xs:string" required="true">
              <doc title="EnvtName" />
            </param>
            <param style="plain" name="text_2" path="/text_2" type="xs:string" required="true">
              <doc title="Connector" />
            </param>
            <param style="plain" name="boolean" path="/boolean" type="xs:boolean" required="true">
              <doc title="errorsOnly" />
            </param>
            <param style="plain" name="boolean_1" path="/boolean_1" type="xs:boolean" required="true">
              <doc title="noAccountOnly" />
            </param>
            <param style="plain" name="boolean_2" path="/boolean_2" type="xs:boolean" required="true">
              <doc title="sendToCSV" />
            </param>
            <param style="plain" name="text_3" path="/text_3" type="xs:string" required="true">
              <doc title="sendToCSVEmail" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>