CenterofExcellenceCoreComponents/SolutionPackage/CanvasApps/admin_adminaccessthisflow_20cd4_DocumentUri_msapp_src/pkgs/Wadl/Flow.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://australia-001.azure-apim.net/apim/flowmanagement" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="Flow" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Flow">Flow connector enables interaction with flow management service. For example: creating, editing, and updating flows.</doc>
  <grammars>
    <jsonTypes targetNamespace="https://australia-001.azure-apim.net/apim/flowmanagement" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <array typeRef="ApiWithoutConnectionParameters" name="ResourceArray_ux5B_ApiWithoutConnectionParameters_ux5D__value_def" />
      <object name="ResourceArray_ux5B_ApiWithoutConnectionParameters_ux5D_">
        <property name="value" typeRef="ResourceArray_ux5B_ApiWithoutConnectionParameters_ux5D__value_def" />
      </object>
      <array typeRef="ConnectionWithoutConnectionParameters" name="ResourceArray_ux5B_ConnectionWithoutConnectionParameters_ux5D__value_def" />
      <object name="ResourceArray_ux5B_ConnectionWithoutConnectionParameters_ux5D_">
        <property name="value" typeRef="ResourceArray_ux5B_ConnectionWithoutConnectionParameters_ux5D__value_def" />
      </object>
      <array typeRef="Environment" name="ResourceArray_ux5B_Environment_ux5D__value_def" />
      <object name="ResourceArray_ux5B_Environment_ux5D_">
        <property name="value" typeRef="ResourceArray_ux5B_Environment_ux5D__value_def" />
      </object>
      <array typeRef="AdminFlow" name="ResourceArray_ux5B_AdminFlow_ux5D__value_def" />
      <object name="ResourceArray_ux5B_AdminFlow_ux5D_">
        <property name="value" typeRef="ResourceArray_ux5B_AdminFlow_ux5D__value_def" />
      </object>
      <array typeRef="FlowPermission" name="ResourceArray_ux5B_FlowPermission_ux5D__value_def" />
      <object name="ResourceArray_ux5B_FlowPermission_ux5D_">
        <property name="value" typeRef="ResourceArray_ux5B_FlowPermission_ux5D__value_def" />
      </object>
      <object name="Object" />
      <array typeRef="FlowPermission_ux5B_Add_ux5D_" name="ModifyFlowPermissionPayload_put_def" />
      <array typeRef="FlowPermission_ux5B_Remove_ux5D_" name="ModifyFlowPermissionPayload_delete_def" />
      <object name="ModifyFlowPermissionPayload">
        <property name="put" typeRef="ModifyFlowPermissionPayload_put_def" />
        <property name="delete" typeRef="ModifyFlowPermissionPayload_delete_def" />
      </object>
      <object name="FlowPermission_ux5B_Add_ux5D_">
        <property name="properties" typeRef="PermissionProperties_ux5B_Add_ux5D_" />
      </object>
      <object name="PermissionProperties_ux5B_Add_ux5D_">
        <property name="principal" typeRef="Principal_ux5B_Add_ux5D_" />
      </object>
      <string name="Principal_ux5B_Add_ux5D__id_def" />
      <string name="Principal_ux5B_Add_ux5D__type_def" />
      <object name="Principal_ux5B_Add_ux5D_">
        <property name="id" type="string" />
        <property name="type" type="string" />
      </object>
      <object name="FlowPermission_ux5B_Remove_ux5D_">
        <property name="properties" typeRef="PermissionProperties_ux5B_Remove_ux5D_" />
      </object>
      <object name="PermissionProperties_ux5B_Remove_ux5D_">
        <property name="principal" typeRef="Principal_ux5B_Remove_ux5D_" />
      </object>
      <string name="Principal_ux5B_Remove_ux5D__id_def" />
      <string name="Principal_ux5B_Remove_ux5D__type_def" />
      <object name="Principal_ux5B_Remove_ux5D_">
        <property name="id" type="string" />
        <property name="type" type="string" />
      </object>
      <string name="FlowPermission_name_def" />
      <object name="FlowPermission">
        <property name="name" type="string" />
        <property name="properties" typeRef="PermissionProperties" />
      </object>
      <string name="PermissionProperties_roleName_def" />
      <object name="PermissionProperties">
        <property name="roleName" type="string" />
        <property name="principal" typeRef="Principal" />
      </object>
      <string name="Principal_id_def" />
      <string name="Principal_displayName_def" />
      <string name="Principal_email_def" />
      <string name="Principal_type_def" />
      <string name="Principal_tenantId_def" />
      <string name="Principal_userPrincipalName_def" />
      <string name="Principal_thumbnailPhoto_def" />
      <object name="Principal">
        <property name="id" type="string" />
        <property name="displayName" type="string" />
        <property name="email" type="string" />
        <property name="type" type="string" />
        <property name="tenantId" type="string" />
        <property name="userPrincipalName" type="string" />
        <property name="thumbnailPhoto" type="string" />
      </object>
      <string name="Flow_name_def" />
      <object name="Flow">
        <property name="name" type="string" />
        <property name="properties" typeRef="FlowProperties" />
      </object>
      <string name="FlowProperties_displayName_def" />
      <object name="FlowProperties_definition_def" />
      <string name="FlowProperties_state_def" />
      <dateTimeString name="FlowProperties_createdTime_def" />
      <dateTimeString name="FlowProperties_lastModifiedTime_def" />
      <string name="FlowProperties_templateName_def" />
      <string name="FlowProperties_flowTriggerUri_def" />
      <string name="FlowProperties_installationStatus_def" />
      <object name="FlowProperties">
        <property name="displayName" type="string" />
        <property name="definition" typeRef="FlowProperties_definition_def" />
        <property name="state" type="string" />
        <property name="connectionReferences" typeRef="ConnectionReferencesDictionary" />
        <property name="createdTime" typeRef="FlowProperties_createdTime_def" />
        <property name="lastModifiedTime" typeRef="FlowProperties_lastModifiedTime_def" />
        <property name="templateName" type="string" />
        <property name="flowTriggerUri" type="string" />
        <property name="installationStatus" type="string" />
      </object>
      <string name="FlowWithConnectionReferences_name_def" />
      <object name="FlowWithConnectionReferences">
        <property name="name" type="string" />
        <property name="properties" typeRef="FlowWithConnectionReferencesProperties" />
      </object>
      <string name="FlowWithConnectionReferencesProperties_displayName_def" />
      <object name="FlowWithConnectionReferencesProperties_definition_def" />
      <string name="FlowWithConnectionReferencesProperties_state_def" />
      <dateTimeString name="FlowWithConnectionReferencesProperties_createdTime_def" />
      <dateTimeString name="FlowWithConnectionReferencesProperties_lastModifiedTime_def" />
      <string name="FlowWithConnectionReferencesProperties_templateName_def" />
      <string name="FlowWithConnectionReferencesProperties_flowTriggerUri_def" />
      <string name="FlowWithConnectionReferencesProperties_installationStatus_def" />
      <object name="FlowWithConnectionReferencesProperties">
        <property name="displayName" type="string" />
        <property name="definition" typeRef="FlowWithConnectionReferencesProperties_definition_def" />
        <property name="state" type="string" />
        <property name="connectionReferences" typeRef="ConnectionReferencesArray" />
        <property name="createdTime" typeRef="FlowWithConnectionReferencesProperties_createdTime_def" />
        <property name="lastModifiedTime" typeRef="FlowWithConnectionReferencesProperties_lastModifiedTime_def" />
        <property name="templateName" type="string" />
        <property name="flowTriggerUri" type="string" />
        <property name="installationStatus" type="string" />
        <property name="creator" typeRef="UserIdentity" />
        <property name="definitionSummary" typeRef="DefinitionSummary" />
      </object>
      <string name="AdminFlow_name_def" />
      <object name="AdminFlow">
        <property name="name" type="string" />
        <property name="properties" typeRef="AdminFlowProperties" />
      </object>
      <string name="AdminFlowProperties_displayName_def" />
      <string name="AdminFlowProperties_state_def" />
      <dateTimeString name="AdminFlowProperties_createdTime_def" />
      <dateTimeString name="AdminFlowProperties_lastModifiedTime_def" />
      <string name="AdminFlowProperties_templateName_def" />
      <string name="AdminFlowProperties_flowTriggerUri_def" />
      <string name="AdminFlowProperties_installationStatus_def" />
      <object name="AdminFlowProperties">
        <property name="displayName" type="string" />
        <property name="state" type="string" />
        <property name="connectionReferences" typeRef="ConnectionReferencesDictionary" />
        <property name="createdTime" typeRef="AdminFlowProperties_createdTime_def" />
        <property name="lastModifiedTime" typeRef="AdminFlowProperties_lastModifiedTime_def" />
        <property name="templateName" type="string" />
        <property name="flowTriggerUri" type="string" />
        <property name="installationStatus" type="string" />
        <property name="creator" typeRef="UserIdentity" />
        <property name="definitionSummary" typeRef="DefinitionSummary" />
      </object>
      <string name="AdminFlowWithConnectionReferences_name_def" />
      <object name="AdminFlowWithConnectionReferences">
        <property name="name" type="string" />
        <property name="properties" typeRef="AdminFlowWithConnectionReferencesProperties" />
      </object>
      <string name="AdminFlowWithConnectionReferencesProperties_displayName_def" />
      <string name="AdminFlowWithConnectionReferencesProperties_state_def" />
      <dateTimeString name="AdminFlowWithConnectionReferencesProperties_createdTime_def" />
      <dateTimeString name="AdminFlowWithConnectionReferencesProperties_lastModifiedTime_def" />
      <string name="AdminFlowWithConnectionReferencesProperties_templateName_def" />
      <string name="AdminFlowWithConnectionReferencesProperties_flowTriggerUri_def" />
      <string name="AdminFlowWithConnectionReferencesProperties_installationStatus_def" />
      <object name="AdminFlowWithConnectionReferencesProperties">
        <property name="displayName" type="string" />
        <property name="state" type="string" />
        <property name="connectionReferences" typeRef="ConnectionReferencesArray" />
        <property name="createdTime" typeRef="AdminFlowWithConnectionReferencesProperties_createdTime_def" />
        <property name="lastModifiedTime" typeRef="AdminFlowWithConnectionReferencesProperties_lastModifiedTime_def" />
        <property name="templateName" type="string" />
        <property name="flowTriggerUri" type="string" />
        <property name="installationStatus" type="string" />
        <property name="creator" typeRef="UserIdentity" />
        <property name="definitionSummary" typeRef="DefinitionSummary" />
      </object>
      <string name="DefinitionSummary_triggers_def_items_def_type_def" />
      <string name="DefinitionSummary_triggers_def_items_def_kind_def" />
      <object name="DefinitionSummary_triggers_def_items_def">
        <property name="type" type="string" />
        <property name="kind" type="string" />
      </object>
      <array typeRef="DefinitionSummary_triggers_def_items_def" name="DefinitionSummary_triggers_def" />
      <string name="DefinitionSummary_actions_def_items_def_type_def" />
      <string name="DefinitionSummary_actions_def_items_def_swaggerOperationId_def" />
      <string name="DefinitionSummary_actions_def_items_def_api_def_name_def" />
      <string name="DefinitionSummary_actions_def_items_def_api_def_id_def" />
      <string name="DefinitionSummary_actions_def_items_def_api_def_type_def" />
      <object name="DefinitionSummary_actions_def_items_def_api_def">
        <property name="name" type="string" />
        <property name="id" type="string" />
        <property name="type" type="string" />
      </object>
      <object name="DefinitionSummary_actions_def_items_def">
        <property name="type" type="string" />
        <property name="swaggerOperationId" type="string" />
        <property name="api" typeRef="DefinitionSummary_actions_def_items_def_api_def" />
      </object>
      <array typeRef="DefinitionSummary_actions_def_items_def" name="DefinitionSummary_actions_def" />
      <object name="DefinitionSummary">
        <property name="triggers" typeRef="DefinitionSummary_triggers_def" />
        <property name="actions" typeRef="DefinitionSummary_actions_def" />
      </object>
      <string name="UserIdentity_tenantId_def" />
      <string name="UserIdentity_objectId_def" />
      <string name="UserIdentity_userId_def" />
      <string name="UserIdentity_userType_def" />
      <object name="UserIdentity">
        <property name="tenantId" type="string" />
        <property name="objectId" type="string" />
        <property name="userId" type="string" />
        <property name="userType" type="string" />
      </object>
      <string name="Environment_name_def" />
      <string name="Environment_location_def" />
      <object name="Environment">
        <property name="name" type="string" />
        <property name="location" type="string" />
        <property name="properties" typeRef="EnvironmentProperties" />
      </object>
      <string name="EnvironmentProperties_displayName_def" />
      <string name="EnvironmentProperties_description_def" />
      <dateTimeString name="EnvironmentProperties_createdTime_def" />
      <dateTimeString name="EnvironmentProperties_lastModifiedTime_def" />
      <string name="EnvironmentProperties_provisioningState_def" />
      <string name="EnvironmentProperties_creationType_def" />
      <string name="EnvironmentProperties_environmentSku_def" />
      <string name="EnvironmentProperties_environmentType_def" />
      <boolean name="EnvironmentProperties_isDefault_def" />
      <object name="EnvironmentProperties">
        <property name="displayName" type="string" />
        <property name="description" type="string" />
        <property name="createdTime" typeRef="EnvironmentProperties_createdTime_def" />
        <property name="lastModifiedTime" typeRef="EnvironmentProperties_lastModifiedTime_def" />
        <property name="provisioningState" type="string" />
        <property name="creationType" type="string" />
        <property name="environmentSku" type="string" />
        <property name="environmentType" type="string" />
        <property name="isDefault" type="boolean" />
      </object>
      <object isDynamicSchema="true" name="ApiConnectionParameters" />
      <string name="Connection_name_def" />
      <object name="Connection">
        <property name="name" type="string" />
        <property name="properties" typeRef="ConnectionProperties" />
      </object>
      <string name="ConnectionProperties_displayName_def" />
      <string name="ConnectionProperties_apiId_def" />
      <dateTimeString name="ConnectionProperties_createdTime_def" />
      <dateTimeString name="ConnectionProperties_lastModifiedTime_def" />
      <object name="ConnectionProperties">
        <property name="displayName" type="string" />
        <property name="apiId" type="string" />
        <property name="createdTime" typeRef="ConnectionProperties_createdTime_def" />
        <property name="lastModifiedTime" typeRef="ConnectionProperties_lastModifiedTime_def" />
        <property name="connectionParameters" typeRef="ApiConnectionParameters" />
      </object>
      <string name="Api_name_def" />
      <object name="Api">
        <property name="name" type="string" />
        <property name="properties" typeRef="ApiProperties" />
      </object>
      <string name="ApiProperties_displayName_def" />
      <dateTimeString name="ApiProperties_createdTime_def" />
      <string name="ApiProperties_primaryRuntimeUrl_def" />
      <string name="ApiProperties_iconUri_def" />
      <object name="ApiProperties">
        <property name="displayName" type="string" />
        <property name="createdTime" typeRef="ApiProperties_createdTime_def" />
        <property name="connectionParameters" typeRef="ApiConnectionParameters" />
        <property name="primaryRuntimeUrl" type="string" />
        <property name="iconUri" type="string" />
      </object>
      <array typeRef="ConnectionReference" name="ConnectionReferencesArray" />
      <mapObject name="ConnectionReferencesDictionary">
        <values typeRef="ConnectionReference" />
      </mapObject>
      <string name="ConnectionReference_connectionName_def" />
      <string name="ConnectionReference_displayName_def" />
      <string name="ConnectionReference_id_def" />
      <object name="ConnectionReference">
        <property name="connectionName" type="string" />
        <property name="displayName" type="string" />
        <property name="id" type="string" />
        <property name="apiDefinition" typeRef="ApiWithoutConnectionParameters" />
      </object>
      <string name="ApiWithoutConnectionParameters_name_def" />
      <object name="ApiWithoutConnectionParameters">
        <property name="name" type="string" />
        <property name="properties" typeRef="ApiPropertiesWithoutConnectionParameters" />
      </object>
      <string name="ApiPropertiesWithoutConnectionParameters_displayName_def" />
      <dateTimeString name="ApiPropertiesWithoutConnectionParameters_createdTime_def" />
      <string name="ApiPropertiesWithoutConnectionParameters_primaryRuntimeUrl_def" />
      <string name="ApiPropertiesWithoutConnectionParameters_iconUri_def" />
      <boolean name="ApiPropertiesWithoutConnectionParameters_isCustomApi_def" />
      <string name="ApiPropertiesWithoutConnectionParameters_tier_def" />
      <object name="ApiPropertiesWithoutConnectionParameters">
        <property name="displayName" type="string" />
        <property name="createdTime" typeRef="ApiPropertiesWithoutConnectionParameters_createdTime_def" />
        <property name="primaryRuntimeUrl" type="string" />
        <property name="iconUri" type="string" />
        <property name="isCustomApi" type="boolean" />
        <property name="tier" type="string" />
      </object>
      <string name="ConnectionWithoutConnectionParameters_name_def" />
      <object name="ConnectionWithoutConnectionParameters">
        <property name="name" type="string" />
        <property name="properties" typeRef="ConnectionPropertiesWithoutConnectionParameters" />
      </object>
      <string name="ConnectionPropertiesWithoutConnectionParameters_displayName_def" />
      <string name="ConnectionPropertiesWithoutConnectionParameters_apiId_def" />
      <dateTimeString name="ConnectionPropertiesWithoutConnectionParameters_createdTime_def" />
      <dateTimeString name="ConnectionPropertiesWithoutConnectionParameters_lastModifiedTime_def" />
      <object name="ConnectionPropertiesWithoutConnectionParameters">
        <property name="displayName" type="string" />
        <property name="apiId" type="string" />
        <property name="createdTime" typeRef="ConnectionPropertiesWithoutConnectionParameters_createdTime_def" />
        <property name="lastModifiedTime" typeRef="ConnectionPropertiesWithoutConnectionParameters_lastModifiedTime_def" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://australia-001.azure-apim.net/apim/flowmanagement">
    <resource path="/{connectionId}/apis">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="ListApis" siena:isDeprecated="false">
        <doc title="List Connectors&#xA;Lists all of the connectors available in the given environment. This list will include custom connectors as well as the built-in connectors." />
        <request>
          <param style="query" name="environmentName" type="xs:string" required="true">
            <doc title="Select environment" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResourceArray_ux5B_ApiWithoutConnectionParameters_ux5D_" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/apis/{apiName}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="apiName" type="xs:string" required="true">
        <doc title="Select connector" />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="GetApi" siena:isDeprecated="false" siena:isDynamicSchema="true">
        <doc title="Get Connector&#xA;Get the given connector in an environment." />
        <request>
          <param style="query" name="environmentName" type="xs:string" required="true">
            <doc title="Select environment" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:Api" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/apis/{apiName}/connections">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="apiName" type="xs:string" required="true">
        <doc title="Select connector" />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="CreateConnection" siena:isDeprecated="false" siena:isDynamicSchema="true">
        <doc title="Create Connection&#xA;Create a connection for the given connector in an environment." />
        <request>
          <param style="query" name="environmentName" type="xs:string" required="true">
            <doc title="Select environment" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="name" path="/name" type="xs:string" />
            <param style="plain" name="properties" path="/properties" type="service:ConnectionProperties" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:Connection" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/connections">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="ListConnections" siena:isDeprecated="false">
        <doc title="List My Connections&#xA;Lists all your connection available in the given environment." />
        <request>
          <param style="query" name="environmentName" type="xs:string" required="true">
            <doc title="Select environment" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResourceArray_ux5B_ConnectionWithoutConnectionParameters_ux5D_" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/environments">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="ListUserEnvironments" siena:isDeprecated="false">
        <doc title="List My Environments&#xA;List the environments you have access to." />
        <request />
        <response>
          <representation mediaType="application/json" element="service:ResourceArray_ux5B_Environment_ux5D_" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/environments/{environmentName}/flows/{flowName}/owners">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="environmentName" type="xs:string" required="true">
        <doc title="Select environment" />
      </param>
      <param style="template" name="flowName" type="xs:string" required="true">
        <doc title="Select flow" />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="ListFlowOwners" siena:isDeprecated="false">
        <doc title="List Flow Owners&#xA;List all owners of the given flow in an environment." />
        <request />
        <response>
          <representation mediaType="application/json" element="service:ResourceArray_ux5B_FlowPermission_ux5D_" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/environments/{environmentName}/flows/{flowName}/modifyOwners">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="environmentName" type="xs:string" required="true">
        <doc title="Select environment" />
      </param>
      <param style="template" name="flowName" type="xs:string" required="true">
        <doc title="Select flow" />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="ModifyFlowOwners" siena:isDeprecated="false">
        <doc title="Modify Flow Owners&#xA;Modify owners of the given flow in an environment." />
        <request>
          <representation mediaType="application/json">
            <param style="plain" name="put" path="/put" type="service:ModifyFlowPermissionPayload_put_def">
              <doc title="Add User" />
            </param>
            <param style="plain" name="delete" path="/delete" type="service:ModifyFlowPermissionPayload_delete_def">
              <doc title="Remove User" />
            </param>
          </representation>
        </request>
      </method>
    </resource>
    <resource path="/{connectionId}/environments/{environmentName}/flows/{flowName}/users">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="environmentName" type="xs:string" required="true">
        <doc title="Select environment" />
      </param>
      <param style="template" name="flowName" type="xs:string" required="true">
        <doc title="Select flow" />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="ListFlowUsers" siena:isDeprecated="false">
        <doc title="List Flow Run-Only Users&#xA;List all run only users of the given flow in an environment." />
        <request />
        <response>
          <representation mediaType="application/json" element="service:ResourceArray_ux5B_FlowPermission_ux5D_" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/environments/{environmentName}/flows/{flowName}/modifyUsers">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="environmentName" type="xs:string" required="true">
        <doc title="Select environment" />
      </param>
      <param style="template" name="flowName" type="xs:string" required="true">
        <doc title="Select flow" />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="ModifyRunOnlyUsers" siena:isDeprecated="false">
        <doc title="Modify Run-Only Users&#xA;Modify run-only users of the given flow in an environment." />
        <request>
          <representation mediaType="application/json">
            <param style="plain" name="put" path="/put" type="service:ModifyFlowPermissionPayload_put_def">
              <doc title="Add User" />
            </param>
            <param style="plain" name="delete" path="/delete" type="service:ModifyFlowPermissionPayload_delete_def">
              <doc title="Remove User" />
            </param>
          </representation>
        </request>
      </method>
    </resource>
    <resource path="/{connectionId}/environments/{environmentName}/flows">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="environmentName" type="xs:string" required="true">
        <doc title="Select environment" />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="ListMyFlows" siena:isDeprecated="false">
        <doc title="List My Flows&#xA;List all flows you created in the given environment." />
        <request />
        <response>
          <representation mediaType="application/json" element="service:ResourceArray_ux5B_AdminFlow_ux5D_" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/environments/{environmentName}/flows">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="environmentName" type="xs:string" required="true">
        <doc title="Select environment" />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="CreateFlow" siena:isDeprecated="false">
        <doc title="Create Flow&#xA;Create flow" />
        <request>
          <representation mediaType="application/json">
            <param style="plain" name="name" path="/name" type="xs:string" />
            <param style="plain" name="properties" path="/properties" type="service:FlowWithConnectionReferencesProperties" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:Flow" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/environments/{environmentName}/flows/{flowName}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="environmentName" type="xs:string" required="true">
        <doc title="Select environment" />
      </param>
      <param style="template" name="flowName" type="xs:string" required="true">
        <doc title="Select flow" />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="GetFlow" siena:isDeprecated="false">
        <doc title="Get Flow&#xA;Get the given flow in an environment." />
        <request />
        <response>
          <representation mediaType="application/json" element="service:FlowWithConnectionReferences" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/environments/{environmentName}/flows/{flowName}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="environmentName" type="xs:string" required="true">
        <doc title="Select environment" />
      </param>
      <param style="template" name="flowName" type="xs:string" required="true">
        <doc title="Select flow" />
      </param>
      <method siena:requiresAuthentication="true" name="DELETE" id="DeleteFlow" siena:isDeprecated="false">
        <doc title="Delete Flow&#xA;Delete the given flow in an environment" />
        <request />
      </method>
    </resource>
    <resource path="/{connectionId}/environments/{environmentName}/flows/{flowName}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="environmentName" type="xs:string" required="true">
        <doc title="Select environment" />
      </param>
      <param style="template" name="flowName" type="xs:string" required="true">
        <doc title="Select flow" />
      </param>
      <method siena:requiresAuthentication="true" name="PATCH" id="UpdateFlow" siena:isDeprecated="false">
        <doc title="Update Flow&#xA;Update the given flow in an environment." />
        <request>
          <representation mediaType="application/json">
            <param style="plain" name="name" path="/name" type="xs:string" />
            <param style="plain" name="properties" path="/properties" type="service:FlowWithConnectionReferencesProperties" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:Flow" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/environments/{environmentName}/flows/{flowName}/stop">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="environmentName" type="xs:string" required="true">
        <doc title="Select environment" />
      </param>
      <param style="template" name="flowName" type="xs:string" required="true">
        <doc title="Select flow" />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="StopFlow" siena:isDeprecated="false">
        <doc title="Turn Off Flow&#xA;Stop the given flow in an environment." />
        <request />
      </method>
    </resource>
    <resource path="/{connectionId}/environments/{environmentName}/flows/{flowName}/start">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="environmentName" type="xs:string" required="true">
        <doc title="Select environment" />
      </param>
      <param style="template" name="flowName" type="xs:string" required="true">
        <doc title="Select flow" />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="StartFlow" siena:isDeprecated="false">
        <doc title="Turn On Flow&#xA;Start the given flow in an environment." />
        <request />
      </method>
    </resource>
    <resource path="/{connectionId}/scopes/admin/environments/{environmentName}/flows">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="environmentName" type="xs:string" required="true">
        <doc title="Select environment" />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="ListFlowsInEnvironment" siena:isDeprecated="false">
        <doc title="List Flows as Admin&#xA;List all flows in the given environment you have admin access to." />
        <request>
          <param style="query" name="$top" type="xs:long">
            <doc title="Top count" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResourceArray_ux5B_AdminFlow_ux5D_" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/scopes/admin/environments/{environmentName}/flows/{flowName}/modifyOwners">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="environmentName" type="xs:string" required="true">
        <doc title="Select environment" />
      </param>
      <param style="template" name="flowName" type="xs:string" required="true">
        <doc title="Select flow" />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="AdminModifyFlowOwners" siena:isDeprecated="false">
        <doc title="Modify Flow Owners as Admin&#xA;Modify owners of the given flow created in an environment you have admin access to." />
        <request>
          <representation mediaType="application/json">
            <param style="plain" name="put" path="/put" type="service:ModifyFlowPermissionPayload_put_def">
              <doc title="Add User" />
            </param>
            <param style="plain" name="delete" path="/delete" type="service:ModifyFlowPermissionPayload_delete_def">
              <doc title="Remove User" />
            </param>
          </representation>
        </request>
      </method>
    </resource>
    <resource path="/{connectionId}/scopes/admin/environments/{environmentName}/flows/{flowName}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="environmentName" type="xs:string" required="true">
        <doc title="Select environment" />
      </param>
      <param style="template" name="flowName" type="xs:string" required="true">
        <doc title="Select flow" />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="AdminGetFlow" siena:isDeprecated="false">
        <doc title="Get Flow as Admin&#xA;Get the given flow from an environment you have admin access to." />
        <request />
        <response>
          <representation mediaType="application/json" element="service:AdminFlowWithConnectionReferences" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="shared_flowmanagement" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>