CenterofExcellenceCoreComponents/SolutionPackage/src/CanvasApps/src/admin_adminaccessthisflow_b2d62/pkgs/Wadl/Office365Users.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://unitedstates-002.azure-apim.net/apim/office365users" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="Office365Users" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Office 365 Users">Office 365 Users Connection provider lets you access user profiles in your organization using your Office 365 account. You can perform various actions such as get your profile, a user's profile, a user's manager or direct reports and also update a user profile.</doc>
  <grammars>
    <jsonTypes targetNamespace="https://unitedstates-002.azure-apim.net/apim/office365users" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="GraphUserUpdateable_V1_aboutMe_def" />
      <dateTimeString name="GraphUserUpdateable_V1_birthday_def" />
      <string name="GraphUserUpdateable_V1_interests_def_items_def" />
      <array type="string" name="GraphUserUpdateable_V1_interests_def" />
      <string name="GraphUserUpdateable_V1_mySite_def" />
      <string name="GraphUserUpdateable_V1_pastProjects_def_items_def" />
      <array type="string" name="GraphUserUpdateable_V1_pastProjects_def" />
      <string name="GraphUserUpdateable_V1_schools_def_items_def" />
      <array type="string" name="GraphUserUpdateable_V1_schools_def" />
      <string name="GraphUserUpdateable_V1_skills_def_items_def" />
      <array type="string" name="GraphUserUpdateable_V1_skills_def" />
      <object name="GraphUserUpdateable_V1">
        <property name="aboutMe" type="string" />
        <property name="birthday" typeRef="GraphUserUpdateable_V1_birthday_def" />
        <property name="interests" typeRef="GraphUserUpdateable_V1_interests_def" />
        <property name="mySite" type="string" />
        <property name="pastProjects" typeRef="GraphUserUpdateable_V1_pastProjects_def" />
        <property name="schools" typeRef="GraphUserUpdateable_V1_schools_def" />
        <property name="skills" typeRef="GraphUserUpdateable_V1_skills_def" />
      </object>
      <string name="GraphTrending_id_def" />
      <number name="GraphTrending_weight_def" />
      <object name="GraphTrending">
        <property name="id" type="string" />
        <property name="weight" type="number" />
        <property name="resourceVisualization" typeRef="resourceVisualization" />
        <property name="resourceReference" typeRef="resourceReference" />
      </object>
      <string name="resourceVisualization_title_def" />
      <string name="resourceVisualization_type_def" />
      <string name="resourceVisualization_mediaType_def" />
      <string name="resourceVisualization_previewImageUrl_def" />
      <string name="resourceVisualization_previewText_def" />
      <string name="resourceVisualization_containerWebUrl_def" />
      <string name="resourceVisualization_containerDisplayName_def" />
      <string name="resourceVisualization_containerType_def" />
      <object name="resourceVisualization">
        <property name="title" type="string" />
        <property name="type" type="string" />
        <property name="mediaType" type="string" />
        <property name="previewImageUrl" type="string" />
        <property name="previewText" type="string" />
        <property name="containerWebUrl" type="string" />
        <property name="containerDisplayName" type="string" />
        <property name="containerType" type="string" />
      </object>
      <string name="resourceReference_webUrl_def" />
      <string name="resourceReference_id_def" />
      <string name="resourceReference_type_def" />
      <object name="resourceReference">
        <property name="webUrl" type="string" />
        <property name="id" type="string" />
        <property name="type" type="string" />
      </object>
      <array typeRef="Person" name="LinklessEntityListResponse_ux5B_List_ux5B_Person_ux5D_ux5D__value_def" />
      <object name="LinklessEntityListResponse_ux5B_List_ux5B_Person_ux5D_ux5D_">
        <property name="value" typeRef="LinklessEntityListResponse_ux5B_List_ux5B_Person_ux5D_ux5D__value_def" />
      </object>
      <string name="Person_id_def" />
      <string name="Person_displayName_def" />
      <string name="Person_givenName_def" />
      <string name="Person_surname_def" />
      <string name="Person_birthday_def" />
      <string name="Person_personNotes_def" />
      <boolean name="Person_isFavorite_def" />
      <string name="Person_jobTitle_def" />
      <string name="Person_companyName_def" />
      <string name="Person_department_def" />
      <string name="Person_officeLocation_def" />
      <string name="Person_profession_def" />
      <string name="Person_userPrincipalName_def" />
      <string name="Person_imAddress_def" />
      <array typeRef="ScoredEmailAddress" name="Person_scoredEmailAddresses_def" />
      <array typeRef="Phone" name="Person_phones_def" />
      <object name="Person">
        <property name="id" type="string" />
        <property name="displayName" type="string" />
        <property name="givenName" type="string" />
        <property name="surname" type="string" />
        <property name="birthday" type="string" />
        <property name="personNotes" type="string" />
        <property name="isFavorite" type="boolean" />
        <property name="jobTitle" type="string" />
        <property name="companyName" type="string" />
        <property name="department" type="string" />
        <property name="officeLocation" type="string" />
        <property name="profession" type="string" />
        <property name="userPrincipalName" type="string" />
        <property name="imAddress" type="string" />
        <property name="scoredEmailAddresses" typeRef="Person_scoredEmailAddresses_def" />
        <property name="phones" typeRef="Person_phones_def" />
      </object>
      <string name="ScoredEmailAddress_address_def" />
      <number name="ScoredEmailAddress_relevanceScore_def" />
      <object name="ScoredEmailAddress">
        <property name="address" type="string" />
        <property name="relevanceScore" type="number" />
      </object>
      <string name="Phone_number_def" />
      <string name="Phone_type_def" />
      <object name="Phone">
        <property name="number" type="string" />
        <property name="type" type="string" />
      </object>
      <string name="User_Id_def" />
      <boolean name="User_AccountEnabled_def" />
      <string name="User_BusinessPhones_def_items_def" />
      <array type="string" name="User_BusinessPhones_def" />
      <string name="User_City_def" />
      <string name="User_CompanyName_def" />
      <string name="User_Country_def" />
      <string name="User_Department_def" />
      <string name="User_DisplayName_def" />
      <string name="User_GivenName_def" />
      <string name="User_JobTitle_def" />
      <string name="User_Mail_def" />
      <string name="User_MailNickname_def" />
      <string name="User_mobilePhone_def" />
      <string name="User_OfficeLocation_def" />
      <string name="User_PostalCode_def" />
      <string name="User_Surname_def" />
      <string name="User_TelephoneNumber_def" />
      <string name="User_UserPrincipalName_def" />
      <object name="User">
        <property name="Id" type="string" />
        <property name="AccountEnabled" type="boolean" />
        <property name="BusinessPhones" typeRef="User_BusinessPhones_def" />
        <property name="City" type="string" />
        <property name="CompanyName" type="string" />
        <property name="Country" type="string" />
        <property name="Department" type="string" />
        <property name="DisplayName" type="string" />
        <property name="GivenName" type="string" />
        <property name="JobTitle" type="string" />
        <property name="Mail" type="string" />
        <property name="MailNickname" type="string" />
        <property name="mobilePhone" type="string" />
        <property name="OfficeLocation" type="string" />
        <property name="PostalCode" type="string" />
        <property name="Surname" type="string" />
        <property name="TelephoneNumber" type="string" />
        <property name="UserPrincipalName" type="string" />
      </object>
      <boolean name="ClientPhotoMetadata_HasPhoto_def" />
      <integer name="ClientPhotoMetadata_Height_def" />
      <integer name="ClientPhotoMetadata_Width_def" />
      <string name="ClientPhotoMetadata_ContentType_def" />
      <string name="ClientPhotoMetadata_ImageFileExtension_def" />
      <object name="ClientPhotoMetadata">
        <property name="HasPhoto" type="boolean" />
        <property name="Height" type="integer" />
        <property name="Width" type="integer" />
        <property name="ContentType" type="string" />
        <property name="ImageFileExtension" type="string" />
      </object>
      <object name="Object" />
      <array typeRef="User" name="EntityListResponse_ux5B_IReadOnlyList_ux5B_User_ux5D_ux5D__value_def" />
      <string name="EntityListResponse_ux5B_IReadOnlyList_ux5B_User_ux5D_ux5D___ux40_odata_nextLink_def" />
      <object name="EntityListResponse_ux5B_IReadOnlyList_ux5B_User_ux5D_ux5D_">
        <property name="value" typeRef="EntityListResponse_ux5B_IReadOnlyList_ux5B_User_ux5D_ux5D__value_def" />
        <property name="@odata.nextLink" type="string" />
      </object>
      <string name="GraphUser_V1_aboutMe_def" />
      <boolean name="GraphUser_V1_accountEnabled_def" />
      <dateTimeString name="GraphUser_V1_birthday_def" />
      <string name="GraphUser_V1_businessPhones_def_items_def" />
      <array type="string" name="GraphUser_V1_businessPhones_def" />
      <string name="GraphUser_V1_city_def" />
      <string name="GraphUser_V1_companyName_def" />
      <string name="GraphUser_V1_country_def" />
      <string name="GraphUser_V1_department_def" />
      <string name="GraphUser_V1_displayName_def" />
      <string name="GraphUser_V1_givenName_def" />
      <dateTimeString name="GraphUser_V1_hireDate_def" />
      <string name="GraphUser_V1_id_def" />
      <string name="GraphUser_V1_interests_def_items_def" />
      <array type="string" name="GraphUser_V1_interests_def" />
      <string name="GraphUser_V1_jobTitle_def" />
      <string name="GraphUser_V1_mail_def" />
      <string name="GraphUser_V1_mailNickname_def" />
      <string name="GraphUser_V1_mobilePhone_def" />
      <string name="GraphUser_V1_mySite_def" />
      <string name="GraphUser_V1_officeLocation_def" />
      <string name="GraphUser_V1_pastProjects_def_items_def" />
      <array type="string" name="GraphUser_V1_pastProjects_def" />
      <string name="GraphUser_V1_postalCode_def" />
      <string name="GraphUser_V1_preferredLanguage_def" />
      <string name="GraphUser_V1_preferredName_def" />
      <string name="GraphUser_V1_responsibilities_def_items_def" />
      <array type="string" name="GraphUser_V1_responsibilities_def" />
      <string name="GraphUser_V1_schools_def_items_def" />
      <array type="string" name="GraphUser_V1_schools_def" />
      <string name="GraphUser_V1_skills_def_items_def" />
      <array type="string" name="GraphUser_V1_skills_def" />
      <string name="GraphUser_V1_state_def" />
      <string name="GraphUser_V1_streetAddress_def" />
      <string name="GraphUser_V1_surname_def" />
      <string name="GraphUser_V1_userPrincipalName_def" />
      <string name="GraphUser_V1_userType_def" />
      <object name="GraphUser_V1">
        <property name="aboutMe" type="string" />
        <property name="accountEnabled" type="boolean" />
        <property name="birthday" typeRef="GraphUser_V1_birthday_def" />
        <property name="businessPhones" typeRef="GraphUser_V1_businessPhones_def" />
        <property name="city" type="string" />
        <property name="companyName" type="string" />
        <property name="country" type="string" />
        <property name="department" type="string" />
        <property name="displayName" type="string" />
        <property name="givenName" type="string" />
        <property name="hireDate" typeRef="GraphUser_V1_hireDate_def" />
        <property name="id" type="string" />
        <property name="interests" typeRef="GraphUser_V1_interests_def" />
        <property name="jobTitle" type="string" />
        <property name="mail" type="string" />
        <property name="mailNickname" type="string" />
        <property name="mobilePhone" type="string" />
        <property name="mySite" type="string" />
        <property name="officeLocation" type="string" />
        <property name="pastProjects" typeRef="GraphUser_V1_pastProjects_def" />
        <property name="postalCode" type="string" />
        <property name="preferredLanguage" type="string" />
        <property name="preferredName" type="string" />
        <property name="responsibilities" typeRef="GraphUser_V1_responsibilities_def" />
        <property name="schools" typeRef="GraphUser_V1_schools_def" />
        <property name="skills" typeRef="GraphUser_V1_skills_def" />
        <property name="state" type="string" />
        <property name="streetAddress" type="string" />
        <property name="surname" type="string" />
        <property name="userPrincipalName" type="string" />
        <property name="userType" type="string" />
      </object>
      <string name="UpdateMyPhoto_param_body_def" />
      <array typeRef="GraphTrending" name="MyTrendingDocuments_responses_200_def_value_def" />
      <object name="MyTrendingDocuments_responses_200_def">
        <property name="value" typeRef="MyTrendingDocuments_responses_200_def_value_def" />
      </object>
      <string name="UserPhoto_responses_200_def" />
      <array typeRef="User" name="DirectReports_responses_200_def" />
      <array typeRef="User" name="SearchUser_responses_200_def" />
      <array typeRef="GraphUser_V1" name="DirectReports_V2_responses_200_def_value_def" />
      <object name="DirectReports_V2_responses_200_def">
        <property name="value" typeRef="DirectReports_V2_responses_200_def_value_def" />
      </object>
      <string name="UserPhoto_V2_responses_200_def" />
      <array typeRef="GraphTrending" name="TrendingDocuments_responses_200_def_value_def" />
      <object name="TrendingDocuments_responses_200_def">
        <property name="value" typeRef="TrendingDocuments_responses_200_def_value_def" />
      </object>
      <string name="HttpRequest_param_Body_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://unitedstates-002.azure-apim.net/apim/office365users">
    <resource path="/{connectionId}/codeless/v1.0/me">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="PATCH" id="UpdateMyProfile" actionName="UpdateMyProfile" visibility="advanced" siena:isDeprecated="false" siena:status="Production">
        <doc title="Update my profile&#xA;Updates the profile of the current user" />
        <request>
          <representation mediaType="application/json">
            <param style="plain" name="aboutMe" path="/aboutMe" type="xs:string" />
            <param style="plain" name="birthday" path="/birthday" type="service:GraphUserUpdateable_V1_birthday_def" />
            <param style="plain" name="interests" path="/interests" type="service:GraphUserUpdateable_V1_interests_def" />
            <param style="plain" name="mySite" path="/mySite" type="xs:string" />
            <param style="plain" name="pastProjects" path="/pastProjects" type="service:GraphUserUpdateable_V1_pastProjects_def" />
            <param style="plain" name="schools" path="/schools" type="service:GraphUserUpdateable_V1_schools_def" />
            <param style="plain" name="skills" path="/skills" type="service:GraphUserUpdateable_V1_skills_def" />
          </representation>
        </request>
      </method>
    </resource>
    <resource path="/{connectionId}/codeless/v1.0/me">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="MyProfileV2" actionName="MyProfile_V2" siena:isDeprecated="false" siena:family="MyProfile" siena:revision="2" siena:status="Production">
        <doc title="Get my profile (V2)&#xA;Retrieves the profile of the current user. Learn more about available fields to select: https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/resources/user#properties" />
        <request>
          <param style="query" name="$select" type="xs:string">
            <doc title="Comma separated list of fields to select. Example: surname, department, jobTitle" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:GraphUser_V1" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/codeless/v1.0/me/photo/$value">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="PUT" id="UpdateMyPhoto" actionName="UpdateMyPhoto" visibility="advanced" siena:isDeprecated="false" siena:status="Production">
        <doc title="Update my profile photo&#xA;Updates the profile photo of the current user. The size of the photo must be less than 4 MB." />
        <request>
          <param style="header" name="Content-Type" type="xs:string" required="true" default="image/jpeg">
            <doc title="Image content type (like 'image/jpeg')" />
          </param>
          <representation mediaType="application/octet-stream" />
        </request>
      </method>
    </resource>
    <resource path="/{connectionId}/codeless/beta/me/insights/trending">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="MyTrendingDocuments" actionName="MyTrendingDocuments" siena:isDeprecated="false">
        <doc title="Get my trending documents&#xA;Retrieves the trending documents for the signed in user" />
        <request>
          <param style="query" name="$filter" type="xs:string">
            <doc title="An OData filter to filter the resources selected. Filter selected resources on ResourceVisualization/Type or ResourceVisualization/containerType" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:MyTrendingDocuments_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/users/{userId}/relevantpeople">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="userId" type="xs:string" required="true">
        <doc title="User principal name or id." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="RelevantPeople" actionName="RelevantPeople" visibility="advanced" siena:isDeprecated="false">
        <doc title="Get relevant people&#xA;Get relevant people." />
        <request />
        <response>
          <representation mediaType="application/json" element="service:LinklessEntityListResponse_ux5B_List_ux5B_Person_ux5D_ux5D_" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/users/me">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="MyProfile" actionName="MyProfile" visibility="advanced" siena:isDeprecated="true" siena:family="MyProfile" siena:revision="1" siena:status="Production">
        <doc title="Get my profile (V1)&#xA;Retrieves the profile of the current user." />
        <request />
        <response>
          <representation mediaType="application/json" element="service:User" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/users/{userId}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="userId" type="xs:string" required="true">
        <doc title="User principal name or id." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="UserProfile" actionName="UserProfile" visibility="advanced" siena:isDeprecated="true" siena:family="UserProfile" siena:revision="1" siena:status="Production">
        <doc title="Get user profile (V1)&#xA;Retrieves the profile of a specific user." />
        <request />
        <response>
          <representation mediaType="application/json" element="service:User" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/users/photo">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="UserPhotoMetadata" actionName="UserPhotoMetadata" siena:isDeprecated="false">
        <doc title="Get user photo metadata&#xA;Get user photo metadata." />
        <request>
          <param style="query" name="userId" type="xs:string" required="true">
            <doc title="User principal name or id." />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ClientPhotoMetadata" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/users/photo/value">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="UserPhoto" actionName="UserPhoto" visibility="advanced" siena:isDeprecated="true" siena:family="UserPhoto" siena:revision="1" siena:status="Production">
        <doc title="Get user photo (V1)&#xA;Retrieves the photo of the specified user if they have one." />
        <request>
          <param style="query" name="userId" type="xs:string" required="true">
            <doc title="User principal name or id." />
          </param>
        </request>
        <response>
          <representation mediaType="application/octet-stream" siena:dtype="image" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/users/{userId}/manager">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="userId" type="xs:string" required="true">
        <doc title="User principal name or id." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="Manager" actionName="Manager" visibility="advanced" siena:isDeprecated="true" siena:family="Manager" siena:revision="1" siena:status="Production">
        <doc title="Get manager (V1)&#xA;Retrieves the profile of the specified user's manager." />
        <request />
        <response>
          <representation mediaType="application/json" element="service:User" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/users/{userId}/directReports">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="userId" type="xs:string" required="true">
        <doc title="User principal name or id." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="DirectReports" actionName="DirectReports" visibility="advanced" siena:isDeprecated="true" siena:family="DirectReports" siena:revision="1" siena:status="Production">
        <doc title="Get direct reports (V1)&#xA;Retrieves the user profiles of the specified user's direct reports." />
        <request />
        <response>
          <representation mediaType="application/json" element="service:DirectReports_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/users">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="SearchUser" actionName="SearchUser" visibility="advanced" siena:isDeprecated="true" siena:family="SearchUser" siena:revision="1" siena:status="Production">
        <doc title="Search for users&#xA;Retrieves the user profiles that match the search term." />
        <request>
          <param style="query" name="searchTerm" type="xs:string">
            <doc title="Search string (applies to: display name, given name, surname, mail, mail nickname and user principal name)." />
          </param>
          <param style="query" name="top" type="xs:int" default="0">
            <doc title="Limit on the number of results to return. By default returns all entries." />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:SearchUser_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v2/users">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="SearchUserV2" actionName="SearchUserV2" visibility="advanced" siena:isDeprecated="false" siena:family="SearchUser" siena:revision="2" siena:status="Production">
        <doc title="Search for users (V2)&#xA;Retrieves the user profiles that match the search term (V2)." />
        <request>
          <param style="query" name="searchTerm" type="xs:string">
            <doc title="Search string (applies to: display name, given name, surname, mail, mail nickname and user principal name)." />
          </param>
          <param style="query" name="top" type="xs:int">
            <doc title="Limit on the number of results to return. Minimum value is 1. Default value is 1000." />
          </param>
          <param style="query" name="isSearchTermRequired" type="xs:boolean" default="true">
            <doc title="If set to 'Yes' then no user profiles will be returned when the search term is empty. If set to 'No' then no filtering will be applied when the search term is empty." />
          </param>
          <param style="query" name="skipToken" type="xs:string">
            <doc title="Skip token to get next users." />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:EntityListResponse_ux5B_IReadOnlyList_ux5B_User_ux5D_ux5D_" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/codeless/v1.0/users/{id}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="id" type="xs:string" required="true">
        <doc title="User principal name or id." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="UserProfileV2" actionName="UserProfile_V2" siena:isDeprecated="false" siena:family="UserProfile" siena:revision="2" siena:status="Production">
        <doc title="Get user profile (V2)&#xA;Retrieves the profile of a specific user. Learn more about available fields to select: https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/resources/user#properties" />
        <request>
          <param style="query" name="$select" type="xs:string">
            <doc title="Comma separated list of fields to select. Example: surname, department, jobTitle" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:GraphUser_V1" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/codeless/v1.0/users/{id}/manager">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="id" type="xs:string" required="true">
        <doc title="User principal name or id." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="ManagerV2" actionName="Manager_V2" siena:isDeprecated="false" siena:family="Manager" siena:revision="2" siena:status="Production">
        <doc title="Get manager (V2)&#xA;Retrieves the profile of the specified user's manager. Learn more about available fields to select: https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/resources/user#properties" />
        <request>
          <param style="query" name="$select" type="xs:string">
            <doc title="Comma separated list of fields to select. Example: surname, department, jobTitle" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:GraphUser_V1" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/codeless/v1.0/users/{id}/directReports">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="id" type="xs:string" required="true">
        <doc title="User principal name or id." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="DirectReportsV2" actionName="DirectReports_V2" siena:isDeprecated="false" siena:family="DirectReports" siena:revision="2" siena:status="Production">
        <doc title="Get direct reports (V2)&#xA;Retrieves the user profiles of the specified user's direct reports. Learn more about available fields to select: https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/resources/user#properties" />
        <request>
          <param style="query" name="$select" type="xs:string">
            <doc title="Comma separated list of fields to select. Example: surname, department, jobTitle" />
          </param>
          <param style="query" name="$top" type="xs:int">
            <doc title="Limit on the number of results to return. By default returns all entries." />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:DirectReports_V2_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/codeless/v1.0/users/{id}/photo/$value">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="id" type="xs:string" required="true">
        <doc title="User principal name or id." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="UserPhotoV2" actionName="UserPhoto_V2" siena:isDeprecated="false" siena:family="UserPhoto" siena:revision="2" siena:status="Production">
        <doc title="Get user photo (V2)&#xA;Retrieves the photo of the specified user if they have one" />
        <request />
        <response>
          <representation mediaType="application/octet-stream" siena:dtype="image" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/codeless/beta/users/{id}/insights/trending">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="id" type="xs:string" required="true">
        <doc title="User principal name or id." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="TrendingDocuments" actionName="TrendingDocuments" siena:isDeprecated="false">
        <doc title="Get trending documents&#xA;Retrieves the trending documents for a user" />
        <request>
          <param style="query" name="$filter" type="xs:string">
            <doc title="An OData filter to filter the resources selected. Filter selected resources on ResourceVisualization/Type or ResourceVisualization/containerType" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:TrendingDocuments_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/codeless/httprequest">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="HttpRequest" actionName="HttpRequest" visibility="important" siena:isDeprecated="false" siena:status="Preview">
        <doc title="Send an HTTP request&#xA;Construct a Microsoft Graph REST API request to invoke. These segments are supported: 1st segement: /me, /users/&lt;userId&gt; 2nd segment: messages, mailFolders, events, calendar, calendars, outlook, inferenceClassification. Learn more: https://docs.microsoft.com/en-us/graph/use-the-api." />
        <request>
          <param style="header" name="Uri" type="xs:string" required="true">
            <doc title="The full or relative URI. Example: https://graph.microsoft.com/{version}/{resource}." />
          </param>
          <param style="header" name="Method" type="xs:string" required="true" default="GET">
            <doc title="The HTTP method (default is GET)." />
            <option value="GET" />
            <option value="POST" />
            <option value="PUT" />
            <option value="PATCH" />
            <option value="DELETE" />
          </param>
          <param style="header" name="ContentType" type="xs:string" default="application/json">
            <doc title="The content-type header for the body (default is application/json)." />
          </param>
          <param style="header" name="CustomHeader1" type="xs:string">
            <doc title="Custom header 1. Specify in format: header-name: header-value" />
          </param>
          <param style="header" name="CustomHeader2" type="xs:string">
            <doc title="Custom header 2. Specify in format: header-name: header-value" />
          </param>
          <param style="header" name="CustomHeader3" type="xs:string">
            <doc title="Custom header 3. Specify in format: header-name: header-value" />
          </param>
          <param style="header" name="CustomHeader4" type="xs:string">
            <doc title="Custom header 4. Specify in format: header-name: header-value" />
          </param>
          <param style="header" name="CustomHeader5" type="xs:string">
            <doc title="Custom header 5. Specify in format: header-name: header-value" />
          </param>
          <representation mediaType="application/octet-stream" />
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="shared_office365users" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>