CenterofExcellenceCoreComponents/SolutionPackage/src/CanvasApps/src/admin_emailconfiguration_d275f/pkgs/Wadl/Admin%7cSyncTemplatev3ConfigureEmails.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="Admin|SyncTemplatev3ConfigureEmails" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Admin | Sync Template v3 Configure Emails" />
  <grammars>
    <jsonTypes targetNamespace="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <boolean name="ManualTriggerInput_boolean_def" />
      <boolean name="ManualTriggerInput_boolean_1_def" />
      <boolean name="ManualTriggerInput_boolean_2_def" />
      <string name="ManualTriggerInput_text_def" />
      <object name="ManualTriggerInput">
        <property name="boolean" type="boolean" />
        <property name="boolean_1" type="boolean" />
        <property name="boolean_2" type="boolean" />
        <property name="text" type="string" />
      </object>
      <string name="ResponseActionOutput_return_def" />
      <object name="ResponseActionOutput">
        <property name="return" type="string" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://unitedstates-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="boolean" path="/boolean" type="xs:boolean" required="true">
              <doc title="ConfigureAll" />
            </param>
            <param style="plain" name="boolean_1" path="/boolean_1" type="xs:boolean">
              <doc title="ResetSubject" />
            </param>
            <param style="plain" name="boolean_2" path="/boolean_2" type="xs:boolean">
              <doc title="ResetBody" />
            </param>
            <param style="plain" name="text" path="/text" type="xs:string">
              <doc title="ResetThisMail" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>