CenterofExcellenceCoreComponents/SolutionPackage/src/CanvasApps/src/admin_admincommandcenter_78913/pkgs/Wadl/RSS.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://unitedstates-002.azure-apim.net/apim/rss" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="RSS" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="RSS">RSS is a popular web syndication format used to publish frequently updated content – like blog entries and news headlines.  Many content publishers provide an RSS feed to allow users to subscribe to it.  Use the RSS connector to retrieve feed information and trigger flows when new items are published in an RSS feed.</doc>
  <grammars>
    <jsonTypes targetNamespace="https://unitedstates-002.azure-apim.net/apim/rss" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <array typeRef="FeedItem" name="TriggerBatchResponse_ux5B_FeedItem_ux5D__value_def" />
      <object name="TriggerBatchResponse_ux5B_FeedItem_ux5D_">
        <property name="value" typeRef="TriggerBatchResponse_ux5B_FeedItem_ux5D__value_def" />
      </object>
      <string name="FeedItem_id_def" />
      <string name="FeedItem_title_def" />
      <string name="FeedItem_primaryLink_def" />
      <string name="FeedItem_links_def_items_def" />
      <array type="string" name="FeedItem_links_def" />
      <string name="FeedItem_updatedOn_def" />
      <string name="FeedItem_publishDate_def" />
      <string name="FeedItem_summary_def" />
      <string name="FeedItem_copyright_def" />
      <string name="FeedItem_categories_def_items_def" />
      <array type="string" name="FeedItem_categories_def" />
      <object name="FeedItem">
        <property name="id" type="string" />
        <property name="title" type="string" />
        <property name="primaryLink" type="string" />
        <property name="links" typeRef="FeedItem_links_def" />
        <property name="updatedOn" type="string" />
        <property name="publishDate" type="string" />
        <property name="summary" type="string" />
        <property name="copyright" type="string" />
        <property name="categories" typeRef="FeedItem_categories_def" />
      </object>
      <array typeRef="FeedItem" name="ListFeedItems_responses_200_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://unitedstates-002.azure-apim.net/apim/rss">
    <resource path="/{connectionId}/ListFeedItems">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="ListFeedItems" visibility="important" siena:isDeprecated="false">
        <doc title="List all RSS feed items&#xA;This operation retrieves all items from an RSS feed." />
        <request>
          <param style="query" name="feedUrl" type="xs:string" required="true">
            <doc title="The RSS feed URL (Example: http://rss.cnn.com/rss/cnn_topstories.rss)." />
          </param>
          <param style="query" name="since" type="xs:string">
            <doc title="The date since when RSS feed should be retrieved (Example: 2018-12-29 10:24:05Z)." />
          </param>
          <param style="query" name="sinceProperty" type="xs:string" default="PublishDate">
            <doc title="Chosen property will be used for trigger state." />
            <option value="PublishDate" />
            <option value="UpdatedOn" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ListFeedItems_responses_200_def" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="shared_rss" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>